@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
      @for (x of catForm.highlighted_sections; track x; let i = $index) {
        <div class="poss-rel card p-3 mb-3">
          <span (click)="catForm.highlighted_sections.splice(i, 1);" class="material-icons float-right round-btn-icon ab-item-close top5" aria-hidden="true">close</span>
          <div class="row pt-3 pb-3">
            <div class="col-md-12">
              <p class="dark-font">Section {{(catForm.highlighted_sections.length > 1)? i+1: ''}}</p>
            </div>
          </div>
          <div class="row">
            <!-- Image -->
            <div class="col-md-12 col-lg-6 d-flex">
              <div class="card card-in-card w-100 p-3 mb-3">
                <div class="desktop-banner" align="center">
                  <p>600 x 600 pixels &#64;72ppi</p>
                  @if (!x.image) {
                    <i class="material-icons">add_photo_alternate</i>
                  }
                  @if (x.image) {
                    <figure class="desktop-layout-image-sec">
                      @if (x?.img_change) {
                        <img [src]="x.temp_img">
                      }
                      @if (!x?.img_change) {
                        <img [src]="imgBaseUrl+x.image">
                      }
                    </figure>
                  }
                </div>
                <div class="h-100 d-flex align-items-end">
                  <div class="custom-file mt-2">
                    <input type="file" name="layout_img" class="custom-file-input" [required]="!x.image" (change)="fileChangeListener(i, $event)"
                      accept="image/jpeg, image/png, image/webp">
                      <label class="custom-file-label">Choose file</label>
                    </div>
                  </div>
                  @if (x.err_msg) {
                    <div class="mt-2">
                      <p class="mb-0 error-msg">Accept file size upto 500 KB</p>
                    </div>
                  }
                </div>
              </div>
              <!-- Content -->
              <div class="col-md-12 col-lg-6 d-flex justify-content-center align-items-center form-group mb-3">
                <div class="card w-100 p-3 mb-3">
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label>Rank</label>
                      <input type="number" (wheel)="commonService.handleWheel($event)" name="rank{{i}}" class="form-control" [(ngModel)]="x.rank" #rank="ngModel" appNumberOnly required />
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      <label>Heading</label>
                      <input type="text" name="heading{{i}}" class="form-control" [(ngModel)]="x.heading" #heading="ngModel" required />
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      <label>Sub-heading</label>
                      <textarea class="form-control" aria-label="With textarea" name="sub_heading{{i}}" [(ngModel)]="x.sub_heading" #sub_heading="ngModel"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <!-- #Content -->
              <!-- Link -->
              <div class="col-md-12 col-lg-6 d-flex justify-content-center align-items-center form-group mb-3">
                <div class="card w-100 p-3 mb-3">
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label class="checkbox checkbox-primary">
                        <input class="form-check-input" type="checkbox" name="link_status{{i}}" [(ngModel)]="x.link_status" (change)="x.link_type='category'; x.btn_status=false; x.btn_text='';" #link_status="ngModel">
                        <span>Enable Link</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  @if (x.link_status) {
                    <div class="row">
                      <div class="col-md-6 form-group mb-3">
                        <label class="radio radio-primary">
                          <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="category">
                          <span>Link to Catalog</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label class="radio radio-primary">
                          <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="product">
                          <span>Link to Product</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label class="radio radio-primary">
                          <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="internal">
                          <span>Link to Internal Link</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      <div class="col-md-6 form-group mb-3">
                        <label class="radio radio-primary">
                          <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="external">
                          <span>Link to External Link</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      @if (x.link_type=='category' || x.link_type=='product') {
                        <div class="col-md-12 form-group mb-3">
                          <label>{{x.link_type=='category'? 'Link to Catalog': 'Catalogs'}}</label>
                          <select name="category_id{{i}}" class="form-control select-arrow" (change)="x.productList=[]" [(ngModel)]="x.category_id" #category_id="ngModel" required>
                            @for (y of commonService.catalog_list | orderAsc: 'name'; track y) {
                              <option [ngValue]="y._id">{{y.name}}</option>
                            }
                          </select>
                        </div>
                      }
                      @if (x.link_type=='product') {
                        <div class="col-md-9 form-group mb-3">
                          <input type="text" name="search_bar{{i}}" placeholder="Search" (input)="x.productList=[]" class="form-control" [(ngModel)]="x.search_bar" />
                        </div>
                        <div class="col-md-3 form-group mb-3 d-flex justify-content-end">
                          <button [disabled]="!x.category_id || x.search_bar?.length<3" type="button"
                          (click)="searchProduct(x.category_id, x.search_bar, i);" class="btn search-btn btn-wide btn-primary">Search</button>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>Link to Product
                            @if (x.searchLoader) {
                              <i class="ml-1 fa fa-circle-o-notch fa-spin search-spin"></i>
                            }
                            @if (!x.searchLoader && x.category_id && x.search_bar?.length>=3) {
                              ({{x.productList.length}} products found)
                            }
                          </label>
                          <select name="product_id{{i}}" class="form-control select-arrow" [(ngModel)]="x.product_id" required>
                            @for (y of x.productList; track y) {
                              <option [ngValue]="y._id">{{y.name}}</option>
                            }
                          </select>
                        </div>
                      }
                      @if (x.link_type=='internal' || x.link_type=='external') {
                        <div class="col-md-12 form-group mb-3">
                          @if (x.link_type=='internal') {
                            <label>{{commonService.store_details?.base_url}}{{x.link}}</label>
                          }
                          @if (x.link_type=='external') {
                            <label>External Link</label>
                          }
                          <input type="text" name="link{{i}}" class="form-control" [(ngModel)]="x.link" #int_link="ngModel" required />
                        </div>
                      }
                      <div class="col-md-12 form-group mb-3">
                        <label class="checkbox checkbox-primary">
                          <input class="form-check-input" type="checkbox" name="btn_status{{i}}" [(ngModel)]="x.btn_status" (change)="x.btn_text='';" #btn_status="ngModel">
                          <span>Enable Button</span>
                          <span class="checkmark"></span>
                        </label>
                      </div>
                      @if (x.btn_status) {
                        <div class="col-md-12 form-group mb-3">
                          <label>Button Text</label>
                          <input type="text" name="btn_text{{i}}" class="form-control" [(ngModel)]="x.btn_text" maxlength="25" required #btn_text="ngModel" />
                        </div>
                      }
                    </div>
                  }
                </div>
              </div>
              <!-- #Link -->
            </div>
          </div>
        }
        @if (catForm.highlighted_sections.length<10) {
          <div  class="row m-0">
            <div class="col-md-4">
              <button type="button" class="light-button" (click)="catForm.highlighted_sections.push({});">
                <span class="material-symbols-rounded">ADD</span>NEW
              </button>
            </div>
          </div>
        }
        <div class="separator-breadcrumb border-top mt-5"></div>
        <div class="row">
          @if (catForm.errorMsg) {
            <div class="col-md-12 mt-3 mb-3">
              <p class="text-danger" align="center">{{ catForm.errorMsg }}</p>
            </div>
          }
          <div align="center" class="col-md-12 z-i-0">
            <button type="button" routerLink="/setup/layouts/home" class="btn btn-wide black-outline-btn">
              <span class="black-outline-txt">Cancel</span>
            </button>&nbsp; &nbsp; &nbsp;
            <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="catForm.submit" [ladda]="catForm.submit">Update</button>
          </div>
        </div>
      </form>
    </div>
  }