    <div class="help-content">
        <!-- <ol class="breadcrumbs">
            <li><a href="https://www.hankly.com/help-center">Help Center</a></li>
            <li>
                Promo Codes
            </li>
        </ol> -->
        <div class="help-section">
            <h2>Create a Promotional/Offer Code</h2>
            <ol>
                <li>
                    Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go to <a routerLink="/setting/coupon-codes">Marketing Tools → Offers</a>
                </li>
                <li>
                    Click "Create New Offer" on the top right corner.
                </li>
                <li>
                    Type the Promo Code you want your customers to use to get discounts in the Discount Code field. For example:
                    <ul>
                        <li>OFF40 - to offer 40% Off</li>
                        <li>New10 - to offer 10% off during New Year</li>
                        <li>FLAT100 - to offer flat ₹100 off</li>
                    </ul>
                </li>
                <li>
                    Select Type of the Offer based on weather you want to offer a percentage
                    discount or a flat discount.
                </li>
                <li>
                    Enter the discount value of the coupon code
                    <ol>
                        <li>In case of percentage discount, For 40% discount enter 40</li>
<li>
                    If you want to limit your customers to a maximum amount of discount, enter the
                    amount in Enbale Discount Upto checkbox and enter the amount.
                    <p class="note" id="yellow-note">
                        For example, if you want your customers to get a maximum discount of ₹500 on a
                        Promo code 50OFF that offers 50% discount, enter 500 in Discount Upto field.
                    </p>
                        </li>
                        <li>In case of flat discount, for ₹100 discunt, enter 100</li>
                    </ol>
                </li>
                <li>
                 For the offer to work, you can set the requirement as minimum purchase amount or minimum quantity of items or you can set both. Entering 0 allows user to apply the discount on purchase amount without any minimum requirements.
                </li>
                <li>
                    If you want your promo code to work on a minimum order purchase amount, enter the amount in
                    Minimum Purchase Amount textbox.
                    <p class="note" id="yellow-note">
                        For example, if you want your customers to use FLAT500 on minimum order value of
                        5000. Enter 5000 in the minimum order textbox.
                    </p>
                </li>
                
                <li>
                    If you want your promo code to work on a minimum quantity of items , enter the quantity in
Minimum quantity of items textbox.
                    <p class="note" id="yellow-note">
                        For example, if you want your customers to use FLAT500 on minimum order quantiy of 5 items on checkout.
                      Enter 5 in the Minimum quantity of items textbox.
                    </p>
                </li>
                <li>
                    If you do not want to set any minimum order conditions, leave the value in the textbox as 0.
                </li>
                                                <li>
                    Limit to one use per customer helps you to limit the number of times a user can use a promo code, enabling this option asks the user login to make a purchase instead of doing a guest checkout.
                </li>
                                                                                <li>
                    Limit to number of times can be used helps you to limit the number of times the coupon can be redemed or used overall.
                </li>
                <li>
                    Set a start date and time for the promo code, optionally you can set end date as well.
                </li>
                <li>
                    Click "Add".
                </li>
            </ol>
        </div>
        <div class="help-section">
            <h2>Editing a Promo Code</h2>
            <ol>
                <li>
                    Go to your <a target="_blank" href="https://yourstore.io/login/dashboard">Yourstore
                        Dashboard</a> and Go to <a target="_blank"
                        href="https://yourstore.io/login/setting/coupon-codes">Marketing Tools → Offers</a>
                </li>
                <li>
                    Click the view button to make changes to the offer code. 
                </li>
                <li>
                    Follow the steps in Create a Promotional/Offer Code to edit your offer code.
                </li>
                <li>
                    Click "Update".
                </li>
            </ol>
        </div>
        <div class="help-section">
            <h2>Deactivating a Promo Code</h2>
            <ol>
                <li>
Go to your <a target="_blank" href="https://yourstore.io/login/dashboard">Yourstore
                        Dashboard</a> and Go to <a target="_blank"
                        href="https://yourstore.io/login/setting/coupon-codes">Marketing Tools → Offers</a>
                </li>
                <li>
                    Click the view button to disable the offer code that you want to deactivate. 
                </li>
                <li>
                    Use the toggle to “Enable/Disable” an offer code.
                </li>
                                                <li>
                    Click "Update".
                </li>
            </ol>
        </div>
    </div>
