<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>{{ (params?.type=='inactive')? 'Inactive': '' }} Payments</h1>
  </div>

  <div class="top-filter-sec list-button mt-2">
    <div class="row mb-4">
      <div class="col-md-3 col-6">
        <div class="form-group search_bar m-0">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
          <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="form-group">
          <select name="type" class="form-control select-arrow" [(ngModel)]="filterForm.type" (change)="ngOnInit();">
            <option value="all">All</option>
            <option *ngFor="let x of commonService.ys_payment_list;" [ngValue]="x.name">{{x.name}}</option>
          </select>
        </div>
      </div>

      <div class="col-md-3 col-6">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="from_date"
            [(ngModel)]="filterForm.from_date" (ngModelChange)="ngOnInit();" bsDatepicker
            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="form-group">
          <input type="text" placeholder="Select Date" class="form-control" name="to_date"
            [(ngModel)]="filterForm.to_date" (ngModelChange)="ngOnInit();" bsDatepicker [minDate]="filterForm.from_date"
            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
        </div>
      </div>
    </div>
  </div>

    <!-- DATA LIST -->
    <div *ngIf="(list | gridSearch: { order_number: search_bar, store_name: search_bar, store_email: search_bar })?.length" class="list-horizontal">
      <div class="data-list-card-wrapper">
        <div class="data-list-card-inner">
          <div class="list-item data-list-card" *ngFor="let x of list | gridSearch: { order_number: search_bar, store_name: search_bar, store_email: search_bar } | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
            <div class="col-md-10 col-10 first_col px-0">
              <p class="w-20 w-sm-100 m-b-0 dark-font">#{{x.order_number}}</p>
              <p class="w-20 w-sm-100 m-b-0 light-font" *ngIf="params?.type=='active'">{{x.invoice_number}}</p>
              <p class="w-25 w-sm-100 m-b-0 light-font">{{ x.store_name }}</p>
              <p class="w-25 w-sm-100 m-b-0 light-font">{{x.created_on | date: "dd MMM y hh:mm a"}}</p>
              <p class="w-10 w-sm-100 m-b-0 light-font">
                {{x.payment_details?.name}}<br>
                {{x.amount | currency: x.currency_type?.country_code}}
              </p>
            </div>
            <div class="col-md-2 col-2">
              <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                <a href="{{env.img_baseurl}}uploads/{{x.store_id}}/invoices/{{x._id}}.pdf?v=1" target="_blank" [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'">
                  <span class="material-symbols-rounded" title="Share">download</span> {{commonService.desktop_device? 'Invoice': ''}}
                </a>
              </div>
            </div>
            
          </div>
          
        </div>
      </div>
  
      <!-- PAGINATION CONTROL -->
      <div class="row">
        <div class="col-md-12 mt-3">
          <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>
    </div>



  <div *ngIf="!(list | gridSearch: { order_number: search_bar, store_name: search_bar, store_email: search_bar })?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display</p>
    </div>
  </div>

</div>