<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Navigation</a>
        </li>
        <li>Header Menu</li>
    </ol> -->
    <div class="help-section">
        <h2>Website Header</h2>
        <p>A header is important to let visitors know what they're looking for and where to find
            it. You should make sure that the header is easy to understand so people can easily find
            their way around the store. </p>
        <h2>How to Edit Website Header?</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/features/menus">Website → Header Menu</a>
            </li>
        </ol>
        <h2>Adding a New Menu Item</h2>
        <ol>
            <li>
                Click "Add New Menu"
            </li>
            <li>
                Input a name for your menu.
            </li>
            <li>
                Use rank to set the position of the menu.
            </li>
            <li>
                Clicking on "Enable Link", will give you four choices for linking the menu with.
            </li>
            <ul>
                <li>
                    <h3>Link to Catalog</h3>
                    <ul>
                        <li>
                            Choose the catalog you would like to link to from the dropdown.
                            <p class="note" id="yellow-note">
                                If you don't see a catalog, create a new catalog by going to <a
                                routerLink="/product-sections/catalogs">Products →  Catalog & Products</a>
                            </p>
                        </li>

                    </ul>
                </li>
                <li>
                    <h3>Link to Product</h3>
                    <ul>
                        <li>
                            Choose the product you would like to link to from the dropdown.
                        </li>
                        <p class="note" id="yellow-note">
                            If you don't see a product, create a new product by going to <a
                            routerLink="/product-sections/products">Products → All Products</a>
                        </p>
                    </ul>
                </li>          
            <li>
                <h3>Link to Internal Link</h3>
                <ul>
                    <li>
                        Enter the portion of URL of any internal pages created using extra pages or
                        any other pages in the website excluding the part already displayed.
                    </li>

                    <p class="note" id="yellow-note">
                        You can create a new page by going to <a routerLink="/setup/pages/extra-pages">Website → Pages → Extra Pages</a>
                    </p>
                </ul>
            </li>
            <li>
                <h3>Link to External Link</h3>
                <ul>
                    <li>
                        Enter the URL of the page to be redirected to on clicking the menu. </li>

                    <p class="note" id="yellow-note">
                        Your link must start with an http:// or https://

                    </p>
                </ul>
            </li>
         
            <li>
                Click "Add" to save changes.
            </li>
            </ul>
        </ol>
        <h2>Adding a new section, categories &amp sub-categories in menu item</h2>
        <ol>
            <li>
                Click on View and then select “Add Section”, to add an additional level to the menu structure.
            </li>
            <li>
                On the section created click on View and then select “Add Category”, to add a second level to the menu structure.
            </li>
            <li>
                On the category created click on  View and then select “Add Sub-Category”, to add a third level to the menu structure.
            </li>
            <li>
                To add more menu items you can refer “Adding a New Menu Item” section above if you need help on adding multiple menu items.
            </li>
        </ol>

        <h2>Editing an Existing Menu Item</h2>
        <ol>
            <li>
                Click "Edit" on the menu item.
            </li>
            <li>
                Make changes as per your needs, refer "Adding a New Menu Item" section if you need
                help on editing the menu items.
            </li>
            <li>
                Click "Update" to save changes.
            </li>
        </ol>
        <h2>Re-ordering Menu Items</h2>
        <ol>
            <li>
                Click "Edit" button next to the menu.
            </li>
            <li>
                Use numbers in Rank to change the position of the menu.
            </li>
            <li>
                Click "Update" to save changes.
            </li>
        </ol>
    </div>
</div>