<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>Creating your Account</li>
    </ol> -->
    <div class="help-section">
        <h1>Getting Started with Yourstore</h1>
        <p>
            We at Yourstore, care about you and your business. We know it's hard to juggle all the
            demands, that's why we strive to make things easier for you. You always come at the top
            of our list. We're here to help you. With our easy-to-use tools, we can answer any
            questions you might have about creating a website as well as ship your product to the
            customer. Everything is covered here so you don’t have to figure it out for yourself.
        </p>
    </div>
    <div class="help-section">
        <h2>Creating your account</h2>
        <h3>Signup</h3>
        <ol>
            <li>
                Click on Start selling on the top navigation bar of the homepage.
            </li>
            <li>
                Complete the fields with your Name, Mobile Number, Email ID and your Password.
            </li>
            <li>
                Click "Create Account" and fillup with the other basic details requested for store
                creation.
            </li>
        </ol>
        <h3>Verify your E-Mail</h3>
        <ol>
            <li>
                A verification email will be sent to your email for store activation. Open the email
                you used to register your account on Yourstore and click on the link received to
                activate.
            </li>
            <li>
                Once the activation link is clicked, you can proceed to login, access your Yourstore
                Dashboard and start using.
            </li>

            <p class="note" id="yellow-note">
                If you haven't received an email, please check your Spam/Junk folder. Remember to
                mark "Not Spam" this email so it can be delivered to your Inbox when we send future
                updates.
                If your unable to locate the email in spam/junk or inbox, click this <a
                routerLink="/"> link</a> and enter the Email Id &
                Password used to create your account to receive the email once again.
            </p>

        </ol>
    </div>
</div>