<div class="help-content">
    <div class="help-section">
        <h2>Failed Payment</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/orders/product/inactive/all">Orders → Failed Payment </a>
            </li>
            <li>This lists the orders that the user tried to make payment for but abandoned the order for various reasons like payment failure or change of decision. You can contact the customers with the details provided to convert it to sale.
            </li>       
            <li>If you're using Razorpay you can use the check status button to check the status of the payment or order.
            </li>     
        </ol>
        
    </div>
</div>
