<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Managing Products</a>
        </li>
        <li>Add New Product</li>
    </ol> -->
    <div class="help-section">

        <div class="help-section">
            <h2>Editing a Product</h2>
            <ol>
                <li>
                    Go to your <a routerLink="/dashboard">Yourstore
                        Dashboard</a> and Go to <a routerLink="/product-sections/products">Products → All Products</a>
                </li>
                <li>
                    Click the Edit button next to the product that you want to edit.
                </li>
                <li>
                    Follow the steps in <a routerLink="/support/products">Add New Product</a> to edit your product.
                </li>
                <li>
                    Click "Update".
                </li>
            </ol>
        </div>

    </div>
</div>