<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div *ngIf="commonService.desktop_device" class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center">
          <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
          <h1>{{commonService.secondary_header}}</h1>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!params.card_id">
    <div class="top-filter-sec list-button">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
      </div>
    </div>

    <!-- DATA LIST -->
    <div *ngIf="(list | fieldSearch:'name':search_bar)?.length" class="list-horizontal mt-2">
      <div class="data-list-card-wrapper">
        <div class="data-list-card-inner">
          <div class="list-item data-list-card" *ngIf="commonService.desktop_device">
            <div class="col-md-10 col-10 first_col px-0 header-font">
              <p class="w-60 w-sm-100 m-b-0">Name</p>
              <p class="w-40 w-sm-100 m-b-0">Tiles</p>
            </div>
          </div>
          <div class="list-item data-list-card"
            *ngFor="let x of list | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
            [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
            <div class="col-md-10 col-10 first_col px-0">
              <p class="w-60 w-sm-100 m-b-0 dark-font">{{x.name}}</p>
              <p class="w-40 w-sm-100 light-font m-b-0">{{ x.cards?.length }} Tiles</p>
            </div>
            <div class="col-md-2 col-2">
              <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                <button [ngClass]="commonService.desktop_device? 'light-button': 'iconbutton'"
                  routerLink="/setup/layouts/home/grid/{{params.layout_id}}/{{x._id}}">
                  <span class="material-symbols-rounded right_arrow transicon"
                    title="View Images">{{commonService.desktop_device? 'visibility': 'chevron_right'}}</span>
                  {{commonService.desktop_device? 'View': ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PAGINATION CONTROL -->
      <div class="row">
        <div class="col-md-12 mt-3">
          <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>
    </div>

    <div *ngIf="!(list | fieldSearch:'name':search_bar)?.length" class="row">
      <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
        <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
        <p align="center">No data to display</p>
      </div>
    </div>
  </ng-container>

  <form *ngIf="params.card_id" autocomplete="off" (ngSubmit)="onUpdateLayout();" ngNativeValidate ngbAutofocus>

    <div *ngFor="let cData of cardDetails.cards; let k=index;" class="card p-4 mb-3">
      <span *ngIf="cardDetails.cards.length>1" (click)="cardDetails.cards.splice(k, 1);" class="material-icons float-right round-btn-icon ab-item-close top5" aria-hidden="true">close</span>
      <div class="row">
        <div class="col-md-6 form-group">
          <label>{{k+1}}) Name</label>
          <input type="text" name="name{{k}}" class="form-control" [(ngModel)]="cData.name" required />
        </div>
        <div *ngIf="cData.image_list?.length<10" class="col-md-6 list-button d-flex justify-content-end">
          <label>
            <input type="file" style="display: none;" name="image{{k}}" (change)="fileChangeListener(cData.image_list, $event);"  accept="image/jpeg, image/png, image/webp" multiple/>
            <div class="button-label">
              <span class="material-symbols-rounded">add</span>Images
            </div>
          </label>
        </div>
      </div>

      <!-- Image List -->
      <div class="row mt-3 mb-3">
        <div align="center" class="col-md-4 col-lg-3 form-group" *ngFor="let x of cData.image_list; let i=index;">
          <div class="card p-3">
            <span (click)="cData.image_list.splice(i, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
            <img *ngIf="x.image" [src]="x.image" height="150" width="auto">
            <img *ngIf="x.name" [src]="imgBaseUrl+x.name" height="150" width="auto">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-center align-items-center form-group mb-3">
          <div class="card w-100 p-3 mb-3">
            <div class="row align-items-center">
              <div class="col-md-6 form-group">
                <label class="radio radio-primary">
                  <input type="radio" name="primary" [(ngModel)]="cardDetails.primary" [value]="k">
                  <span>Mark as Primary</span>
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label>Link to Catalog</label>
                <select name="category_id{{k}}" class="form-control select-arrow" [(ngModel)]="cData.category_id"
                  #category_id="ngModel" required>
                  <option [ngValue]="y._id" *ngFor="let y of commonService.catalog_list | orderAsc: 'name'">{{y.name}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="cardDetails?.cards?.length<15" class="row m-0">
      <div class="col-md-4">
        <button type="button" class="light-button" (click)="cardDetails.cards.push({ image_list: [] });">
          <span class="material-symbols-rounded">ADD</span>NEW
        </button>
      </div>
    </div>

    <div class="separator-breadcrumb border-top mt-5"></div>
    <div class="row">
      <div class="col-md-12 mt-3 mb-3" *ngIf="cardDetails.errorMsg">
        <p class="text-danger" align="center">{{ cardDetails.errorMsg }}</p>
      </div>
      <div align="center" class="col-md-12 z-i-0">
        <button type="button" [routerLink]="commonService.redirect" class="btn btn-wide black-outline-btn">
          <span class="black-outline-txt">Cancel</span>
        </button>&nbsp; &nbsp; &nbsp;
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="cardDetails.submit"
          [ladda]="cardDetails.submit">Update</button>
      </div>
    </div>

  </form>
</div>