<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Design Website</a>
        </li>
        <li>Upload Website Logo</li>
    </ol> -->
    <div class="help-section">
        <h2>Uploading your Website Logo</h2>
        <p> Engage with customers and make an impression. A strong brand presence extends beyond
            your storefront and into the real world, so make sure that your logo is representative
            of your service's quality and values.</p>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setting/store/logo-management">Settings → Store
                    Settings → Logo Management</a>
            </li>
            <li>
                Click the "Browse" button.
            </li>
            <li>
                Select the file you want to upload as your logo.
            </li>
            <li>
                Select your websites primary and secondary colour from the list of suggestions based
                on the colours in your logo.
            </li>
            <li>
                Alternatively you can use "Pick custom colour" button to choose any colour of your
                choice.
            </li>
            <li>
                Under "Store Logos" you can choose to change the logos of your favicon, social and
                mail by following the recommended resolution.
            </li>
        </ol>
        <h2>Creating Website Logo</h2>
        <ol>
            <li>
                Click on "Create your logo" button to create a new logo with our FREE logo maker
                tool.
            </li>
            <li>
                Input your brand name, select your layout style, select font, colour, icons and your
                brand logo is now ready.
            </li>
            <li>
                You can also choose to try out our Suggested Design recommendation for you.
            </li>
            <li>
                Download the logo with white background (option 1) in PNG format.
            </li>
            <li>
                Upload the downloaded logo to your store by following the steps mentioned under
                "Uploading your Website Logo".
            </li>
        </ol>
        <h3>Recommendations for your Logo</h3>
        <ul>
            <li>Keep it minimal.</li>
            <li>Remove the extra white space from your logo, to make the logo more clear and
                legible.</li>
        </ul>
    </div>
</div>