<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12">
        <h1>DiNAMIC Offers</h1>
        <ul>
          <li>Create and edit your dinamic offers</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="separator-breadcrumb border-top"></div>
  <div class="top-filter-sec">
    <div class="row mb-4">
      <div class="col-6">
        <button type="button" class="btn btn-primary" routerLink="/features/dinamic-offers/add">Add Offer</button>
      </div>
      <!-- search box -->
      <div class="col-md-6 mt-sm-15">
        <div class="form-group">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
        </div>
      </div>
    </div>
  </div>

  <!-- DATA LIST -->
  <div class="row list-horizontal">
    <div *ngFor="let x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
      class="list-item col-md-12" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">

      <div class="card o-hidden mb-4 d-flex flex-row">
        <div class="list-thumb d-flex align-items-center">
          <img [src]="imgBaseUrl+x.image_list[0].image" alt="">
        </div>
        <div class="flex-grow-1 pl-2 d-flex">
          <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
            <p class="w-30 w-sm-100 m-b-0">{{x.name}}</p>
            <p class="w-30 w-sm-100 m-b-0">{{commonService.store_details?.base_url}}/offers/{{x.page_url}}</p>
            <p class="m-0 text-muted text-small w-15 w-sm-100 d-lg-block item-actions">
              <button class="btn btn-wide black-outline-btn w-md-100 mr-3" routerLink="/features/dinamic-offers/modify/{{x._id}}">
               <span class="black-outline-txt">Edit</span> 
              </button>
              <button class="btn orng-outline-btn w-md-100" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
               <span class="orng-outline-txt">Remove</span>
              </button>
            </p>
          </div>
        </div>
      </div>

    </div>
    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3" *ngIf="list?.length">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true" maxSize="5" previousLabel=""
        nextLabel=""></pagination-controls>
    </div>
  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display</p>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> discount?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
     <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
     <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>