@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="main-header">
    <h2>Gift Card Orders</h2>
    <div class="header-part-right d-flex">
      @if (
        commonService.ys_features.indexOf('sales_report') != -1 ||
        commonService.ys_features.indexOf('advanced_sales_report') != -1
        ) {
        <div
          class="add_but mr-3"
          >
          <button type="button" (click)="exportAsXLSX()">
            <span class="material-symbols-rounded">file_upload</span>
          </button>
        </div>
      }
      @if (
        commonService.ys_features.indexOf('manual_giftcard') != -1 ||
        commonService.subuser_features.indexOf('manual_giftcard') != -1
        ) {
        <div
          class="add_but"
          (click)="onOpenAdd(addModal);"
          >
          <span class="material-symbols-rounded">add</span>
        </div>
      }
      <!-- <div class="add_but" ngbDropdown role="group" aria-label="Select all" *ngIf="commonService.ys_features.indexOf('sales_report')!=-1 || commonService.ys_features.indexOf('advanced_sales_report')!=-1">
      <div ngbDropdown role="group" aria-label="Select all" placement="bottom-start bottom-end top-start top-end">
        <button ngbDropdownToggle>
          <span class="material-symbols-rounded">more_vert</span>
        </button>
        <div class="dropdown-menu" ngbDropdownMenu>
          <button class="dropdown-item d-flex" (click)="exportAsXLSX();"><span class="material-symbols-rounded mr-2">file_upload</span> Export</button>
        </div>
      </div>
    </div> -->
  </div>
</div>
}
@if (!pageLoader) {
  <div>
    @if (!commonService.desktop_device) {
      <div class="top-filter-sec">
        <div class="row mb-2">
          <div class="col-md-6 col-12">
            <div class="form-group search_bar m-0">
              <input
                type="text"
                name="search_bar"
                placeholder="Search"
                class="form-control"
                [(ngModel)]="search_bar"
                />
                <div class="search_icon">
                  <span class="material-symbols-rounded">search</span>
                </div>
                <div class="filter_icon" (click)="onOpenFilterModal(filterModal)">
                  <span class="material-symbols-rounded cursor">filter_alt</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (commonService.desktop_device) {
        <div class="breadcrumb with-back-btn">
          <div class="row">
            <div class="col-md-8">
              <h1>Gift Card Orders</h1>
            </div>
          </div>
        </div>
        <div class="top-filter-sec list-button">
          <div class="row mb-4">
            <div class="col-md-6">
              <div class="form-group search_bar m-0">
                <input
                  type="text"
                  name="search_bar"
                  placeholder="Search"
                  class="form-control"
                  autocomplete="off"
                  [(ngModel)]="search_bar"
                  />
                  <div class="search_icon">
                    <span class="material-symbols-rounded">search</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 list-button d-flex justify-content-end">
                <button
                  type="button"
                  class="mr-3"
                  (click)="onOpenFilterModal(filterModal)"
                  >
                  <span class="material-symbols-rounded">filter_alt</span>Filter
                </button>
                @if (
                  commonService.ys_features.indexOf('sales_report') != -1 ||
                  commonService.ys_features.indexOf('advanced_sales_report') != -1
                  ) {
                  <button
                    class="mr-3"
                    type="button"
                    (click)="exportAsXLSX()"
                    [disabled]="exportLoader"
                    >
                    <span class="material-symbols-rounded">file_upload</span>Export
                  </button>
                }
                @if (
                  commonService.ys_features.indexOf('manual_giftcard') != -1 ||
                  commonService.subuser_features.indexOf('manual_giftcard') != -1
                  ) {
                  <button
                    class="highbutton"
                    type="button"
                    (click)="onOpenAdd(addModal);"
                    >
                    <span class="material-symbols-rounded">add</span>Gift Coupon
                  </button>
                }
              </div>
            </div>
          </div>
        }
        <!-- DATA LIST -->
        @if (
          (
          list
          | gridSearch
          : {
          order_number: search_bar,
          customer_name: search_bar,
          customer_email: search_bar,
          customer_mobile: search_bar,
          code: search_bar,
          to_name: search_bar,
          to_email: search_bar
        }
        )?.length
        ) {
        <div
          class="list-horizontal mt-3"
          >
          <div class="data-list-card-wrapper">
            <div class="data-list-card-inner">
              @if (commonService.desktop_device) {
                <div
                  class="list-item data-list-card"
                  style="border: unset"
                  >
                  <div class="col-md-6 col-7 first_col px-0 cursor header-font">
                    <p class="w-50 w-sm-100 m-b-0">Order ID</p>
                    <p class="w-50 w-sm-100 m-b-0">Code</p>
                    <!-- <p class="w-30 w-sm-100 m-b-0">Date & Time</p> -->
                  </div>
                  <div
                    class="col-md-6 col-5 first_col px-0 header-font"
                    style="margin-bottom: 0px"
                    >
                    <p class="m-b-0 w-40 w-sm-100">Status</p>
                    <p class="m-b-0 w-40 w-sm-100">Balance</p>
                    <p class="m-b-0 w-20 w-sm-100">&nbsp;</p>
                  </div>
                </div>
              }
              @for (
                x of list
                | numOrderDesc : 'created_on'
                | gridSearch
                : {
                order_number: search_bar,
                customer_name: search_bar,
                customer_email: search_bar,
                customer_mobile: search_bar,
                code: search_bar,
                to_name: search_bar,
                to_email: search_bar
              }
              | paginate : { itemsPerPage: pageSize, currentPage: page }; track
              x; let i = $index) {
              <div
                class="list-item data-list-card"
          [@animate]="{
            value: '*',
            params: { delay: i * 100 + 'ms', y: '50px' }
          }"
                >
                @if (!commonService.desktop_device && x.status == 'active') {
                  @if (checkValid(x.expiry_on)) {
                    @if (x.balance <= 0) {
                      <span class="ribbon-band blue-band"
                        >Used</span
                        >
                    }
                    @if (x.balance > 0) {
                      <span class="ribbon-band green-band"
                        >Active</span
                        >
                      }
                    }
                    @if (!checkValid(x.expiry_on)) {
                      <span class="ribbon-band red-band">Expired</span>
                    }
                  }
                  @if (x.status == 'deactivated' && !commonService.desktop_device) {
                    <span
                      class="ribbon-band yellow-band"
                      >Deactivated</span
                      >
                    }
                    @if (x.order_by == 'admin' && commonService.desktop_device) {
                      <div
                        class="ribbon-band blue-band"
                        >
                        Manual Order
                      </div>
                    }
                    <div
                      class="col-md-6 col-6 first_col px-0 cursor"
                      routerLink="/orders/gift-coupon/{{ x._id }}"
                      >
                      <p class="w-50 w-sm-100 m-b-0 light-font">#{{ x.order_number }}</p>
                      <p class="w-50 w-sm-100 m-b-0 dark-font">{{ x.code }}</p>
                      <!-- <p class="w-30 w-sm-100 m-b-0 light-font">{{x.created_on | date: "dd MMM y hh:mm a"}}</p> -->
                      <!-- <p class="w-30 w-sm-100 m-b-0">{{x.price | currency:commonService.store_currency?.country_code:'symbol':commonService.cFormat}}</p> -->
                    </div>
                    <div
                      class="col-md-6 col-6 first_col px-0"
                      [ngClass]="commonService.desktop_device ? '' : 'd-flex text-right'"
                      >
                      @if (x.status == 'active' && commonService.desktop_device) {
                        <p
                          class="w-30 w-sm-100 m-b-0"
                          >
                          @if (checkValid(x.expiry_on)) {
                            @if (x.balance <= 0) {
                              <span class="badge badge-blue-background"
                                >Used</span
                                >
                              }
                              @if (x.balance > 0) {
                                <span class="badge badge-green-background"
                                  >Active</span
                                  >
                                }
                              }
                              @if (!checkValid(x.expiry_on)) {
                                <span class="badge badge-red-background">Expired</span>
                              }
                            </p>
                          }
                          @if (x.status == 'deactivated' && commonService.desktop_device) {
                            <p
                              class="w-30 w-sm-100 m-b-0"
                              >
                              <span class="badge badge-yellow-background">Deactivated</span>
                            </p>
                          }
                          <div
                            class="d-flex w-30 w-sm-100"
              [ngClass]="
                commonService.desktop_device ? '' : 'justify-content-end'
              "
                            >
                            <span
                              ><span
                              [ngClass]="x.balance > 0 ? 'paid_dot' : 'unpaid_dot'"
                              ></span
                            ></span>
                            <p class="m-b-0 fw-500">
                              <span class="light-font whitespace fw-500">{{
                                x.balance
                                | currency
                                : commonService.store_currency?.country_code
                                : "symbol"
                                : commonService.cFormat
                              }}</span>
                            </p>
                            <p class="light-font m-b-0 fw-500">/</p>
                            <p class="m-b-0 light-font fw-500">
                              {{
                              x.price
                              | currency
                              : commonService.store_currency?.country_code
                              : "symbol"
                              : commonService.cFormat
                              }}
                            </p>
                          </div>
                          @if (commonService.desktop_device) {
                            <div
                              class="w-20 d-flex justify-content-end"
                              >
                              <a
                [ngClass]="
                  commonService.desktop_device ? 'light-button ' : 'iconbutton'
                "
                                routerLink="/orders/gift-coupon/{{ x._id }}"
                                >
                                <span class="material-symbols-rounded right_arrow transicon">{{
                                  commonService.desktop_device ? "visibility" : "chevron_right"
                                }}</span>
                                {{ commonService.desktop_device ? "view" : "" }}
                              </a>
                            </div>
                          }
                        </div>
                      </div>
                    }
                  </div>
                </div>
                <!-- PAGINATION CONTROL -->
                <div class="row">
                  <div class="col-md-12 mt-3">
                    <pagination-controls
                      (pageChange)="page = $event; commonService.pageTop(0)"
                      autoHide="true"
                      responsive="true"
                      maxSize="5"
                      previousLabel=""
                      nextLabel=""
                    ></pagination-controls>
                  </div>
                </div>
              </div>
            }
            @if (
              !(
              list
              | gridSearch
              : {
              order_number: search_bar,
              customer_name: search_bar,
              customer_email: search_bar,
              customer_mobile: search_bar,
              code: search_bar,
              to_name: search_bar,
              to_email: search_bar
            }
            )?.length
            ) {
            <div
              class="row"
              >
              <div
                class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper"
                >
                <img
                  class="no-rec-found"
                  src="assets/images/no_records_found.png"
                  alt="no-records"
                  />
                  <p align="center">No data to display</p>
                </div>
              </div>
            }
          </div>
        }

        <!-- ADD COUPON -->
        <ng-template #addModal let-modal>
          <form autocomplete="off" (ngSubmit)="onAdd()" ngNativeValidate ngbAutofocus>
            <div class="modal-content">
              <div class="modal-header">
                <h4>
                  <span
                    class="material-symbols-rounded cursor"
                    (click)="modal.dismiss('Cross click')"
                    >arrow_back</span
                    >
                    <span class="popup_text">New Gift Coupon</span>
                  </h4>
                </div>
                <div class="modal-body filtersec">
                  <div class="form-group">
                    <div class="row m-0">
                      <div class="col-md-12 form-group mb-3">
                        <label>Price</label>
                        <input
                          type="tel"
                          name="price"
                          class="form-control"
                          [(ngModel)]="addForm.price"
                          #price="ngModel"
                          appNumberOnly
                          required
                          />
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>From Name</label>
                          <input
                            type="text"
                            name="from_name"
                            class="form-control"
                            [(ngModel)]="addForm.from_name"
                            #from_name="ngModel"
                            required
                            />
                          </div>
                          <div class="col-md-12 form-group mb-3">
                            <label>To Name</label>
                            <input
                              type="text"
                              name="to_name"
                              class="form-control"
                              [(ngModel)]="addForm.to_name"
                              #to_name="ngModel"
                              required
                              />
                            </div>
                            <div class="col-md-12 form-group mb-3">
                              <label>To Email</label>
                              <input
                                type="text"
                                name="to_email"
                                class="form-control"
                                [(ngModel)]="addForm.to_email"
                                #to_email="ngModel"
                                required
                                />
                              </div>
                              <div class="col-md-12 form-group mb-3">
                                <label>Message</label>
                                <textarea
                                  class="form-control"
                                  aria-label="With textarea"
                                  name="message"
                                  [(ngModel)]="addForm.message"
                                  #message="ngModel"
                                  required
                                ></textarea>
                              </div>
                              <div class="col-md-12 form-group mb-3">
                                <label>Valid Till</label>
                                <input type="text" placeholder="Select Date" class="form-control" name="expiry_on" autocomplete="off" bsDatepicker
                                  [(ngModel)]="addForm.expiry_on" [bsConfig]="{ showWeekNumbers: false, adaptivePosition: true, dateInputFormat: 'DD-MM-YYYY' }" required readonly />
                                </div>
                              </div>
                            </div>
                            @if (addForm.errorMsg) {
                              <div>
                                <p class="text-danger">{{ addForm.errorMsg }}</p>
                              </div>
                            }
                          </div>
                          <div class="modal-footer">
                            <button
                              type="button"
                              id="closeModal"
                              class="btn btn-wide black-outline-btn"
                              (click)="modal.dismiss('Cross click')"
                              >
                              <span class="black-outline-txt">Cancel</span>
                            </button>
                            <button
                              type="submit"
                              [disabled]="addForm.submit"
                              [ladda]="addForm.submit"
                              class="btn btn-wide btn-primary ladda-button"
                              >
                              Create & Send Mail
                            </button>
                          </div>
                        </div>
                      </form>
                    </ng-template>

                    <!-- Delete Modal -->
                    <ng-template #deleteModal let-modal>
                      <div class="modal-body">
                        <p>
                          <strong
                            >Are you sure you want to remove
                            <span class="txt-grdint-highlight">"{{ deleteForm.code }}"</span> this
                            coupon?</strong
                            >
                          </p>
                          @if (deleteForm.errorMsg) {
                            <div>
                              <p class="text-danger">{{ deleteForm.errorMsg }}</p>
                            </div>
                          }
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            id="closeModal"
                            class="btn btn-wide black-outline-btn"
                            (click)="modal.dismiss('cancel')"
                            >
                            <span class="black-outline-txt">No</span>
                          </button>
                          <button
                            type="button"
                            class="btn btn-wide orng-outline-btn"
                            (click)="onDelete()"
                            >
                            <span class="orng-outline-txt">Yes</span>
                          </button>
                        </div>
                      </ng-template>

                      <!-- filter Modal -->
                      <ng-template #filterModal let-modal>
                        <form autocomplete="off" ngbAutofocus>
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4>
                                <span
                                  class="material-symbols-rounded cursor"
                                  (click)="filterForm = tempFilter; modal.dismiss('Cross click')"
                                  >arrow_back</span
                                  >
                                  <span class="popup_text">Filter</span>
                                </h4>
                              </div>
                              <div class="modal-body filtersec">
                                <div class="row m-0">
                                  <div class="carosal w-100">
                                    <ul class="px-3">
                                      <li>
                                        <a
                                          class="hz_carosal"
                                          [ngClass]="{ carosal_button: selectedItem == 'Status' }"
                                          (click)="selectedItem = 'Status'"
                                          >
                                          By Status
                                        </a>
                                      </li>
                                      <li>
                                        <a
                                          class="hz_carosal"
                                          [ngClass]="{ carosal_button: selectedItem == 'OrderDate' }"
                                          (click)="selectedItem = 'OrderDate'"
                                          >
                                          By Order Date
                                        </a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>

                                @if (selectedItem === 'Status') {
                                  <div class="row m-0 p-3">
                                    <div class="modal-card col-md-12">
                                      @for (x of status_list; track x) {
                                        <div class="radio_buttons col-12">
                                          <input
                                            type="radio"
                                            id="{{ x.value }}"
                                            [value]="x.value"
                                            name="list_type"
                                            [(ngModel)]="filterForm.list_type"
                                            />
                                            <label for="{{ x.value }}">{{ x.name }}</label>
                                          </div>
                                          <div class="col-md-12 border-top"></div>
                                        }
                                      </div>
                                    </div>
                                  }

                                  @if (selectedItem === 'OrderDate') {
                                    <div>
                                      <div class="top-filter-sec mb-3">
                                        <div class="row px-3 m-0">
                                          <!-- from date -->
                                          <div class="col-md-6 col-6">
                                            <div class="form-group">
                                              <input
                                                type="text"
                                                placeholder="Select Date"
                                                class="form-control"
                                                name="from_date"
                                                [(ngModel)]="filterForm.from_date"
                                                bsDatepicker
                    [bsConfig]="{
                      showWeekNumbers: false,
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                                                readonly
                                                />
                                              </div>
                                            </div>
                                            <!-- to date -->
                                            <div class="col-md-6 col-6">
                                              <div class="form-group">
                                                <input
                                                  type="text"
                                                  placeholder="Select Date"
                                                  class="form-control"
                                                  name="to_date"
                                                  [(ngModel)]="filterForm.to_date"
                                                  bsDatepicker
                                                  [minDate]="filterForm.from_date"
                    [bsConfig]="{
                      showWeekNumbers: false,
                      dateInputFormat: 'DD-MM-YYYY'
                    }"
                                                  readonly
                                                  />
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      }
                                    </div>

                                    <div class="modal-footer">
                                      <button
                                        type="button"
                                        id="closeModal"
                                        class="d-none"
                                        (click)="modal.dismiss('cancel')"
                                      ></button>
                                      <button
                                        type="button"
                                        class="btn btn-wide black-outline-btn"
                                        (click)="filterForm = tempFilter; modal.dismiss('cancel')"
                                        >
                                        <span class="black-outline-txt">Cancel</span>
                                      </button>
                                      <button
                                        type="button"
                                        class="btn btn-wide orng-outline-btn m-1"
                                        (click)="getCouponList()"
                                        >
                                        <span class="orng-outline-txt">Apply</span>
                                      </button>
                                    </div>
                                  </div>
                                </form>
                              </ng-template>
