<div class="help-content">
    <div class="help-section">
        <h2>Setup shipping</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setting/shipping-methods">Settings → Shipping Methods</a>
            </li>
            <li>Setup International/Domestic shipping (based on Yourstore plan).</li> 
            <li>Input your shipping Carrier Name, Tracking Link, Delivery Time and Shipping Charge.
            </li>
            <li>You can also set free shipping above a certain value by enabling the Free Shipping checkbox and input the order value above which the free shipping to be provided under Order Above text box.
            </li>
            <li>If you have a Delhivery, Shiprocket, BlueDart, DHL account you can configure the same by inputting the details requested under Shipping Integration.
            </li>
        </ol>
        
    </div>
</div>
