<div class="help-content">
    <div class="help-section">
        <h2>Abandoned Cart Orders</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/orders/abandoned-cart/customer">Orders → Abandoned Cart </a>
            </li>
            <li>In an abandoned cart (available from Yourstore Pro Starter plan) you can find the products that are added by your customers and not purchased, the system auto sends emails to these customers and you can also choose to directly contact the customers with the details available.
            </li>            
        </ol>
        
    </div>
</div>
