<div class="help-content">
    <div class="help-section">
        <h2>Setup Tax</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setting/tax-rates">Settings →Tax Rates</a>
            </li>
            <li>If you are a registered business eligible to collect TAX alone use this option to set up TAX rates.
            </li> 
            <li>By default No Tax option would be available for businesses that don't collect TAX.
            </li>
            <li>You can click add new to set up your TAX rates and multiple TAX slabs/rates can be created.
            </li>
            <p class="note" id="yellow-note">The selling/discounted price of all products listed on the website must be inclusive of the TAX rates. The TAX breakup collected will be shown to the customer on the invoice on purchase.
            </p>
        </ol>
        
    </div>
</div>
