<div class="row poss-rel">

  <div class="col-md-6 col-12 justify-content-center align-items-center mt-3 mt-md-0">
    <div class="col-md-12 col-12 desktop_card">
      <div class="row d-flex">
        <div class="col-12">
          <h6>Your Website</h6>
          <h6 class="shop">
            <a [href]="baseUrl" target="_blank" class="card-data-b-head text-decoration-unl mb-0">
              {{dispUrl}}
            </a>
          </h6>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-6">
          <button class="custom_button2" (click)="shareDomain(false);">
            <span class="material-symbols-rounded">language</span>
            <span>View</span>@if (commonService.desktop_device) {
            <span>&nbsp;Website</span>
          }
        </button>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-end cursor" style="color: #ffffff;"
        (click)="shareDomain(true); share=!share; commonService.copyLink=false;">
        <span class="material-symbols-rounded mb-0">send</span> &nbsp;Share Link
      </div>
    </div>
    @if (commonService.isDesktop && share) {
      <div class="mt-2 shared">
        <div class="bubble_head"></div>
        <div class="bubble_body">
          <span (click)="commonService.onShare('facebook', ''); share=false;">
            <img src="assets/images/facebook.svg" alt="facebook">
            <p>Facebook</p>
          </span>
          <span (click)="commonService.onShare('whatsapp', ''); share=false;">
            <img src="assets/images/whatsapp.svg" alt="whatsapp">
            <p>whatsapp</p>
          </span>
          <span (click)="commonService.onShare('twitter', ''); share=false;">
            <img src="assets/images/twitter.svg" alt="twitter">
            <p>Twitter</p>
          </span>
          <span (click)="commonService.onShare('copy_link', '');">
            <img src="assets/images/link.svg" alt="link">
            <p>{{ (commonService.copyLink)? 'Copied': 'Copy Link' }}</p>
          </span>
        </div>
      </div>
    }
  </div>
</div>



<div class="col-md-12">
  <div class="card p-3 mb-4">
    <h5 class="card-title">Filter</h5>
    <div class="top-filter-sec">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <select name="type" class="form-control select-arrow" [(ngModel)]="filterForm.type"
              (change)="filterForm.type!='custom' ? onFilterChange(filterForm.type): ''">
              <option value="today">Today</option>
              <option value="yesterday">Yesterday</option>
              <option value="last_7_days">Last 7 days</option>
              <option value="last_30_days">Last 30 days</option>
              <option value="current_month">Current month</option>
              <option value="last_month">Last month</option>
              <option value="current_year">Current year</option>
              <option value="last_year">Last year</option>
              <option value="current_fin_year">Current financial year</option>
              <option value="last_fin_year">Last financial year</option>
              <option value="all_time">All time</option>
              <option value="custom">Custom</option>
            </select>
          </div>
        </div>
        @if (filterForm.type=='custom') {
          <div class="col-md-4">
            <div class="form-group">
              <input type="text" placeholder="Select From Date" class="form-control" name="from_date"
                autocomplete="off" [(ngModel)]="filterForm.from_date"
                (ngModelChange)="filterForm.type='custom'; getDashboardData();" bsDatepicker
                [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <input type="text" placeholder="Select To Date" class="form-control" name="to_date" autocomplete="off"
                  [(ngModel)]="filterForm.to_date" (ngModelChange)="filterForm.type='custom'; getDashboardData();"
                  bsDatepicker [minDate]="filterForm.from_date"
                  [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" />
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="row m-0">
        <div class="col-md-3 col-4 d-flex px-0 pr-2">
          <div class="dashcard w-100">
            <div class="col-md-12 justify-content-end d-flex px-0" style="padding-top: 5px;">
              @if (preLoader) {
                <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
              }
              @if (!preLoader) {
                <h4>{{order_details?.products}}</h4>
              }
            </div>
            <div class="col-md-12 px-0">
              <span class="material-symbols-rounded">upload</span>
              <p>Uploads</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-4 d-flex px-0 pr-2">
          <div class="dashcard w-100">
            <div class="col-md-12 justify-content-end d-flex px-0" style="padding-top: 5px;">
              @if (preLoader) {
                <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
              }
              @if (!preLoader) {
                <h4>{{ order_details?.items_sold}}</h4>
              }
            </div>
            <div class="col-md-12 px-0">
              <span class="material-symbols-rounded">settings_backup_restore</span>
              <p>Item Sold</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-4 d-flex px-0 pr-2">
          <div class="dashcard w-100">
            <div class="col-md-12 justify-content-end d-flex px-0" style="padding-top: 5px;">
              @if (preLoader) {
                <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
              }
              @if (!preLoader) {
                <h4>{{order_details?.order_list?.length}}</h4>
              }
            </div>
            <div class="col-md-12 px-0">
              <span class="material-symbols-rounded">settings_backup_restore</span>
              <p>Total Orders</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-4 d-flex px-0 pr-2">
          <div class="dashcard w-100">
            <div class="col-md-12 justify-content-end d-flex px-0" style="padding-top: 5px;">
              @if (preLoader) {
                <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
              }
              @if (!preLoader) {
                <h4>{{order_details?.total_sales | number : '1.0-0'}}</h4>
              }
            </div>
            <div class="col-md-12 px-0">
              <span class="material-symbols-rounded">monetization_on</span>
              <p>Total Sales</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 d-flex">
      <div class="card w-100 mb-4">
        <div class="card-body">
          <h5 class="card-title">Order Volume</h5>
          @if (preLoader) {
            <div class="d-flex justify-content-center">
              <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
            </div>
          }
          @if (!preLoader && order_details?.order_list?.length) {
            <div >
              <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels"
                [grid]="chartOptions.grid" [stroke]="chartOptions.stroke" [title]="chartOptions.title" [fill]="chartOptions.fill"
              [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors" [markers]="chartOptions.markers" ></apx-chart>
            </div>
          }
          @if (!preLoader && !order_details?.order_list?.length) {
            <div class="d-flex align-items-center justify-content-center"
              >
              <p>No orders found</p>
            </div>
          }
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-12 d-flex">
      <div class="card w-100 mb-4">
        <div class="card-body">
          <div class="card-title">Orders</div>
          <div class="row">
            <div class="col-md-12 mb-1">
              <div class="data-list-card-wrapper">
                <div class="data-list-card-inner">
                  @if (commonService.desktop_device) {
                    <div class="list-item data-list-card">
                      <div class="col-md-8 col-6 first_col px-0 cursor header-font">
                        <p class="w-35 w-sm-100 m-b-0">Status</p>
                      </div>
                      <div class="col-md-4 col-6 first_col align-items-center header-font px-0">
                        <p class="w-35 w-sm-100 m-b-0">Quantity</p>
                      </div>
                    </div>
                  }
                  <div class="list-item data-list-card">
                    <div class="col-md-8 col-6 first_col px-0 cursor">
                      <p class="w-35 w-sm-100 m-b-0 dark-font">Awaiting Confirmation</p>
                    </div>
                    <div class="col-md-4 col-6 first_col align-items-center">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <p class="w-35 w-sm-100 m-b-0 light-font">{{order_details?.placed_orders}}</p>
                      }
                    </div>
                  </div>

                  <div class="list-item data-list-card">
                    <div class="col-md-8 col-6 first_col px-0 cursor">
                      <p class="w-35 w-sm-100 m-b-0 dark-font">Confirmed</p>
                    </div>
                    <div class="col-md-4 col-6 first_col align-items-center">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <p class="w-35 w-sm-100 m-b-0 light-font">{{order_details?.confirmed_orders}}</p>
                      }
                    </div>
                  </div>

                  <div class="list-item data-list-card">
                    <div class="col-md-8 col-6 first_col px-0 cursor">
                      <p class="w-35 w-sm-100 m-b-0 dark-font">In Transit</p>
                    </div>
                    <div class="col-md-4 col-6 first_col align-items-center">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <p class="w-35 w-sm-100 m-b-0 light-font">{{order_details?.dispatched_orders}}</p>
                      }
                    </div>
                  </div>

                  <div class="list-item data-list-card">
                    <div class="col-md-8 col-6 first_col px-0 cursor">
                      <p class="w-35 w-sm-100 m-b-0 dark-font">Completed</p>
                    </div>
                    <div class="col-md-4 col-6 first_col align-items-center">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <p class="w-35 w-sm-100 m-b-0 light-font">{{order_details?.completed_orders}}</p>
                      }
                    </div>
                  </div>

                  <div class="list-item data-list-card">
                    <div class="col-md-8 col-6 first_col px-0 cursor">
                      <p class="w-35 w-sm-100 m-b-0 dark-font">Cancelled</p>
                    </div>
                    <div class="col-md-4 col-6 first_col align-items-center">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <p class="w-35 w-sm-100 m-b-0 light-font">{{order_details?.cancelled_orders}}</p>
                      }
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Quantity</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Awaiting Confirmation</td>
                  <td class="text-warning font-weight-bold">
                    <i *ngIf="preLoader" class="fa fa-circle-o-notch fa-spin load-spin"></i>
                    <s

                    n *ngIf="!preLoader">{{order_details?.placed_orders}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Confirmed</td>
                  <td class="font-weight-bold" style="color: #42bcf5;">
                    <i *ngIf="preLoader" class="fa fa-circle-o-notch fa-spin load-spin"></i>
                    <span *ngIf="!preLoader">{{order_details?.confirmed_orders}}</span>
                  </td>
                </tr>
                <tr>
                  <td>In Transit</td>
                  <td class="text-success font-weight-bold">
                    <i *ngIf="preLoader" class="fa fa-circle-o-notch fa-spin load-spin"></i>
                    <span *ngIf="!preLoader">{{order_details?.dispatched_orders}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Completed</td>
                  <td class="font-weight-bold" style="color: #d83967;">
                    <i *ngIf="preLoader" class="fa fa-circle-o-notch fa-spin load-spin"></i>
                    <span *ngIf="!preLoader">{{order_details?.completed_orders}}</span>
                  </td>
                </tr>
                <tr>
                  <td>Cancelled</td>
                  <td class="font-weight-bold" style="color: #a9a9a9;">
                    <i *ngIf="preLoader" class="fa fa-circle-o-notch fa-spin load-spin"></i>
                    <span *ngIf="!preLoader">{{order_details?.cancelled_orders}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>