<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Navigation</a>
        </li>
        <li>Product Catalog</li>
    </ol> -->
    <div class="help-section">
        <h2>Product Catalog</h2>
        <p>
            Set up categories to make browsing your store easier for customers. It’s the same way as in physical stores where they have different shelves for specific products.</p>
        <h2>How to Create Categories?</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/product-sections/catalogs">Products → Catalog & Products</a>
            </li>
            <li>
                Click on "Add catalog" to create new catalogs.
            </li>

        </ol>
    </div>
</div>