@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="add_but" (click)="onOpenAddModal(addModal);">
      <span class="material-symbols-rounded">add</span>
    </div>
  </div>
}
@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb">
        <h1>{{commonService.secondary_header}}</h1>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-6 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 d-flex justify-content-end">
            <button type="button" class="highbutton" (click)="onOpenAddModal(addModal);"><span class="material-symbols-rounded">add</span> Assistant</button>
          </div>
        }
        <!-- search box -->
      </div>
    </div>
    <!-- DATA LIST -->
    @if ((list | fieldSearch:'name':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-6 col-7 first_col px-0 header-font">
                  <p class="w-50 w-sm-100">Name</p>
                  <p class="w-50 w-sm-100 m-b-0">Measurement sets</p>
                </div>
              </div>
            }
            @for (x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div
                class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="col-md-6 col-6 first_col px-0 cursor">
                  <p class="w-50 w-sm-100 dark-font m-b-0">{{x.name}}</p>
                  <p class="w-50 w-sm-100 m-b-0 light-font">{{x.mm_list?.length}} Measurement sets</p>
                </div>
                <div class="col-md-6 col-6">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'" (click)="onViewOptions(x);">
                      <span class="material-symbols-rounded">arrow_drop_down_circle</span> {{commonService.desktop_device? 'View Options':''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'"
                      (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                      <span class="material-symbols-rounded">delete</span> {{commonService.desktop_device? 'Remove':''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button': 'iconbutton'" (click)="onEdit(x, editModal);">
                      <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device?
                      'visibility': 'chevron_right'}} </span> {{commonService.desktop_device? 'View': ''}}
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | fieldSearch:'name':search_bar)?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">New Assistant</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label>Name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
            </div>
            <div class="col-md-6 form-group mb-3">
              <label>Unit</label>
              <select name="unit" class="form-control" [(ngModel)]="addForm.unit" #unit="ngModel" required>
                @for (x of commonService.default_units; track x) {
                  <option [ngValue]="x.value">{{x.name}}</option>
                }
              </select>
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Heading</label>
              <input type="text" name="heading" class="form-control" [(ngModel)]="addForm.heading" #heading="ngModel"
                required />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Sub-heading</label>
                <textarea class="form-control" aria-label="With textarea" name="sub_heading"
                [(ngModel)]="addForm.sub_heading" #sub_heading="ngModel"></textarea>
              </div>
              @if (measurementList.length) {
                <div class="col-md-12">
                  <p class="primary-color">
                    <b>Measurement Sets</b>
                  </p>
                </div>
              }
            </div>
            <!-- <div *ngIf="measurementList.length" class="card card-in-card mb-3 p-3"> -->
            @if (measurementList.length) {
              <div class="row">
                @for (x of measurementList | numOrderAsc:'rank'; track x; let i = $index) {
                  <div class="form-group col-md-4 mt-1 mb-1"
                    >
                    <label class="checkbox checkbox-success">
                      <input class="form-check-input" type="checkbox" name="mm_checked{{i+1}}" [(ngModel)]="x.mm_checked"
                        #mm_checked="ngModel">
                        <span>{{x.name}}</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  }
                </div>
              }
            <!-- </div> -->
          </div>
          @if (addForm.errorMsg) {
            <div>
              <p class="text-danger">{{ addForm.errorMsg }}</p>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
            (click)="modal.dismiss('Cross click');">
            <span class="black-outline-txt">Cancel</span>
          </button>
          <button type="submit" class="btn btn-wide btn-primary">Add</button>
        </div>
      </div></form>
    </ng-template>

    <!-- EDIT MODAL -->
    <ng-template #editModal let-modal>
      <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate ngbAutofocus>
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">{{editForm.name}}</h4>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label>Name</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Unit</label>
                  <select name="unit" class="form-control" [(ngModel)]="editForm.unit" #unit="ngModel" required>
                    @for (x of commonService.default_units; track x) {
                      <option [ngValue]="x.value">{{x.name}}</option>
                    }
                  </select>
                </div>
                <div class="col-md-12 form-group mb-3">
                  <label>Heading</label>
                  <input type="text" name="heading" class="form-control" [(ngModel)]="editForm.heading" #heading="ngModel"
                    required />
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Sub-heading</label>
                    <textarea class="form-control" aria-label="With textarea" name="sub_heading"
                    [(ngModel)]="editForm.sub_heading" #sub_heading="ngModel"></textarea>
                  </div>
                  @if (measurementList.length) {
                    <div class="col-md-12">
                      <p class="primary-color">
                        <b>Measurement Sets</b>
                      </p>
                    </div>
                  }
                </div>
                <!-- <div *ngIf="measurementList.length" class="card card-in-card mb-3 p-3"> -->
                @if (measurementList.length) {
                  <div class="row">
                    @for (x of measurementList | numOrderAsc:'rank'; track x; let i = $index) {
                      <div class="form-group col-md-3 mt-1 mb-1"
                        >
                        <label class="checkbox checkbox-success">
                          <input class="form-check-input" type="checkbox" name="mm_checked{{i+1}}" [(ngModel)]="x.mm_checked"
                            #mm_checked="ngModel">
                            <span>{{x.name}}</span>
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      }
                    </div>
                  }
                <!-- </div> -->
              </div>
              @if (editForm.errorMsg) {
                <div>
                  <p class="text-danger">{{ editForm.errorMsg }}</p>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
                (click)="modal.dismiss('Cross click');">
                <span class="black-outline-txt">Cancel</span>
              </button>
              <button type="submit" class="btn btn-wide btn-primary">Update</button>
            </div>
          </div></form>
        </ng-template>

        <!-- DELETE MODAL -->
        <ng-template #deleteModal let-modal>
          <div class="modal-body">
            <p>
              <strong>Are you sure you want to delete
                <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> assistant?</strong>
              </p>
              @if (deleteForm.errorMsg) {
                <div>
                  <p class="text-danger">{{ deleteForm.errorMsg }}</p>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
                (click)="modal.dismiss('Cross click');">
                <span class="black-outline-txt">No</span>
              </button>
              <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
                <span class="orng-outline-txt">Yes</span>
              </button>
            </div>
          </ng-template>