<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div *ngIf="commonService.desktop_device" class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-8">
        <div class="d-flex align-items-center">
          <h1><a routerLink="/features/menus">{{ selectedMenu?.name }}</a> > Top Brands</h1>
        </div>
      </div>
    </div>
  </div>

  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate ngbAutofocus>
    <div class="row flex-xs-column-reverse">
      <div class="col-md-6 col-6" *ngFor="let x of editForm?.top_brands; let i=index;">
        <div class="card mb-3">
          <span (click)="editForm.top_brands.splice(i, 1);"
            class="material-icons float-right round-btn-icon ab-item-close top5" aria-hidden="true">close</span>
          <div class="row p-3 pt-3 pb-3">
            <div class="col-md-12">
              <h3>Brand {{(editForm.top_brands?.length>1)? i+1: ''}}</h3>
            </div>
            <div class="col-md-12 form-group">
              <label>Rank</label>
              <input type="number" (wheel)="commonService.handleWheel($event)" name="rank{{i}}" class="form-control" [(ngModel)]="x.rank" #rank="ngModel"
                appNumberOnly required />
            </div>
          </div>
          <div class="row m-0 p-3">
            <div class="col-md-12  d-flex justify-content-center align-items-center">
              <div class="card-in-card w-100 mb-3">
                <div class="desktop-banner" align="center">
                  <p>Photo Resolution: 450x300</p>
                  <i *ngIf="!x.image" class="material-icons">add_photo_alternate</i>
                  <img style="height: 100px;width:auto" *ngIf="x.image && x.img_change" [src]="x.image">
                  <img style="height: 100px;width:auto" *ngIf="x.image && !x.img_change" [src]="imgBaseUrl+x.image">
                  <div class="h-100 d-flex align-items-end">
                    <div class="custom-file mt-2">
                      <input type="file" name="image{{i}}" class="custom-file-input" [required]="!x.image"
                        (change)="fileChangeListener(i, $event);" accept="image/jpeg, image/jpg, image/png, image/webp">
                      <label class="custom-file-label">Choose file</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 px-0 d-flex justify-content-center align-items-center">
              <div class="w-100  mb-3">
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label class="checkbox checkbox-primary">
                      <input class="form-check-input" type="checkbox" name="link_status{{i}}"
                        [(ngModel)]="x.link_status" (change)="x.link_type='category';" #link_status="ngModel">
                      <span>Enable Link</span>
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <ng-container *ngIf="x.link_status">
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="category">
                        <span>Link to Catalog</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="product">
                        <span>Link to Product</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="internal">
                        <span>Link to Internal Link</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="external">
                        <span>Link to External Link</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div *ngIf="x.link_type=='category' || x.link_type=='product'" class="col-md-12 form-group mb-3">
                      <label>{{x.link_type=='category'? 'Link to Catalog': 'Catalogs'}}</label>
                      <select name="category_id{{i}}" class="form-control select-arrow" [(ngModel)]="x.category_id"
                      (change)="x.productList=[]" #category_id="ngModel" required>
                        <option [ngValue]="y._id" *ngFor="let y of commonService.catalog_list | orderAsc: 'name'">
                          {{y.name}}</option>
                      </select>
                    </div>
                    <ng-container *ngIf="x.link_type=='product'">
                      <div class="col-md-9 form-group mb-3">
                        <input type="text" name="search_bar{{i}}" placeholder="Search" (input)="x.productList=[]" class="form-control" [(ngModel)]="x.search_bar" />
                      </div>
                      <div class="col-md-3 form-group mb-3 d-flex justify-content-end">
                        <button [disabled]="!x.category_id || x.search_bar?.length<3" type="button"
                        (click)="searchProduct(x.category_id, x.search_bar, i);" class="btn search-btn btn-wide btn-primary">Search</button>
                      </div>
                      <div class="col-md-12 form-group mb-3">
                        <label>Link to Product
                          <i *ngIf="x.searchLoader" class="ml-1 fa fa-circle-o-notch fa-spin search-spin"></i>
                          <ng-container *ngIf="!x.searchLoader && x.category_id && x.search_bar?.length>=3">
                            ({{x.productList.length}} products found)
                          </ng-container>
                        </label>
                        <select name="product_id{{i}}" class="form-control select-arrow" [(ngModel)]="x.product_id" required>
                          <option [ngValue]="y._id" *ngFor="let y of x.productList;">{{y.name}}</option>
                        </select>
                      </div>
                    </ng-container>
                    <div *ngIf="x.link_type=='internal' || x.link_type=='external'" class="col-md-12 form-group mb-3">
                      <label *ngIf="x.link_type=='internal'">{{commonService.store_details?.base_url}}{{x.link}}</label>
                      <label *ngIf="x.link_type=='external'">External Link</label>
                      <input type="text" name="link" class="form-control" [(ngModel)]="x.link" #int_link="ngModel"
                        required />
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 mt-3">
        <button class="light-button" type="button"
          (click)="editForm.top_brands.push({link_type: 'category', rank: editForm.top_brands.length+1 });">
          <span class="material-symbols-rounded">add</span> NEW
        </button>
        <!-- <p (click)="editForm.top_brands.push({link_type: 'category', rank: editForm.top_brands.length+1 });">
                <b class="add-another">ADD NEW</b>
              </p> -->
      </div>
    </div>
    <div class="separator-breadcrumb border-top mt-5"></div>
    <div class="row">
      <div class="col-md-12 mt-3 mb-3" *ngIf="editForm.errorMsg">
        <p class="text-danger" align="center">{{ editForm.errorMsg }}</p>
      </div>
      <div align="center" class="col-md-12 z-i-0">
        <button type="button" routerLink="/features/menus" class="btn btn-wide black-outline-btn">
          <span class="black-outline-txt">Cancel</span>
        </button>&nbsp; &nbsp; &nbsp;
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm?.submit"
          [ladda]="editForm?.submit">
          update
        </button>
      </div>
    </div>

  </form>

</div>