@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="add_but mr-3" (click)="exportAsXLSX();">
      <span class="material-symbols-rounded">file_upload</span>
    </div>
    @if (commonService.store_details?.login_type!='vendor') {
      <div class="add_but mr-3" (click)="openBtnModal(btnSettingModal);">
        <span class="material-symbols-rounded">settings</span>
      </div>
    }
    <div class="add_but" routerLink="{{ (vendor_id)? '/product-extras/addons/add/'+(maxRank+1)+'/'+vendor_id: '/product-extras/addons/add/'+(maxRank+1) }}">
      <span class="material-symbols-rounded">add</span>
    </div>
  </div>
}
@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <!-- search box -->
        <div class="col-md-4 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
            @if (!commonService.desktop_device && commonService.ys_features.indexOf('vendors')!=-1 && commonService.store_details?.login_type!='vendor') {
              <div class="filter_icon" (click)="onOpenFilterModal(filterModal);"><span
              class="material-symbols-rounded cursor">filter_alt</span></div>
            }
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-8 list-button d-flex justify-content-end">
            @if (commonService.ys_features.indexOf('vendors')!=-1 && commonService.store_details?.login_type!='vendor') {
              <button type="button" class="mr-3" (click)="onOpenFilterModal(filterModal);"><span
              class="material-symbols-rounded">filter_alt</span>Filter</button>
            }
            <button type="button" (click)="exportAsXLSX();" class="mr-3">
              <span class="material-symbols-rounded">file_upload</span> Export
            </button>
            @if (commonService.store_details?.login_type!='vendor') {
              <button class="mr-3" type="button" (click)="openBtnModal(btnSettingModal);"><span
              class="material-symbols-rounded">settings</span>Button Setting</button>
            }
            <button type="button" class="highbutton" routerLink="{{ (vendor_id)? '/product-extras/addons/add/'+(maxRank+1)+'/'+vendor_id: '/product-extras/addons/add/'+(maxRank+1) }}">
              <span class="material-symbols-rounded">add</span>Add Add-On</button>
            </div>
          }
        </div>
      </div>
      <!-- DATA LIST -->
      @if ((list | fieldSearch:'name':search_bar)?.length) {
        <div class="list-horizontal">
          <div class="data-list-card-wrapper">
            <div class="data-list-card-inner">
              @if (commonService.desktop_device) {
                <div class="list-item data-list-card">
                  <div class="col-md-9 col-8 first_col px-0 header-font">
                    <p class="w-40 w-sm-100">Name</p>
                    <p class="w-30 w-sm-100 m-b-0">Customizations</p>
                    <p class="w-30 w-sm-100 m-b-0">Options</p>
                  </div>
                </div>
              }
              @for (x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
                <div class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                  <div class="col-md-9 col-8 first_col px-0 cursor" (click)="goModifyPage(x);">
                    <p class="w-40 w-sm-100 dark-font">{{x.name}}</p>
                    <p class="w-30 w-sm-100 m-b-0 light-font">{{x.custom_list?.length}} Customizations</p>
                    <p class="w-30 w-sm-100 m-b-0 light-font"> {{x.options_count}} Options</p>
                  </div>
                  <div class="col-md-3 col-4">
                    <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                      <button [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                        <span class="material-symbols-rounded">delete</span> {{commonService.desktop_device? 'Remove': ''}}
                      </button>
                      <button [ngClass]="commonService.desktop_device? 'light-button': 'iconbutton'" (click)="goModifyPage(x);">
                        <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'visibility': 'chevron_right'}}</span> {{commonService.desktop_device? 'View': ''}}
                      </button>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
          <!-- PAGINATION CONTROL -->
          <div class="row">
            <div class="col-md-12 mt-3">
              <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
              maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
        </div>
      }
      @if (!(list | fieldSearch:'name':search_bar)?.length) {
        <div class="row">
          <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
            <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
            <p align="center">No. data to display. Create add-ons for your products.</p>
          </div>
        </div>
      }
    </div>
  }

  <!-- Button Setting -->
  <ng-template #btnSettingModal let-modal>
    <div class="modal-header">
      <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
      <h4 class="modal-title" id="modal-basic-title">Button Setting</h4>
    </div>
    <form autocomplete="off" (ngSubmit)="onUpdateSetting();" ngNativeValidate ngbAutofocus>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label>Pcs</label>
              <input type="text" name="Pcs" class="form-control" [(ngModel)]="btnForm.Pcs" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Mts</label>
              <input type="text" name="Mts" class="form-control" [(ngModel)]="btnForm.Mts" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Kgs</label>
              <input type="text" name="Kgs" class="form-control" [(ngModel)]="btnForm.Kgs" required />
            </div>
          </div>
        </div>
        @if (btnForm.errorMsg) {
          <div>
            <p class="text-danger">{{ btnForm.errorMsg }}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
          (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary">Update</button>
      </div>
    </form>
  </ng-template>

  <!-- DELETE MODAL -->
  <ng-template #deleteModal let-modal>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
    add-on?</strong>
  </p>
  @if (deleteForm.errorMsg) {
    <div>
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  }
</div>
<div class="modal-footer">
  <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
    (click)="modal.dismiss('Cross click');">
    <span class="black-outline-txt">No</span>
  </button>
  <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
    <span class="orng-outline-txt">Yes</span>
  </button>
</div>
</ng-template>

<!-- filter Modal -->
<ng-template #filterModal let-modal>
  <form autocomplete="off" ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">Filter</span>
        </h4>
      </div>
      <div class="modal-body filtersec">
        <div class="row m-0">
          <div class="carosal w-100">
            <ul class="px-3">
              <li>
                <a class="hz_carosal carosal_button">
                  By Vendor
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="row m-0 p-3">
          <div class="modal-card col-md-12">

            <div class="radio_buttons col-12">
              <input type="radio" id="all" value="" name="vendor_id" [(ngModel)]="vendor_id">
              <label for="all">All Vendors</label>
            </div>
            <div class="col-md-12 border-top"></div>
            @for (x of commonService.vendor_list; track x) {
              <div class="radio_buttons col-12">
                <input type="radio" id="{{x._id}}" [value]="x._id" name="vendor_id" [(ngModel)]="vendor_id">
                <label for="{{x._id}}">{{x.company_details.brand}}</label>
              </div>
              <div class="col-md-12 border-top"></div>
            }
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('cancel');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="button" class="btn btn-wide orng-outline-btn m-1" (click)="ngOnInit();">
          <span class="orng-outline-txt">Apply</span>
        </button>
      </div>

    </div>
  </form>
</ng-template>