<div class="help-content">
    <div class="help-section">
        <h2>Setup Payment</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setting/payment-gateway">Settings → Payment Gateway</a>
            </li>
            <li>You can choose to use Gpay and COD that are readily available by enabling it.</li> 
            <li>To collect online payment through 100+ methods like debit/credit card, net banking, UPI, wallets, EMI, etc.. select Razorpay (INDIA alone) as payment option by clicking the Add New option available and click on Create Razorpay Account.
            </li>
            <li>Click on View Steps and follow the steps mentioned.
            </li>
            <li>Business from other countries, please choose the relevant payment gateway supported in your region/country.
            </li>
        </ol>
        
    </div>
</div>
