.inactive {
    color: #9f9f9f;
    background: #f4f4f4;
    padding: 6px 12px;
    border-radius: 10px;
    font-weight: 400;
  }

  .prod-scroll {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
  
    &::-webkit-scrollbar {
      width: 4px;
      height: 2px;
      border-radius: 20px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #E0717B;
      border-radius: 20px;
    } 
  
  }