@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="help_mobile_button mr-3" routerLink="/support/design-website/create-new-page">
      <img src="assets/icons/help.svg" title="help">
    </div>
    <div class="add_but" (click)="addForm={seo_details: {}, type: 'content'}; modalService.open(addModal);">
      <span class="material-symbols-rounded">add</span>
    </div>
  </div>
}
@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <button class="help-button" routerLink="/support/design-website/create-new-page">
              <span class="material-symbols-rounded mb-0">help</span>Need Help?
            </button>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-6 col12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 list-button d-flex justify-content-end">
            <button class="highbutton" type="button"
              (click)="addForm={seo_details: {}, type: 'content'}; modalService.open(addModal);">
              <span class="material-symbols-rounded">add</span>Add New Page
            </button>
          </div>
        }
      </div>
    </div>
    <!-- DATA LIST -->
    @if ((list | fieldSearch:'name':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-8 col-6 first_col px-0 header-font">
                  <p class="w-30 w-sm-100">Name</p>
                  <p class="w-15 w-sm-100">Type</p>
                  <p class="w-40 w-sm-100">Customizations</p>
                  <p class="w-15 w-sm-100 m-b-0">Status</p>
                </div>
              </div>
            }
            @for (x of list | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card"
                [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                @if (!commonService.desktop_device) {
                  <div class="ribbon-band"
                    [ngClass]="x.active_status!==false? 'green-band': 'red-band'">
                    {{x.active_status!==false? 'Enabled': 'Disabled'}}
                  </div>
                }
                <div class="col-md-8 col-8 first_col px-0">
                  <p class="w-30 w-sm-100 dark-font pr-2" style="word-break: break-word;">{{x.name}}</p>
                  <p class="w-15 w-sm-100 dark-font">{{x.type}}</p>
                  <p class="w-40 w-sm-100 m-b-0 light-font pr-2" style="word-break: break-word;">
                  {{commonService.store_details?.base_url}}/pages/{{x.page_url}}</p>
                  @if (commonService.desktop_device) {
                    <p class="w-15 w-sm-100 m-b-0">
                      <span class="badge" [ngClass]="x.active_status!==false? 'badge-green-background': 'badge-red-background'">
                        {{x.active_status!==false? 'Enabled': 'Disabled'}}
                      </span>
                    </p>
                  }
                </div>
                <div class="col-md-4 col-4">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'"
                      (click)="onEditName(x, editNameModal);">
                      <span class="material-symbols-rounded">edit</span> {{commonService.desktop_device? 'Edit':''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'"
                      [disabled]="x.status_submit" (click)="onToggleStatus(x);">
                      <span class="material-symbols-rounded">{{x.active_status!==false? 'toggle_on': 'toggle_off'}}</span>
                      {{commonService.desktop_device? (x.active_status!==false? 'Disable': 'Enable'):''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'"
                      (click)="deleteForm=x; modalService.open(deleteModal, { centered: true });">
                      <span class="material-symbols-rounded">delete</span> {{commonService.desktop_device? 'Remove':''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button': 'iconbutton'"
                      routerLink="/setup/pages/extra-pages/modify/{{x._id}}">
                      <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device?
                        'visibility':
                      'chevron_right'}} </span> {{commonService.desktop_device? 'View': ''}}
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | fieldSearch:'name':search_bar)?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
        <h4 class="modal-title popup_text">Add New</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label>Name</label>
              <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" (input)="onChangeTitle();"
                required />
              </div>
              <div class="col-md-6 form-group mb-3">
                <label>Type</label>
                <select name="Pagetype" class="form-control select-arrow" [(ngModel)]="addForm.type" #Pagetype="ngModel"
                  required>
                  <option value="">-- Select --</option>
                  <option Value="content">Content</option>
                  <option Value="segment">Segment</option>
                </select>
              </div>
              <div class="data-list-card-inner">
                <div class="col-md-12 col-12 d-flex justify-content-between add_but align-items-center mb-3">
                  <p class="m-b-0 dark-font medium-font">SEO Listing Preview
                    <span class="light-font mt-3 font-10 d-block">This is how your page looks on Google, Bing, Yahoo and
                    other search engines</span>
                  </p>
                  @if (addForm.name && commonService.ys_features.indexOf('advanced_seo')!=-1) {
                    @if (!addForm.seo_disp) {
                      <span class="material-icons float-right round-btn-icon ab-item-close"
                      (click)="addForm.seo_disp=true" aria-hidden="true">edit</span>
                    }
                    @if (addForm.seo_disp && addForm.page_url && addForm.seo_details.h1_tag && addForm.seo_details.page_title && addForm.seo_details.meta_desc) {
                      <span
                        (click)="addForm.seo_disp=false" class="material-icons float-right round-btn-icon ab-item-close"
                      aria-hidden="true">done</span>
                    }
                  }
                </div>

                @if (!addForm.seo_disp) {
                  <div class="col-12">
                    @if (!addForm.name) {
                      <p class="light-font font-10">
                        Add a Title And Description To See How This Page Might Appear In A Search Engine Listing
                      </p>
                    }
                    @if (addForm.name) {
                      <p class="light-font font-10 mb-1">
                      {{commonService.store_details?.base_url}}/pages/{{addForm.page_url}}</p>
                      <h6 class="sec-desc mb-1 mt-2 seo-color">{{addForm.seo_details.page_title}}</h6>
                      <p class="light-font font-10">{{addForm.seo_details.meta_desc}}</p>
                    }
                  </div>
                }

                @if (addForm.seo_disp) {
                  <div class="col-md-12 form-group mb-3">
                    <label>Page URL - {{commonService.store_details?.base_url}}/pages/{{addForm?.page_url}}</label>
                    <input type="text" name="page_url" class="form-control" [(ngModel)]="addForm.page_url" appNoSplChar
                      required />
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      <label>H1 Tag</label>
                      @if (addForm.seo_details?.h1_tag?.length) {
                        <span class="label_hint">
                          {{addForm.seo_details?.h1_tag.length}} of 70 characters used
                        </span>
                      }
                      <input type="text" name="h1_tag" class="form-control" [(ngModel)]="addForm.seo_details.h1_tag"
                        maxlength="70" required />
                      </div>
                      <div class="col-md-12 form-group mb-3">
                        <label>Page Title</label>
                        @if (addForm.seo_details?.page_title?.length) {
                          <span class="label_hint">
                            {{addForm.seo_details.page_title.length}} of 70 characters used
                          </span>
                        }
                        <input type="text" name="page_title" class="form-control" [(ngModel)]="addForm.seo_details.page_title"
                          maxlength="70" required />
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>Meta Description</label>
                          @if (addForm.seo_details?.meta_desc?.length) {
                            <span class="label_hint">
                            {{addForm.seo_details.meta_desc.length}} of 320 characters used</span>
                          }
                          <textarea class="form-control" aria-label="With textarea" name="meta_desc"
                          [(ngModel)]="addForm.seo_details.meta_desc" maxlength="320" required></textarea>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>Meta Keywords</label>
                          <tag-input class="w-100" name="meta_keyword_list" [(ngModel)]="addForm.seo_details.meta_keyword_list"
                          placeholder="" [secondaryPlaceholder]="'Enter options'" [separatorKeyCodes]="[188]"></tag-input>
                          <p class="pt-3 mb-0" style="font-size:12px;opacity:0.8;">Hint: Separate each option by adding a comma,
                          between them or press enter</p>
                        </div>
                      }
                    </div>
                    @if (addForm.err_msg) {
                      <div class="col-12 mt-3 text-danger">
                        {{addForm.err_msg}}
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
                  (click)="modal.dismiss('Cross click');">
                  <span class="black-outline-txt">Cancel</span>
                </button>
                <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="addForm.submit"
                [ladda]="addForm.submit">Add</button>
              </div>
            </div>
          </form>
        </ng-template>

        <!-- EDIT NAME MODAL -->
        <ng-template #editNameModal let-modal>
          <form autocomplete="off" (ngSubmit)="onUpdateName();" ngNativeValidate ngbAutofocus>
            <div class="modal-content">
              <div class="modal-header">
                <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
                <h4 class="modal-title popup_text">Edit Page Name</h4>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label>Name</label>
                    <input type="text" name="edit_name" class="form-control" [(ngModel)]="editForm.name" required />
                  </div>
                  @if (editForm.err_msg) {
                    <div class="col-12 mt-3 text-danger">
                      {{editForm.err_msg}}
                    </div>
                  }
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
                  (click)="modal.dismiss('Cross click');">
                  <span class="black-outline-txt">Cancel</span>
                </button>
                <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit"
                [ladda]="editForm.submit">Update</button>
              </div>
            </div>
          </form>
        </ng-template>

        <!-- DELETE MODAL -->
        <ng-template #deleteModal let-modal>
          <div class="modal-body">
            <p>
              <strong>Are you sure you want to remove
                <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> page?
              </strong>
            </p>
            @if (deleteForm.errorMsg) {
              <div>
                <p class="text-danger">{{ deleteForm.errorMsg }}</p>
              </div>
            }
          </div>
          <div class="modal-footer">
            <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
              (click)="modal.dismiss('Cross click');">
              <span class="black-outline-txt">No</span>
            </button>
            <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
              <span class="orng-outline-txt">Yes</span>
            </button>
          </div>
        </ng-template>