<div>
  <div class="breadcrumb with-back-btn">
    <div class="row">
      <div class="col-md-12">
        <h1>Pages</h1>
      </div>
    </div>
  </div>
  <div class="row d-flex px-0 margin-minus10">
    <div class="col-6 col-md-4 px-2 mb-3" *ngIf="commonService.route_permission_list.indexOf('contact_page')!=-1">
      <div class="card p-3 d-flex justify-content-start align-items-center flex-row" routerLink="/setup/pages/contact-page">
        <div class="icons mb-0">
          <span class="material-symbols-rounded">contact_page</span>
        </div>
        <label class="text-title cursor pl-3">Contact Page</label>
      </div>
    </div>

    <div class="col-6 col-md-4 px-2 mb-3" *ngIf="commonService.route_permission_list.indexOf('store_locator')!=-1">
      <div class="card p-3 d-flex justify-content-start align-items-center flex-row" routerLink="/setup/pages/store-locator">
        <div class="icons mb-0">
          <span class="material-symbols-rounded">pin_drop</span>
        </div>
        <label class="text-title cursor pl-3">Store Locator</label>
      </div>
    </div>

    <div class="col-6 col-md-4 px-2 mb-3" *ngIf="commonService.route_permission_list.indexOf('extra_pages')!=-1">
      <div class="card p-3 d-flex justify-content-start align-items-center flex-row" routerLink="/setup/pages/extra-pages">
        <div class="icons mb-0">
          <span class="material-symbols-rounded">note_add</span>
        </div>
        <label class="text-title cursor pl-3">Extra Pages</label>
      </div>
    </div>

    <div class="col-6 col-md-4 px-2 mb-3">
      <div class="card p-3 d-flex justify-content-start align-items-center flex-row" routerLink="/setup/pages/catalog-pages">
        <div class="icons mb-0">
          <span class="material-symbols-rounded">auto_stories</span>
        </div>
        <label class="text-title cursor pl-3">Catalog Pages</label>
      </div>
    </div>
  </div>

</div>