@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    @if (subUserLimit>list?.length) {
      <div class="add_but" (click)="popupLoader=false; userForm={form_type: 'add', designation: ''}; modalService.open(userModal, {windowClass: 'scroll-modal-xl', scrollable : true});">
        <span class="material-symbols-rounded">add</span>
      </div>
    }
  </div>
}
@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <h1>{{commonService.secondary_header}}</h1>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-6 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 list-button d-flex justify-content-end">
            @if (commonService.store_details?.login_type=='admin') {
              <button class="highbutton mr-3" routerLink="/account/users/roles">Manage Roles</button>
            }
            @if (subUserLimit>list?.length) {
              <button class="highbutton" type="button" (click)="popupLoader=false; userForm={form_type: 'add', designation: ''}; modalService.open(userModal, {windowClass: 'scroll-modal-xl', scrollable : true});"><span class="material-symbols-rounded">add</span>Add User</button>
            }
          </div>
        }
      </div>
    </div>
    <!-- DATA LIST -->
    @if ((list | fieldSearch:'name':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-9 col-8 first_col px-0 header-font">
                  <p class="w-25 w-sm-100">Name</p>
                  <p class="w-25 w-sm-100 m-b-0">Role</p>
                  <p class="w-25 w-sm-100 m-b-0">Email</p>
                  <p class="w-25 w-sm-100 m-b-0">Status</p>
                </div>
              </div>
            }
            @for (x of list | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                @if (x.status=='active' && !commonService.desktop_device) {
                  <div class="ribbon-band green-band">Active</div>
                }
                @if (x.status=='inactive' && !commonService.desktop_device) {
                  <div class="ribbon-band red-band">Inactive</div>
                }
                <div class="col-md-9 col-8 first_col px-0">
                  <p class="w-25 w-sm-100 dark-font">{{x.name}}</p>
                  <p class="w-25 w-sm-100 m-b-0 light-font">{{x.designation}}</p>
                  <p class="w-25 w-sm-100 m-b-0 light-font extra_text">{{x.email}}</p>
                  @if (commonService.desktop_device) {
                    <p class="w-25 w-sm-100 m-b-0 light-font">
                      @if (x.status=='active') {
                        <span class="badge badge-green-background">Active</span>
                      }
                      @if (x.status=='inactive') {
                        <span class="badge badge-red-background">Inactive</span>
                      }
                    </p>
                  }
                </div>
                <div class="col-md-3 col-4">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <div class="btn-group" ngbDropdown role="group" aria-label="Select all" placement="bottom-start bottom-end top-start top-end">
                      <button [ngClass]="commonService.desktop_device? 'light-button2  mr-3': 'iconbutton'" ngbDropdownToggle>{{commonService.desktop_device? 'Action': ''}} <span class="material-symbols-rounded" [ngClass]="commonService.desktop_device? 'pr-0 pl-1': ''">
                      {{commonService.desktop_device? 'expand_more': 'more_vert'}}</span></button>
                      <div class="dropdown-menu" ngbDropdownMenu>
                        <button class="dropdown-item"
                          (click)="pwdForm={_id: x._id, email: x.email}; modalService.open(changePwdModal, {windowClass: 'scroll-modal-xl', scrollable : true});"><span class="material-symbols-rounded dropdown_icon">password</span>Change Password</button>
                          <button class="dropdown-item"
                            (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });"><span class="material-symbols-rounded dropdown_icon">delete</span>Remove</button>
                          </div>
                        </div>
                        <button [ngClass]="commonService.desktop_device? 'light-button': 'iconbutton'" (click)="onEdit(x, userModal);">
                          <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'edit': 'chevron_right'}}</span> {{commonService.desktop_device? 'Edit': ''}}
                        </button>
                      </div>
                    </div>
                  </div>
                }
              </div>
            </div>
            <!-- PAGINATION CONTROL -->
            <div class="col-md-12 mt-3">
              <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
              maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
            </div>
          </div>
        }
        @if (!(list | fieldSearch:'name':search_bar)?.length) {
          <div class="row">
            <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
              <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
              <p align="center">No data to display</p>
            </div>
          </div>
        }
      </div>
    }

    <!-- USER MODAL -->
    <ng-template #userModal let-modal>
      <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
        <div class="modal-content">
          <div class="modal-header">
            <h4>
              <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
              <span class="popup_text">{{ (userForm.form_type=='add')? 'Add User': 'Update User' }}</span>
            </h4>
          </div>
          @if (popupLoader) {
            <div class="modal-body">
              <app-popup-spinner></app-popup-spinner>
            </div>
          }
          @if (!popupLoader) {
            <div class="modal-body px-0">
              <div class="form-group">
                <div class="row">
                  @if (userForm.form_type=='edit') {
                    <div class="form-group mb-3 col-md-12 d-flex justify-content-end align-items-center">
                      Enable
                      <label class="switch"><input type="checkbox" name="user_status" [(ngModel)]="userForm.user_status" />
                        <div></div>
                      </label>
                    </div>
                  }
                  <div class="col-md-12 form-group mb-3">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="userForm.name" (input)="userForm.errorMsg=null;" required />
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Role</label>
                    <select name="designation" class="form-control" [(ngModel)]="userForm.designation" required>
                      <option value="">-- Select --</option>
                      @for (x of roleList; track x) {
                        <option [ngValue]="x._id">{{x.name}}</option>
                      }
                    </select>
                  </div>
                  @if (userForm.form_type=='add') {
                    <div class="col-md-12 form-group mb-3">
                      <label>User Email</label>
                      <input type="email" name="email" class="form-control" [(ngModel)]="userForm.email" (input)="userForm.errorMsg=null;" required />
                    </div>
                    <div class="col-md-12 form-group mb-0">
                      <label>Password</label>
                      <input type="text" name="password" class="form-control" [(ngModel)]="userForm.password" (input)="userForm.errorMsg=null;" required />
                    </div>
                  }
                </div>
              </div>
              @if (userForm.errorMsg) {
                <div>
                  <p class="text-danger">{{ userForm.errorMsg }}</p>
                </div>
              }
            </div>
          }
          <div class="modal-footer">
            <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
              <span class="black-outline-txt">Cancel</span>
            </button>
            <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="userForm.submit"
            [ladda]="userForm.submit">Submit</button>
          </div>
        </div>
      </form>
    </ng-template>

    <!-- CHANGE PASSWORD -->
    <ng-template #changePwdModal let-modal>
      <form autocomplete="off" (ngSubmit)="onUpdatePwd();" ngNativeValidate ngbAutofocus>
        <div class="modal-content">
          <div class="modal-header">
            <h4>
              <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
              <span class="popup_text">{{pwdForm.email}}</span>
            </h4>
          </div>
          <div class="modal-body px-0">
            <div class="form-group">
              <div class="row">
                <div class="col-md-12 form-group mb-3">
                  <label>New Password</label>
                  <input type="text" name="new_pwd" class="form-control" [(ngModel)]="pwdForm.new_pwd"
                    (input)="pwdForm.errorMsg=null;" #new_pwd="ngModel" required />
                  </div>
                  <div class="col-md-12 form-group mb-0">
                    <label>Confirm New Password</label>
                    <input type="text" name="confirm_pwd" class="form-control" [(ngModel)]="pwdForm.confirm_pwd"
                      (input)="pwdForm.errorMsg=null;" #confirm_pwd="ngModel" required />
                    </div>
                  </div>
                </div>
                @if (pwdForm.errorMsg) {
                  <div>
                    <p class="text-danger">{{ pwdForm.errorMsg }}</p>
                  </div>
                }
              </div>
              <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
                  (click)="modal.dismiss('Cross click');">
                  <span class="black-outline-txt">Cancel</span>
                </button>
                <button type="submit" [disabled]="pwdForm.confirm_pwd && pwdForm.new_pwd!=pwdForm.confirm_pwd"
                class="btn btn-wide btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </ng-template>

        <!-- DELETE MODAL -->
        <ng-template #deleteModal let-modal>
          <div class="modal-body">
            <p class="mt-3">
              <strong>Are you sure you want to delete
                <span class="txt-grdint-highlight">"{{deleteForm.email}}?"</span>
              </strong>
            </p>
            @if (deleteForm.errorMsg) {
              <div class="col-md-12 pt-3">
                <p class="text-danger">{{ deleteForm.errorMsg }}</p>
              </div>
            }
          </div>
          <div class="modal-footer">
            <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
              (click)="modal.dismiss('Cross click');">
              <span class="black-outline-txt">No</span>
            </button>
            <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn ladda-button m-1"
              [disabled]="deleteForm.submit" [ladda]="deleteForm.submit">
              <span class="orng-outline-txt">Yes</span>
            </button>
          </div>
        </ng-template>