<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>
<div class="inner-dots" *ngIf="!commonService.desktop_device">
  <div class="add_but" routerLink="/setting/appointment-categories/{{params?.category_id}}/add/{{category_details.list.length+1}}">
      <span class="material-symbols-rounded">add</span>
  </div>
</div>
<div *ngIf="!pageLoader">
  <ng-container *ngIf="commonService.desktop_device">
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center">
            <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
            <h1>{{commonService.secondary_header}}</h1>
         </div>
        </div>  
      </div>
    </div>
  </ng-container>

  <div class="top-filter-sec list-button">
    <div class="row mb-4">
      <div class="col-md-6 col-12">
        <div class="form-group search_bar m-0">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
          <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
        </div>
      </div>   
      <div class="col-md-6 list-button d-flex justify-content-end" *ngIf="commonService.desktop_device">
        <button type="button" routerLink="/setting/appointment-categories/{{params?.category_id}}/add/{{category_details.list.length+1}}">
          <span class="material-symbols-rounded">add</span> Add Service
        </button>
      </div>
    </div>
  </div>

  <!-- DATA LIST -->
  <div *ngIf="(category_details?.list | fieldSearch:'name':search_bar)?.length" class="list-horizontal">

    <div class="data-list-card-wrapper">
      <div class="data-list-card-inner">
        <div class="list-item data-list-card" *ngIf="commonService.desktop_device">
          <div class="col-md-3 col-4 first_col px-0 cursor header-font">
            <p class="w-100 w-sm-100 m-b-0">Image</p>
          </div>
          <div class="col-md-5 col-6 first_col align-items-center header-font">
            <p class="w-100 w-sm-100 m-b-0">Name</p>
            <!-- <p class="w-35 w-sm-100 m-b-0 dark-font">Measurements</p> -->
          </div>
        </div>
        <div class="list-item data-list-card"
        *ngFor="let x of category_details.list | numOrderAsc: 'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}"
          [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
          <div class="col-md-3 col-3 first_col px-0 cursor">
            <div *ngIf="x.image" class="list-thumb d-flex align-self-center">
                <img [src]="imgBaseUrl+x.image" alt="">
            </div>
            <div *ngIf="!x.image" class="list-thumb d-flex align-self-center">
                <img src="assets/images/default.png" alt="">
            </div>
          </div>
          <div class="col-md-5 col-5 first_col align-items-center">
            <p class="w-100 w-sm-100 m-b-0 dark-font">{{x.name}}</p>
            <!-- <p class="w-35 w-sm-100 m-b-0 light-font">{{x.list?.length}} Measurements</p> -->
          </div>
          <div class="col-md-4 col-4">
            <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
              <button [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                <span class="material-symbols-rounded">delete</span> {{commonService.desktop_device? 'Remove': ''}}
              </button>
              <button [ngClass]="commonService.desktop_device? 'dark-button': 'iconbutton'"
              routerLink="/setting/appointment-categories/{{params?.category_id}}/modify/{{x._id}}/{{category_details.list.length+1}}">
                <span class="material-symbols-rounded right_arrow transicon">
                  {{commonService.desktop_device? 'visibility': 'chevron_right'}}</span>
                {{commonService.desktop_device? 'View': ''}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


   

    <!-- PAGINATION CONTROL -->
    <div class="col-md-12 mt-3">
      <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
        maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
    </div>

  </div>

  <div *ngIf="!(category_details?.list | fieldSearch:'name':search_bar)?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display</p>
    </div>
  </div>
</div>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to remove <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
        service?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>