@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="help_mobile_button" routerLink="/support/design-website/upload-website-logo">
      <img src="assets/icons/help.svg" title="help">
    </div>
  </div>
}
<div class="logo-management">
  @if (commonService.desktop_device) {
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center">
            <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
            <h1>{{commonService.secondary_header}}</h1>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <button class="help-button" routerLink="/support/design-website/upload-website-logo">
            <span class="material-symbols-rounded mb-0">help</span>Need Help?
          </button>
        </div>
      </div>
    </div>
  }

  <div class="row">
    <div class="col-md-6 d-flex mb-3">
      <div class="card setting-card w-100 p-3 cursor">
        <div class="d-flex align-items-center justify-content-center flex-column">
          @if (!commonService.deploy_stages?.logo) {
            <img src="assets/images/store.svg">
          }
          @if (logoForm.img_change) {
            <img [src]="logoForm.image" height="150px;" width="auto;">
          }
          @if (commonService.deploy_stages?.logo && !logoForm.img_change) {
            <img [src]="storeLogo" height="150px;" width="auto;">
          }
        </div>
        <div class="h-100 d-flex align-items-end mt-3">
          <div class="custom-file mt-2">
            <input type="file" name="store_logo" class="custom-file-input" (change)="fileChangeListener($event, colorModal);" accept="image/jpeg, image/png" required>
            <label class="custom-file-label">Choose file</label>
          </div>
        </div>
        <div>
          @if (logoForm.submit) {
            <button type="button" class="btn btn-wide btn-primary ladda-button mt-3 w-100"
            disabled [ladda]="logoForm.submit">Uploading</button>
          }
        </div>
      </div>
    </div>
    <div class="col-md-6 d-flex  mb-3 align-items-center">
      <div class="card setting-card w-100 p-3 h-100 d-flex align-items-center justify-content-center">
        <div class="row m-0 w-100 text-center">
          <div class="col-md-12 mb-2">
            <span class="material-icons" style="font-size: 50px; color: #999;">palette</span>
            <p class="m-0"><b>Don't have a logo?</b></p>
          </div>

          <div class="col-md-12">
            <p class="mb-0">
              <a href="https://yourstore.io/tools/free-logo-maker-tool/create/" target="_blank" class="btn btn-wide btn-primary m-0">Create your logo</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if (commonService.deploy_stages.logo) {
    <!-- <div class="separator-breadcrumb border-top mb-3 mt-4"></div> -->
    <div class="row mt-4 pb-3">
      <div class="col-md-8 col-6 d-flex align-items-center">
        <h4 class="mb-0">Theme Colors</h4>
      </div>
      <div class="col-md-4 col-6 d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-wide btn-primary ladda-button m-0" [disabled]="btnLoader" [ladda]="btnLoader" (click)="findColors(colorModal);">
          {{ colorSections.length? 'Change': 'Set' }} Theme Colors
        </button>
      </div>
      <!-- theme colors -->
      @for (sec of colorSections; track sec; let i = $index) {
        @if (sec.name!='vendor_bg') {
          <div class="col-md-6 mt-3">
            <div class="card card-in-card p-3">
              <div class="mb-0 d-flex align-items-center fw-700">
                <div>{{sec.name | titlecase}} Color </div>
                <div class="color-span" [ngStyle]="{'background': sec.value}"></div>
              </div>
            </div>
          </div>
        }
      }
    </div>
  }

  @if (commonService.deploy_stages.logo) {
    <!-- <div class="separator-breadcrumb border-top mb-3 mt-4"></div> -->
    <div class="row mt-4 store-logo">
      <div class="col-md-12">
        <h4>Store Logos</h4>
      </div>
      <div class="col-md-3 col-6 d-flex">
        <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
          <div class="d-flex align-items-center justify-content-center flex-column h-100">
            <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/favicon.png?v='+verNum" height="100px;" width="auto;">
            <label class="text-title d-flex align-items-center justify-content-center mt-3 mb-0">
              Favicon               
              <span class="material-symbols-rounded edit-icon absolute-icon" (click)="btnLoader=false; uploadForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'favicon', file_type: 'png', resolution: '50x50' }; modalService.open(imageModal);">edit</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 d-flex">
        <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
          <div class="d-flex align-items-center justify-content-center flex-column h-100">
            <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/logo.png?v='+verNum" height="100px;" width="auto;">
            <label class="text-title d-flex align-items-center justify-content-center mt-3 mb-0">
              Site Logo 
              <span class="material-symbols-rounded edit-icon absolute-icon" (click)="btnLoader=false; uploadForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: true, file_name: 'logo', file_type: 'png', resolution: 'autox100' }; modalService.open(imageModal);">edit</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 d-flex">
        <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
          <div class="d-flex align-items-center justify-content-center flex-column h-100">
            <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/social_logo.jpg?v='+verNum" height="100px;" width="auto;">
            <label class="text-title d-flex align-items-center justify-content-center mt-3 mb-0">
              Social Logo 
              <span class="material-symbols-rounded edit-icon absolute-icon" (click)="btnLoader=false; uploadForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'social_logo', file_type: 'jpg', resolution: '200x200' }; modalService.open(imageModal);">edit</span>
            </label>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-6 d-flex">
        <div class="card setting-card w-100 p-3 mt-3 mb-3 cursor">
          <div class="d-flex align-items-center justify-content-center flex-column h-100">
            <img [src]="imgBaseUrl+'uploads/'+commonService.store_details._id+'/mail_logo.png?v='+verNum" height="100px;" width="auto;">
            <label class="text-title d-flex align-items-center justify-content-center mt-3 mb-0">
              Mail Logo 
              <span class="material-symbols-rounded edit-icon absolute-icon" (click)="btnLoader=false; uploadForm={ root_path: 'uploads/'+commonService.store_details._id, small_image: false, file_name: 'mail_logo', file_type: 'png', resolution: 'autox80' }; modalService.open(imageModal);">edit</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  
}
</div>

<!-- Image Modal -->
<ng-template #imageModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
      <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
      <h4 class="modal-title popup_text" id="modal-basic-title">Update Image</h4>
      </div> 
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12" align="center">
              <p>Photo Resolution: {{uploadForm?.resolution}}</p>
              @if (uploadForm.image) {
<div>
                <img [src]="uploadForm.image" height="100px;" width="auto;">
              </div>
}
              @if (!uploadForm.image) {
<div>
                <img [src]="imgBaseUrl+uploadForm?.root_path+'/'+uploadForm?.file_name+'.'+uploadForm?.file_type+'?v='+verNum" height="100px;" width="auto;">
                <div class="h-100 d-flex align-items-end">
                  <div class="custom-file mt-2">
                    @if (uploadForm?.file_type=='jpg') {
                        <input class="custom-file-input" type="file" name="image" (change)="uploadChangeListener($event);" accept="image/jpeg" />
                      }
                      @if (uploadForm?.file_type=='png') {
                        <input class="custom-file-input" type="file" name="image" (change)="uploadChangeListener($event);" accept="image/png" />
                      }
                      @if (uploadForm?.file_type=='any') {
                        <input class="custom-file-input" type="file" name="image" (change)="uploadChangeListener($event);" accept="image/jpeg, image/png" />
                      }
                      <label class="custom-file-label">Choose file</label>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
        @if (uploadForm.errorMsg) {
          <div>
            <p class="text-danger">{{ uploadForm.errorMsg }}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">Update</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- Color Modal -->
<ng-template #colorModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
      <h4 class="modal-title popup_text" id="modal-basic-title">Theme Colors</h4>
    </div>
    <div class="modal-body theme_colorpick">
      <div class="form-group">
        <div class="row">
          @for (sec of colorFields; track sec; let i = $index) {
            <div class="col-md-12" [ngClass]="(i>0)? 'mt-3': ''">
              <div class="card card-in-card z-i-unset p-3">
                <h5>{{sec.name}}</h5>
                <div class="row ml-3 mt-3">
                  <div class="form-group mb-3 col-md-12">
                    <button type="button" (click)="sec.manual_status? sec.manual_status=false: sec.manual_status=true;" class="btn btn-primary">
                      Pick {{ (sec.manual_status)? 'from logo colors': 'custom color' }}
                    </button>
                  </div>
                  @if (sec.manual_status) {
                    <div class="col-md-6 form-group mb-3">
                      <label>Color Picker</label>
                      <input name="color_code{{i}}" class="form-control" [colorPicker]="sec.color_code"
                        (colorPickerChange)="sec.color_code=$event;" [style.background]="sec.color_code"
                        [cpOKButton]="true" [cpOKButtonText]="'Save'" [cpOKButtonClass]="'btn btn-primary'"
                        [cpSaveClickOutside]="false" [cpCancelButton]="true" [cpCancelButtonClass]="'btn black-outline-btn'" readonly />
                      </div>
                    }
                    @if (!sec.manual_status) {
                      @for (x of colorList; track x) {
                        <div class="col-lg-3 col-md-3 col-3 form-group mb-3">
                          <label class="radio radio-success">
                            <input type="radio" [(ngModel)]="sec.color_code" [value]="x" name="color_code{{i}}">
                            <div class="color-span" [ngStyle]="{'background': x}"></div>
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      }
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        @if (errorMsg) {
          <div>
            <p class="mt-4 text-danger">{{ errorMsg }}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button [hidden]="!commonService.deploy_details?.theme_colors?.primary" type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="button" (click)="updateThemeColor(welcomeModal);" class="btn btn-wide btn-primary ladda-button"
        [disabled]="btnLoader" [ladda]="btnLoader">Update</button>
      </div>
    </div>
  </ng-template>

  <!-- Welcome Modal -->
  <ng-template #welcomeModal let-modal>
    <div class="modal-body">
      <section class="you-dit-it-section welcome-modal-bg">
        <div class="you-dit-it-center-section welcome-modal-sec ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 d-flex align-items-center justify-content-center">
                <div class="you-dit-it-message" style="display: flex; flex-direction: column; align-items: center;text-align: center;">
                  <h2>Your website is ready!</h2>
                  <div>
                    <a href="{{commonService.store_details?.base_url}}" target="_blank" (click)="modal.dismiss('Cross click');" class="btn-primary mr-3">Preview Website</a>
                    <button class="btn-primary" (click)="modal.dismiss('Cross click');" routerLink="/dashboard" type="button">Continue Setup</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-flex justify-content-center">
                <div class="you-dit-it-image">
                  <img src="assets/images/others/layout.png" alt="layout-img" style="width: 575px;margin-bottom: 20px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </ng-template>