<div [hidden]="commonService.secondary_header || commonService.desktop_device || router.url=='/orders' || router.url=='/orders/quotations'" class="row" style="margin-left:-25px;  margin-top:-20px;">
  <div class="carosal" id="timepicker">
    <ul class="px-3">
      <ng-container *ngFor="let x of commonService.order_menu_list; let i=index;">
        <li (click)="onSelect(i+1);" id="elem_{{i+1}}">
          <a class="hz_carosal" [routerLink]="x.state" [routerLinkActive]="'carosal_button'">{{ x.name }}</a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

<router-outlet (activate)="commonService.onActivate($event)"></router-outlet>