.text-green
{
    background: #3CC59615!important;
    color: #3CC596;
    span{
        color: #3CC596;
    }
}
.text-red
{
    background: #f33b4d15 !important;
    color: #F33B4D;
    span{
        color: #F33B4D;
    }
}
.text-yellow
{
    background : #F5B70026 !important;
    color: #F5B700;
    span{
        color: #F5B700;
    }
}