@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb">
        <h1>Feedback</h1>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-6 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
            @if (!commonService.desktop_device) {
              <div class="filter_icon" (click)="onOpenFilterModal(filterModal);"><span
              class="material-symbols-rounded cursor">filter_alt</span></div>
            }
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 list-button d-flex justify-content-end">
            <button type="button" class="mr-3" (click)="onOpenFilterModal(filterModal);"><span
            class="material-symbols-rounded">filter_alt</span>Filter</button>
          </div>
        }
      </div>
    </div>
    @if ((list | gridSearch: { name: search_bar, email: search_bar })?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-10 col-10 first_col px-0 header-font">
                  <p class="w-25 w-sm-100">Name</p>
                  <p class="w-25 w-sm-100 m-b-0">Email</p>
                  <p class="w-25 w-sm-100 m-b-0">Rating</p>
                  <p class="w-25 w-sm-100 m-b-0">Date</p>
                </div>
              </div>
            }
            @for (x of list | numOrderDesc:'_id' | gridSearch: { name: search_bar, email: search_bar } | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card"
                [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="col-md-10 col-10 first_col px-0 cursor" (click)="details=x; modalService.open(feedbackModal);">
                  <p class="w-25 w-sm-100 dark-font">{{x.name}}</p>
                  <p class="w-25 w-sm-100 m-b-0 light-font">{{x.email}}</p>
            <p class="w-25"> <button class="dark-button" [ngClass]="{
              'text-red': x?.rating=='1' || x?.rating=='2',
              'text-yellow': x?.rating=='3',
              'text-green': x?.rating=='4' ||x?.rating=='5'
            }">
                    <span class="material-symbols-rounded right_arrow transicon">
                    star</span>{{x.rating}}
                  </button></p>
                  <p class="w-25 w-sm-100 m-b-0 light-font">{{x.created_on | date: "dd MMM y"}}</p>
                </div>
                <div class="col-md-2 col-2">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <button [ngClass]="commonService.desktop_device? 'dark-button': 'iconbutton'"
                      (click)="details=x; modalService.open(feedbackModal);">
                      <span class="material-symbols-rounded right_arrow transicon">
                        {{commonService.desktop_device? 'visibility':
                      'chevron_right'}} </span> {{commonService.desktop_device? 'View': ''}}
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | gridSearch: { name: search_bar, email: search_bar })?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- Feedback Modal -->
<ng-template #feedbackModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{details.email}}</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row">
        <div class="col-md-12">
          <p class="mb-3"><b>Quality: </b>{{details.quality}}</p>
          <p class="mb-3"><b>Pricing: </b>{{details.pricing}}</p>
          <p class="mb-3"><b>Shipping: </b>{{details.shipping}}</p>
          <p class="mb-3"><b>Comment: </b>{{ (details.comment)? details.comment: 'NA' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">Close</span>
    </button>
  </div>
</ng-template>

<!-- filter Modal -->
<ng-template #filterModal let-modal>
  <form autocomplete="off" ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor"
          (click)="filterForm=tempFilter; modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">Filter</span>
        </h4>
      </div>
      <div class="modal-body filtersec">
        <div class="row m-0">
          <div class="carosal w-100">
            <ul class="px-3">
              <li>
                <a class="hz_carosal carosal_button">
                  By Date
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="row m-0 p-3">
          <div class="col-md-12 d-flex pb-3">
            <!-- from date -->
            <div class="col-md-6 col-6">
              <div class="form-group">
                <input type="text" placeholder="Select Date" class="form-control" name="from_date"
                  [(ngModel)]="filterForm.from_date" bsDatepicker
                  [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
                </div>
              </div>
              <!-- to date -->
              <div class="col-md-6 col-6">
                <div class="form-group">
                  <input type="text" placeholder="Select Date" class="form-control" name="to_date"
                    [(ngModel)]="filterForm.to_date" bsDatepicker [minDate]="filterForm.from_date"
                    [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer">
            <button type="button" id="closeModal" class="d-none" (click)="modal.dismiss('cancel');"></button>
            <button type="button" class="btn btn-wide black-outline-btn"
              (click)="filterForm=tempFilter; modal.dismiss('cancel');">
              <span class="black-outline-txt">Cancel</span>
            </button>
            <button type="button" class="btn btn-wide orng-outline-btn m-1" (click)="ngOnInit();">
              <span class="orng-outline-txt">Apply</span>
            </button>
          </div>

        </div>
      </form>
    </ng-template>