<div class="help-content">
    <div class="help-section">
        <h2>Quick Orders</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/orders/quick-orders">Orders → Quick Orders  </a>
            </li>
            <li>In quick orders (available from Yourstore Pro Starter plan) you can create a virtual cart by adding the items required for a customer and share the link with your customers to buy, by  just entering their address and payment type and completing the order quickly.
            </li>            
        </ol>
        
    </div>
</div>
