<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Design Website</a>
        </li>
        <li>Create extra page</li>
    </ol> -->
    <div class="help-section">
        <h2>Creating Extra Pages</h2>
        <h3> Adding a Page</h3>
        <ol>
            <li>Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setup/pages/extra-pages">Website → Pages → Extra Pages</a>
            </li>
            <li>
                Click “Add Page” on top right corner.
            </li>
            <li>
                Input Page name, Example: About Us
            </li>
            <li>
                Input URL name, replace space with hyphen symbol (-)  Example: about-us
            </li>
            <li>
                Input the contents in the content field below.
            </li>
            <li>
                Click Update
            </li>
        </ol>
    </div>
</div>