<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            Domain
        </li>
    </ol> -->
    <div class="help-section">
        <h2>How to Setup your Domain</h2>
        <h3>Connecting your Domain with Yourstore Account</h3>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore
                    Dashboard</a> and click on <a routerLink="/setting/domain">Connect your Domain</a>
            </li>
            <li>
                You can choose to Buy a new domain or Link Existing Domain
            </li>
            <li>
                Submit your request and our team will connect with you to complete the domain
                linking setup.
            </li>
        </ol>
    </div>
</div>