@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="help_mobile_button" routerLink="/support/navigation/footer-links">
      <img src="assets/icons/help.svg" title="help">
    </div>
  </div>
}
@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <h1>Footer Configuration</h1>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <button class="help-button" routerLink="/support/navigation/footer-links">
              <span class="material-symbols-rounded mb-0">help</span>Need Help?
            </button>
          </div>
        </div>
      </div>
    }
    <div class="row list-horizontal">
      <!-- Address -->
      <div class="col-md-6">
        <div class="card p-3 mb-4">
          <div class="row mb-3">
            <div class="col-8">
              <h4 style="font-size: 1rem;">{{footer_config.address_config.title? footer_config.address_config.title: 'Primary'}}</h4>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <div class="more_icons">
                <button class="iconbutton" (click)="onEditDetails('address', detailsModal);">
                  <span class="material-symbols-rounded">edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-in-card d-flex flex-row">
                <div class="flex-grow-1 d-flex">
                  <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    @if (!footer_config.address_config.content) {
                      <p class="light-font fw-600 text-center">NA</p>
                    }
                    @if (footer_config.address_config.content) {
                      <p class="mt-2 mb-0" style="line-height: 5px;" [innerHtml]="footer_config.address_config.content"></p>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Contact -->
      <div class="col-md-6">
        <div class="card p-3 mb-4">
          <div class="row mb-3">
            <div class="col-8">
              <h4 style="font-size: 1rem;">{{footer_config.contact_config.title? footer_config.contact_config.title: 'Secondary'}}</h4>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <div class="row mr-1 more_icons">
                <button class="iconbutton" (click)="onEditDetails('contact', detailsModal);">
                  <span class="material-symbols-rounded">edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card-in-card d-flex flex-row">
                <div class="flex-grow-1 d-flex">
                  <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    @if (!footer_config.contact_config.content) {
                      <p class="w-100 light-font fw-600 m-b-0 text-center">NA</p>
                    }
                    @if (footer_config.contact_config.content) {
                      <p class="mt-2 mb-0" style="line-height: 5px;" [innerHtml]="footer_config.contact_config.content"></p>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Media -->
      <div class="col-md-6">
        <div class="card p-3 mb-4">
          <div class="row mb-3">
            <div class="col-8">
              <h4 style="font-size: 1rem;">{{footer_config.social_media_title? footer_config.social_media_title: 'SOCIAL MEDIA'}}</h4>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
              <div class="row more_icons mr-1">
                <button class="iconbutton" (click)="onEditSocialMedia(socialMediaModal);">
                  <span class="material-symbols-rounded">edit</span>
                </button>
              </div>
            </div>
          </div>
          <div class="data-list-card-wrapper">
            <div class="data-list-card-inner">
              @for (x of footer_config.social_media_links; track x) {
                <div class="list-item data-list-card">
                  <div class="col-md-7 col-5 first_col align-items-center px-0">
                    <img src="assets/icons/social-media/{{x.type}}.svg" style="height:15px;width:auto;" alt="">
                    <p class="w-90 w-sm-100 dark-font m-b-0">{{x.type | titlecase}}</p>
                  </div>
                  <div class="col-md-5 col-7 first_col align-items-center">
                    <p class="w-100 w-sm-100 m-b-0 light-font">{{x.url}}</p>
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="row">
            <!-- <div *ngFor="let x of footer_config.social_media_links;" class="col-md-12">
            <div class="card-in-card d-flex flex-row">
              <div class="flex-grow-1 d-flex">
                <div class="card-body px-0 align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <p class="w-30 w-sm-100 dark-font m-b-0">{{x.type | titlecase}}</p>
                  <p class="w-30 w-sm-100 m-b-0 light-font">{{x.url}}</p>
                </div>
              </div>
            </div>
          </div> -->
          @if (!footer_config.social_media_links.length) {
            <div class="col-md-12">
              <div class="card card-in-card mb-4 d-flex flex-row">
                <div class="flex-grow-1 d-flex">
                  <div
                    class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    <p class="w-100 m-b-0" align="center">No records found.</p>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <!-- Payment Methods -->
    <div class="col-md-6">
      <div class="card p-3 mb-4">
        <div class="row mb-3">
          <div class="col-10">
            <h4 style="font-size: 1rem;">Payment Methods</h4>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <div class="row mr-1 more_icons">
              <button class="iconbutton" (click)="onEditPayment(paymentModal);">
                <span class="material-symbols-rounded">edit</span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          @for (x of footer_config.payment_methods; track x) {
            <div class="col-md-3 col-4">
              <div class="card-in-card d-flex flex-row">
                <div class="flex-grow-1 d-flex">
                  <div class="card-body d-flex flex-column">
                    <img src="assets/images/payment/{{x}}.svg" height="40px" alt="{{x}}">
                  </div>
                </div>
              </div>
            </div>
          }
          @if (!footer_config.payment_methods.length) {
            <div class="col-md-12">
              <div class="card card-in-card mb-4 d-flex flex-row">
                <div class="flex-grow-1 d-flex">
                  <div
                    class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    <p class="w-100 w-sm-100 m-b-0" align="center">No records found.</p>
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
    <!-- Footer Links -->
    <div class="col-md-6">
      <div class="card p-3 mb-4">
        <div class="row mb-3">
          <div class="col-8">
            <h4 style="font-size: 1rem;">Footer Links</h4>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <div class="row more_icons mr-1">
              <button class="iconbutton" (click)="onEditFooterLink(linkModal);">
                <span class="material-symbols-rounded">edit</span>
              </button>
            </div>
          </div>
          <!-- <div class="col-4 d-flex justify-content-end align-items-center">
          <i class="material-icons edit-icon" (click)="onEditFooterLink(linkModal);">edit</i>
        </div> -->
      </div>
      <div class="row">
        @for (x of footer_config.other_links; track x) {
          <div class="col-md-6">
            <div class="card-in-card mb-4 d-flex flex-row">
              <div class="flex-grow-1 d-flex">
                <div class="card-body p-0 align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <p class="w-100 w-sm-100 dark-font m-b-0">{{x.name}}</p>
                </div>
              </div>
            </div>
          </div>
        }
        @if (!footer_config.other_links.length) {
          <div class="col-md-12">
            <div class="card card-in-card mb-4 d-flex flex-row">
              <div class="flex-grow-1 d-flex">
                <div
                  class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <p class="w-100 w-sm-100 m-b-0" align="center">No records found.</p>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
</div>
}

<!-- Edit address & contact modal -->
<ng-template #detailsModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdateDetails();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">{{editForm.title}}</span>
        </h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label>Title</label>
              <input type="text" name="title" class="form-control" [(ngModel)]="editForm.title" #title="ngModel" />
            </div>
            <div class="col-md-12 form-group mb-3 quill-mb-5">
              <label>Content</label>
              <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="editForm.content" [ngModelOptions]="{standalone: true}"></quill-editor>
            </div>
          </div>
        </div>
        @if (editForm.errorMsg) {
          <div>
            <p class="text-danger">{{ editForm.errorMsg }}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit" [ladda]="editForm.submit">
          Update
        </button>
      </div>
    </div>
  </form>
</ng-template>

<!-- Social Media modal -->
<ng-template #socialMediaModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdateSocialMedia();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">{{editForm.social_media_title}}</span>
        </h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-md-6 form-group mb-3">
              <label>Title</label>
              <input type="text" name="social_media_title" class="form-control" [(ngModel)]="editForm.social_media_title" #social_media_title="ngModel" />
            </div>
            <div class="col-md-12 mb-3"></div>
            @for (x of editForm.social_media_links; track x; let i = $index) {
              <div class="col-md-6 form-group mb-4">
                <div class="card p-2">
                  <span (click)="editForm.social_media_links.splice(i, 1);" class="material-icons round-btn-icon ab-item-close float-right top5" style="right:-10px;top:-10px" aria-hidden="true">close</span>
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label>Type</label>
                      <select name="type{{i}}" class="form-control" [(ngModel)]="x.type" #type="ngModel" required>
                        @for (x of commonService.socialTypes; track x) {
                          <option [ngValue]="x">{{x | titlecase}}</option>
                        }
                      </select>
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      <label>Link</label>
                      <input type="text" name="url{{i}}" class="form-control" [(ngModel)]="x.url" #url="ngModel" required />
                    </div>
                  </div>
                </div>
              </div>
            }
            <div class="col-md-12">
              <button type="button" (click)="editForm.social_media_links.push({});" class="light-button"><span class="material-symbols-rounded">add</span>
            ADD NEW</button>
            <!-- <p class="add-another" (click)="editForm.social_media_links.push({});">ADD NEW</p> -->
          </div>
        </div>
      </div>
      @if (editForm.errorMsg) {
        <div>
          <p class="text-danger">{{ editForm.errorMsg }}</p>
        </div>
      }
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit" [ladda]="editForm.submit">
        Update
      </button>
    </div>
  </div>
</form>
</ng-template>

<!-- Payment Methods modal -->
<ng-template #paymentModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdatePayment();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">>Payment Methods</span>
        </h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            @for (x of editForm.payment_methods; track x; let i = $index) {
              <div class="col-md-6 form-group mb-3">
                <div class="card p-2">
                  <span (click)="editForm.payment_methods.splice(i, 1);" class="material-icons round-btn-icon ab-item-close float-right top5" style="right:-10px;top:-10px" aria-hidden="true">close</span>
                  <div class="row">
                    <div class="col-md-8 form-group mb-3">
                      <label>Type</label>
                      <select name="type{{i}}" class="form-control" [(ngModel)]="x.type" #type="ngModel" required>
                        @for (x of paymentTypes; track x) {
                          <option [ngValue]="x">{{x | titlecase}}</option>
                        }
                      </select>
                    </div>
                    <div class="col-md-4 form-group mb-3">
                      @if (x.type) {
                        <div class="pull-right">
                          <img src="assets/images/payment/{{x.type}}.svg" class="mt-4" height="30px;" alt="{{x.type}}">
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </div>
            }
            <div class="col-md-12">
              <button type="button" (click)="editForm.payment_methods.push({});"  class="light-button"><span   class="material-symbols-rounded">add</span>
            ADD NEW</button>
            <!-- <p class="add-another" (click)="editForm.payment_methods.push({});">ADD NEW</p> -->
          </div>
        </div>
      </div>
      @if (editForm.errorMsg) {
        <div>
          <p class="text-danger">{{ editForm.errorMsg }}</p>
        </div>
      }
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit" [ladda]="editForm.submit">
        Update
      </button>
    </div>
  </div>
</form>
</ng-template>

<!-- Footer link modal -->
<ng-template #linkModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdateFooterLink();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">Footer Links</span>
        </h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            @for (x of editForm.other_links; track x; let i = $index) {
              <div class="col-md-12">
                <div class="card w-100 p-3 mb-3">
                  <span (click)="editForm.other_links.splice(i, 1);" class="material-icons round-btn-icon ab-item-close float-right top5" style="right:-10px;top:-10px" aria-hidden="true">close</span>
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <label>Name</label>
                      <input type="text" name="name{{i}}" class="form-control" [(ngModel)]="x.name" #name="ngModel" required />
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="internal">
                        <span>Link to Internal Link</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-6 form-group mb-3">
                      <label class="radio radio-primary">
                        <input type="radio" name="link_type{{i}}" [(ngModel)]="x.link_type" value="external">
                        <span>Link to External Link</span>
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-md-12 form-group mb-3">
                      @if (x.link_type=='internal') {
                        <label>{{commonService.store_details?.base_url}}{{x.link}}</label>
                      }
                      @if (x.link_type=='external') {
                        <label>External Link</label>
                      }
                      <input type="text" name="link{{i}}" class="form-control" [(ngModel)]="x.link" #int_link="ngModel" required />
                    </div>
                  </div>
                </div>
              </div>
            }
            <div class="col-md-12">
              <button type="button" (click)="editForm.other_links.push({link_type: 'internal'});" class="light-button"><span   class="material-symbols-rounded">add</span>
            ADD NEW</button>
            <!-- <p class="add-another" (click)="editForm.other_links.push({link_type: 'internal'});">ADD NEW</p> -->
          </div>
        </div>

      </div>
      @if (editForm.errorMsg) {
        <div>
          <p class="text-danger">{{ editForm.errorMsg }}</p>
        </div>
      }
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit" [ladda]="editForm.submit">
        Update
      </button>
    </div>
  </div>
</form>
</ng-template>