<div class="breadcrumb with-back-btn">
  <div class="row">
    <div class="col-md-12">
      <h1>Dashboard</h1>
    </div>
  </div>
</div>
<div class="separator-breadcrumb border-top"></div>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="card p-3 mb-4">
      <h5 class="card-title">Filter</h5>
      <div class="top-filter-sec">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <select name="category" class="form-control select-arrow" [(ngModel)]="filterForm.category" (change)="getDashboardData();">
                <option value="genie">Genie</option>
                <option value="pro">Pro</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <input type="text" placeholder="Select From Date" class="form-control" name="from_date" autocomplete="off" [(ngModel)]="filterForm.from_date"
                (ngModelChange)="filterForm.type='custom'; getDashboardData();" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input type="text" placeholder="Select To Date" class="form-control" name="to_date" autocomplete="off" [(ngModel)]="filterForm.to_date"
                  (ngModelChange)="filterForm.type='custom'; getDashboardData();" bsDatepicker [minDate]="filterForm.from_date"
                  [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <select name="type" class="form-control select-arrow" [(ngModel)]="filterForm.type" (change)="filterForm.type!='custom' ? onFilterChange(filterForm.type): ''">
                    <option value="today">Today</option>
                    <option value="yesterday">Yesterday</option>
                    <option value="last_7_days">Last 7 days</option>
                    <option value="last_30_days">Last 30 days</option>
                    <option value="current_month">Current month</option>
                    <option value="last_month">Last month</option>
                    <option value="current_year">Current year</option>
                    <option value="last_year">Last year</option>
                    <option value="current_fin_year">Current financial year</option>
                    <option value="last_fin_year">Last financial year</option>
                    <option value="custom">Custom</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      @if (!preLoader) {
        <div class="col-lg-12 col-md-12">
          <div class="card w-100 p-4 mb-4">
            <div class="card-title">Signup Drop</div>
            <div class="row">
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Signup Button</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_1<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_1+5)}">NA</h6>
                      }
                      @if (signupLog.signup_page) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_1)}">
                          {{signupLog.signup_page}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_1_v}}% clicked on the signup button
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Create Account</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_2<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_2+5)}">{{signupLog.signup_page}}</h6>
                      }
                      @if (signupLog.step_1) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_2)}">
                          {{signupLog.step_1}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_2_v}}% of signup button clicked users shared the profile info
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Profile Setup</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_3<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_3+5)}">{{signupLog.step_1}}</h6>
                      }
                      @if (signupLog.step_2) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_3)}">
                          {{signupLog.step_2}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_3_v}}% of profile info shared users shared their store info
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Add Address</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_4<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_4+5)}">{{signupLog.step_2}}</h6>
                      }
                      @if (signupLog.step_3) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_4)}">
                          {{signupLog.step_3}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_4_v}}% of store info shared users shared their store location
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Business Category</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_5<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_5+5)}">{{signupLog.step_3}}</h6>
                      }
                      @if (signupLog.step_4) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_5)}">
                          {{signupLog.step_4}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_5_v}}% of store location shared users shared their business category
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Profile Activated</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (signupLog.bar_6<100) {
                        <h6 [ngStyle]="{'height.%':(signupLog.bar_6+5)}">{{signupLog.step_4}}</h6>
                      }
                      @if (card_details?.activated_list?.length) {
                        <div class="bar-value" [ngStyle]="{'height.%':(signupLog.bar_6)}">
                          {{card_details?.activated_list?.length}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{signupLog.bar_6_v}}% of signup completed users have activated their store
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card w-100 p-4 mb-4">
            <div class="card-title">Based on Activation</div>
            <div class="row">
              <div class="item-div-col5 item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Added Logo</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (userMgmt.bar_1<100) {
                        <h6 [ngStyle]="{'height.%':(userMgmt.bar_1+5)}">{{card_details?.activated_list?.length}}</h6>
                      }
                      @if (userMgmt.logo) {
                        <div class="bar-value" [ngStyle]="{'height.%':(userMgmt.bar_1)}">
                          {{userMgmt.logo}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{userMgmt.bar_1_v}}% of the activated users added logo
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div-col5 item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Added Product</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (userMgmt.bar_2<100) {
                        <h6 [ngStyle]="{'height.%':(userMgmt.bar_2+5)}">{{card_details?.activated_list?.length}}</h6>
                      }
                      @if (userMgmt.products) {
                        <div class="bar-value" [ngStyle]="{'height.%':(userMgmt.bar_2)}">
                          {{userMgmt.products}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{userMgmt.bar_2_v}}% of the activated users added product
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div-col5 item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Added Shipping</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (userMgmt.bar_3<100) {
                        <h6 [ngStyle]="{'height.%':(userMgmt.bar_3+5)}">{{card_details?.activated_list?.length}}</h6>
                      }
                      @if (userMgmt.shipping) {
                        <div class="bar-value" [ngStyle]="{'height.%':(userMgmt.bar_3)}">
                          {{userMgmt.shipping}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{userMgmt.bar_3_v}}% of the activated users added shipping
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div-col5 item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Added Payment</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (userMgmt.bar_4<100) {
                        <h6 [ngStyle]="{'height.%':(userMgmt.bar_4+5)}">{{card_details?.activated_list?.length}}</h6>
                      }
                      @if (userMgmt.payments) {
                        <div class="bar-value" [ngStyle]="{'height.%':(userMgmt.bar_4)}">
                          {{userMgmt.payments}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{userMgmt.bar_4_v}}% of the activated users added payment
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
              <div class="item-div-col5 item-div">
                <div class="bar-chart">
                  @if (commonService.desktop_device) {
                    <div>
                      <h5>Plan Selected</h5>
                    </div>
                  }
                  <div class="title-div">
                    <div class="bar">
                      @if (userMgmt.bar_5<100) {
                        <h6 [ngStyle]="{'height.%':(userMgmt.bar_5+5)}">{{card_details?.activated_list?.length}}</h6>
                      }
                      @if (userMgmt.package) {
                        <div class="bar-value" [ngStyle]="{'height.%':(userMgmt.bar_5)}">
                          {{userMgmt.package}}
                        </div>
                      }
                    </div>
                    @if (commonService.desktop_device) {
                      <div>
                        <p>
                          {{userMgmt.bar_5_v}}% of the activated users selected a plan
                        </p>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex">
          <div class="card w-100 p-4 mb-4">
            <div class="card-title">Based on Date Range</div>
            <div class="row m-0">
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                <div class="card card-icon w-100 mb-4">
                  <div class="card-body text-center">
                    <!-- <i class="material-icons">cloud_upload</i> -->
                    <p class="text-muted text-gradient mt-2 mb-2">Added Logo</p>
                    <p class="text-primary text-18 line-height-1 m-0">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <span>{{deploySteps.logo}}</span>
                      }
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                <div class="card card-icon w-100 mb-4">
                  <div class="card-body text-center">
                    <!-- <i class="material-icons">person_pin_circle</i> -->
                    <p class="text-muted text-gradient mt-2 mb-2">Added Product</p>
                    <p class="text-primary text-18 line-height-1 m-0">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <span>{{deploySteps.products}}</span>
                      }
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                <div class="card card-icon w-100 mb-4">
                  <div class="card-body text-center">
                    <!-- <i class="material-icons">monetization_on</i> -->
                    <p class="text-muted text-gradient mt-2 mb-2">Added Shipping</p>
                    <p class="text-primary text-18 line-height-1 m-0">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <span>{{deploySteps.shipping}}</span>
                      }
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 d-flex"></div>
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                <div class="card card-icon w-100 mb-4">
                  <div class="card-body text-center">
                    <!-- <i class="material-icons">person_pin_circle</i> -->
                    <p class="text-muted text-gradient mt-2 mb-2">Added Payment</p>
                    <p class="text-primary text-18 line-height-1 m-0">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <span>{{deploySteps.payments}}</span>
                      }
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
                <div class="card card-icon w-100 mb-4">
                  <div class="card-body text-center">
                    <!-- <i class="material-icons">monetization_on</i> -->
                    <p class="text-muted text-gradient mt-2 mb-2">Plan Selected</p>
                    <p class="text-primary text-18 line-height-1 m-0">
                      @if (preLoader) {
                        <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                      }
                      @if (!preLoader) {
                        <span>{{deploySteps.package}}</span>
                      }
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-sm-6 d-flex"></div>
            </div>
          </div>
        </div>
      }

      <div class="col-lg-6 col-md-12">
        <!-- CARD ICON -->
        <div class="row m-0">
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">cloud_upload</i>
                <p class="text-muted text-gradient mt-2 mb-2">New Signups</p>
                <p class="text-primary text-18 line-height-1 m-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{card_details?.signup_list?.length}}</span>
                  }
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">person_pin_circle</i>
                <p class="text-muted text-gradient mt-2 mb-2">Activated Stores</p>
                <p class="text-primary text-18 line-height-1 m-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{card_details?.activated_list?.length}}</span>
                  }
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">monetization_on</i>
                <p class="text-muted text-gradient mt-2 mb-2">Plan Selected</p>
                <p class="text-primary text-18 line-height-1 m-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{card_details?.plan_selected}}</span>
                  }
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">settings_backup_restore</i>
                <p class="text-muted text-gradient mt-2 mb-2">Revenue</p>
                <p class="line-height-1 text-title text-18 mt-2 mb-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{ card_details?.revenue | number : '1.0-0' }}</span>
                  }
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">all_out</i>
                <p class="text-muted text-gradient mt-2 mb-2">Transaction</p>
                <p class="line-height-1 text-title text-18 mt-2 mb-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>0</span>
                  }
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">remove_shopping_cart</i>
                <p class="text-muted text-gradient mt-2 mb-2">Product Uploaded</p>
                <p class="line-height-1 text-title text-18 mt-2 mb-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{card_details?.products}}</span>
                  }
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6 d-flex"></div>
          <div class="col-lg-4 col-md-6 col-sm-6 d-flex">
            <div class="card card-icon w-100 mb-4">
              <div class="card-body text-center">
                <i class="material-icons">remove_shopping_cart</i>
                <p class="text-muted text-gradient mt-2 mb-2">Total Orders</p>
                <p class="line-height-1 text-title text-18 mt-2 mb-0">
                  @if (preLoader) {
                    <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
                  }
                  @if (!preLoader) {
                    <span>{{card_details?.order_list?.length}}</span>
                  }
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 mt-3 d-flex">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <h5 class="card-title">Signup Volume</h5>
            @if (preLoader) {
              <div class="d-flex justify-content-center">
                <i class="fa fa-circle-o-notch fa-spin load-spin"></i>
              </div>
            }
            @if (!preLoader && card_details?.signup_list?.length) {
              <div echarts [options]="chartLine" style="height: 300px"></div>
            }
            @if (!preLoader && !card_details?.signup_list?.length) {
              <div class="d-flex align-items-center justify-content-center">
                <p>No signups found</p>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 d-flex">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <div class="card-title">Top Categories</div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Stores</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (x of commonService.store_categories | paginate: { id: 'pagination1', itemsPerPage: 6, currentPage: page }; track x) {
                      <tr>
                        <td>{{x.display}}</td>
                        <td class="text-success font-weight-bold">{{x.count}}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
            <!-- PAGINATION CONTROL -->
            <div class="row">
              <div class="col-md-12 mt-3">
                <pagination-controls id="pagination1" (pageChange)="page=$event;" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 d-flex">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <div class="card-title">Plans</div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Stores</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (x of card_details.package_list; track x) {
                      <tr>
                        <td>{{x.name}}</td>
                        <td class="text-success font-weight-bold">{{x.count}}</td>
                      </tr>
                    }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 d-flex">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <div class="card-title">Top Store Orders</div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Orders</th>
                    </tr>
                  </thead>
                  @if (card_details.store_orders?.length) {
                    <tbody>
                      @for (x of card_details.store_orders | numOrderDesc:'orders' | paginate: { id: 'pagination2', itemsPerPage: 5, currentPage: orderPage }; track x) {
                        <tr>
                          <td>{{x.name}}</td>
                          <td class="text-success font-weight-bold">{{x.orders}}</td>
                        </tr>
                      }
                    </tbody>
                  }
                  @if (!card_details.store_orders?.length) {
                    <tbody>
                      <tr>
                        <td colspan="2"><p align="center" class="pt-5">No stores found</p></td>
                      </tr>
                    </tbody>
                  }
                </table>
              </div>
            </div>
            <!-- PAGINATION CONTROL -->
            <div class="row">
              <div class="col-md-12 mt-3">
                <pagination-controls id="pagination2" (pageChange)="orderPage=$event;" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12 d-flex">
        <div class="card w-100 mb-4">
          <div class="card-body">
            <div class="card-title">Top Store Revenue</div>
            <div class="row">
              <div class="col-md-12">
                <table class="table">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Revenue</th>
                    </tr>
                  </thead>
                  @if (card_details.store_revenues?.length) {
                    <tbody>
                      @for (x of card_details.store_revenues | numOrderDesc:'revenue' | paginate: { id: 'pagination3', itemsPerPage: 5, currentPage: revenuePage }; track x) {
                        <tr>
                          <td>{{x.name}}</td>
                          <td class="text-success font-weight-bold">{{x.revenue | currency:x.currency?.country_code:'symbol':'1.0'}}</td>
                        </tr>
                      }
                    </tbody>
                  }
                  @if (!card_details.store_revenues?.length) {
                    <tbody>
                      <tr>
                        <td colspan="2"><p align="center" class="pt-5">No stores found</p></td>
                      </tr>
                    </tbody>
                  }
                </table>
              </div>
            </div>
            <!-- PAGINATION CONTROL -->
            <div class="row">
              <div class="col-md-12 mt-3">
                <pagination-controls id="pagination3" (pageChange)="revenuePage=$event;" autoHide="true" responsive="true" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>