@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!commonService.desktop_device) {
  <div class="main-header">
    <h2>Product Reviews</h2>
  </div>
}

@if (!pageLoader) {
  <div>
    <div class="top-filter-sec list-button mt-2">
      <div class="row mb-4">
        <div class="col-md-6 col-12 search_bar m-0">
          <div class="form-group">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" autocomplete="off"
              [(ngModel)]="filterForm.search_bar" />
              <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
              @if (!commonService.desktop_device) {
                <div class="filter_icon" (click)="onOpenFilterModal(filterModal);"><span
                class="material-symbols-rounded cursor">filter_alt</span></div>
              }
            </div>
          </div>
          @if (commonService.desktop_device) {
            <div class="col-md-6 list-button d-flex justify-content-end">
              <button type="button" class="mr-3" (click)="onOpenFilterModal(filterModal);"><span
              class="material-symbols-rounded">filter_alt</span>Filter</button>
            </div>
          }
        </div>
      </div>
      <!-- DATA LIST -->
      @if (list?.length) {
        <div class="list-horizontal">
          <div class="data-list-card-wrapper">
            <div class="data-list-card-inner">
              @if (commonService.desktop_device) {
                <div class="list-item data-list-card">
                  <div class="col-md-2 col-3 first_col px-0 align-items-center header-font">
                    <p class="w-30 w-sm-100">Image</p>
                  </div>
                  <div  class="col-md-8 col-7 first_col align-items-center header-font">
                    <p class="w-30 w-sm-100 m-b-0">Name</p>
                    <p class="w-30 w-sm-100 m-b-0">Product SKU</p>
                    <p class="w-30 w-sm-100 m-b-0">Product Review</p>
                  </div>
                </div>
              }
              @for (x of list | numOrderDesc:'_id' | gridSearch: { product_sku: filterForm.search_bar, product_name: filterForm.search_bar } | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
                <div class="list-item data-list-card"
                  [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                  <div class="col-md-2 col-3 first_col px-0 align-items-center">
                    <div class="list-thumb d-flex align-self-center ">
                      <div class="col-md-12 col-12 col-xxl-12 px-0 ">
                        <img [src]="imgBaseUrl+x.productDetails[0]?.image_list[0]?.image" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 col-7 first_col align-items-center">
                    <p class="w-30 w-sm-100 m-b-0 dark-font">{{x.product_name}}</p>
                    <p class="w-30 w-sm-100 m-b-0 light-font">{{x.product_sku}}</p>
                    <p class="w-30 w-sm-100 m-b-0 light-font">{{ x.reviews?.length }} {{ (x.reviews?.length>1)? 'Reviews': 'Review' }}</p>
                  </div>
                  <div class="col-md-2 col-2">
                    <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                      <button [ngClass]="commonService.desktop_device? 'dark-button ': 'iconbutton'" (click)="onSelect(x);">
                        <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'visibility': 'chevron_right'}}</span> {{commonService.desktop_device? 'View': ''}}
                      </button>
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
          <!-- PAGINATION CONTROL -->
          <div class="row">
            @if (list?.length) {
              <div class="col-md-12 mt-3">
                <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
                maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
              </div>
            }
          </div>
        </div>
      }
      @if (!list?.length) {
        <div class="row">
          <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
            <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
            <p align="center">No data to display</p>
          </div>
        </div>
      }
    </div>
  }

  <!-- filter Modal -->
  <ng-template #filterModal let-modal>
    <form autocomplete="off" ngbAutofocus>
      <div class="modal-content">
        <div class="modal-header">
          <h4>
            <span class="material-symbols-rounded cursor"
            (click)="filterForm=tempFilter; modal.dismiss('Cross click');">arrow_back</span>
            <span class="popup_text">Filter</span>
          </h4>
        </div>
        <div class="modal-body filtersec">
          <div class="row m-0">
            <div class="carosal w-100">
              <ul class="px-3">
                <li>
                  <a class="hz_carosal" [ngClass]="{'carosal_button': selectedItem=='bystatus'}" (click)="selectedItem='bystatus'">
                    By Status
                  </a>
                </li>
                <li>
                  <a class="hz_carosal" [ngClass]="{'carosal_button': selectedItem=='bydate'}" (click)="selectedItem='bydate'">
                    By Date
                  </a>
                </li>
              </ul>
            </div>
          </div>

          @if (selectedItem==='bystatus') {
            <div class="row m-0 p-3">
              <div class="modal-card col-md-12">
                <div class="radio_buttons col-12">
                  <input type="radio" id="all" value="all" name="list_type" [(ngModel)]="filterForm.type">
                  <label for="all">All</label>
                </div>
                <div class="col-md-12 border-top"></div>
                <div class="radio_buttons col-12">
                  <input type="radio" id="active" value="active" name="list_type" [(ngModel)]="filterForm.type">
                  <label for="active">Published</label>
                </div>
                <div class="col-md-12 border-top"></div>
                <div class="radio_buttons col-12">
                  <input type="radio" id="inactive" value="inactive" name="list_type" [(ngModel)]="filterForm.type">
                  <label for="inactive">Unpublished</label>
                </div>
                <div class="col-md-12 border-top"></div>
              </div>
            </div>
          }

          @if (selectedItem==='bydate') {
            <div class="row m-0 p-3">
              <div class="col-md-12 d-flex pb-3 px-0">
                <!-- from date -->
                <div class="col-md-6 col-6">
                  <div class="form-group">
                    <input type="text" placeholder="Select Date" class="form-control" name="from_date"
                      [(ngModel)]="filterForm.from_date" bsDatepicker
                      [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
                    </div>
                  </div>
                  <!-- to date -->
                  <div class="col-md-6 col-6">
                    <div class="form-group">
                      <input type="text" placeholder="Select Date" class="form-control" name="to_date"
                        [(ngModel)]="filterForm.to_date" bsDatepicker [minDate]="filterForm.from_date"
                        [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'DD-MM-YYYY' }" readonly />
                      </div>
                    </div>
                    <!-- sort -->
                  </div>
                </div>
              }

            </div>

            <div class="modal-footer">
              <button type="button" id="closeModal" class="d-none" (click)="modal.dismiss('cancel');"></button>
              <button type="button" class="btn btn-wide black-outline-btn"
                (click)="filterForm=tempFilter; modal.dismiss('cancel');">
                <span class="black-outline-txt">Cancel</span>
              </button>
              <button type="button" class="btn btn-wide orng-outline-btn m-1" (click)="getReviewProducts();">
                <span class="orng-outline-txt">Apply</span>
              </button>
            </div>

          </div>
        </form>
      </ng-template>