<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <ng-container *ngIf="commonService.desktop_device">
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-12">
          <h1>Branches</h1>
        </div>
      </div>
    </div>
  </ng-container>
  
  <div class="top-filter-sec  list-button">
    <div class="row mb-4">
      <div class="col-md-6 col-12">
        <div class="form-group search_bar m-0">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
          <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
        </div>
      </div>
      <div class="col-md-6 list-button d-flex justify-content-end" *ngIf="commonService.desktop_device">
        <button class="highbutton" type="button"
          (click)="locForm={ form_type: 'add' }; modalService.open(locationModal, {windowClass: 'scroll-modal-xl', scrollable : true});"><span class="material-symbols-rounded">add</span> Add Branches</button>
      </div>    
    </div>
  </div>
  <div *ngIf="list?.length" class="list-horizontal">

    <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
              <div class="list-item data-list-card" *ngIf="commonService.desktop_device">
                  <div class="col-md-8 col-8 first_col px-0 header-font">
                    <p class="w-30 w-sm-100">Name</p>
                    <p class="w-30 w-sm-100 m-b-0">Email</p>
                    <p class="w-20 w-sm-100 m-b-0">Person Name</p>
                    <p class="w-20 w-sm-100 m-b-0">Number</p>
                  </div>
                </div>
            <div class="list-item data-list-card" *ngFor="let x of list | numOrderAsc:'rank' | gridSearch: { name: search_bar } | paginate: { itemsPerPage: pageSize, currentPage: page }; let i=index;"
              [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
              <div *ngIf="x.pickup_location" class="ribbon-band blue-band">Store Pickup</div>
              <div class="col-md-8 col-8 first_col px-0 cursor">
                <p class="w-30 w-sm-100 dark-font">{{x.name}}</p>
                <p class="w-30 w-sm-100 m-b-0 light-font">{{x.email}}</p>
                <p class="w-20 w-sm-100 m-b-0 light-font">{{x.contact_person}}</p>
                <p class="w-20 w-sm-100 m-b-0 light-font">{{x.mobile}}</p>
              </div>
              <div class="col-md-4 col-4">
                <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                  <button *ngIf="x.status=='active'" [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'" (click)="x.new_status='inactive'; locForm=x; modalService.open(statusModal, { centered: true });">
                    <span class="material-symbols-rounded">visibility_off</span>
                    {{commonService.desktop_device? 'Disable': ''}}
                  </button>
                  <button *ngIf="x.status!='active'" [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'" (click)="x.new_status='active'; locForm=x; modalService.open(statusModal, { centered: true });">
                    <span class="material-symbols-rounded">visibility</span>
                    {{commonService.desktop_device? 'Enable': ''}}
                  </button>
                  <div class="btn-group" ngbDropdown role="group" aria-label="Select all"
                    placement="bottom-start bottom-end top-start top-end">
                    <button [ngClass]="commonService.desktop_device? 'light-button2': 'iconbutton'" ngbDropdownToggle>
                      {{commonService.desktop_device? 'Action': ''}}
                      <span class="material-symbols-rounded" [ngClass]="commonService.desktop_device? 'pr-0 pl-1': ''">
                        {{commonService.desktop_device? 'expand_more': 'more_vert'}}
                      </span>
                    </button>
                    <div class="dropdown-menu" ngbDropdownMenu>
                      <button class="dropdown-item d-flex" (click)="onEdit(x, locationModal);">
                        <span class="material-symbols-rounded mr-2">edit</span> Edit
                      </button>
                      <button class="dropdown-item d-flex" (click)="pwdForm = { _id: x._id, name: x.name }; modalService.open(changePwdModal, { size: 'xl', windowClass: 'scroll-modal-xl', scrollable: true })">
                        <span class="material-symbols-rounded mr-2">password</span> Change Password
                      </button>
                      <button class="dropdown-item d-flex" (click)="deleteForm=x; modalService.open(deleteModal, { centered: true });">
                        <span class="material-symbols-rounded mr-2">delete</span> Remove
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    <!-- PAGINATION CONTROL -->
    <div class="row">
      <div class="col-md-12 mt-3">
        <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
          maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
      </div>
    </div>
    

  </div>

  <div *ngIf="!list?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display</p>
    </div>
  </div>

</div>

<!-- LOCATION MODAL -->
<ng-template #locationModal let-modal>
  <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
  <div class="modal-header">
    <h4>
      <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
      <span class="popup_text">{{ locForm.form_type=='add'? 'Add New': 'Update' }}</span>
    </h4> 
  </div>  
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 form-group mb-3">
            <label>Branch Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="locForm.name" #name="ngModel" required />
          </div>
          <ng-container *ngIf="locForm.form_type=='add'">
            <div class="col-md-6 form-group mb-3">
              <label>Login Email</label>
              <input type="email" name="email" class="form-control" [(ngModel)]="locForm.email" (input)="locForm.errorMsg=null;" required />
            </div>
            <div class="col-md-6 form-group mb-0">
              <label>Login Password</label>
              <input type="text" name="password" class="form-control" [(ngModel)]="locForm.password" (input)="locForm.errorMsg=null;" required />
            </div>
          </ng-container>
          <div class="col-md-6 form-group mb-3">
            <label>Contact Person Name</label>
            <input type="text" name="contact_person" class="form-control" [(ngModel)]="locForm.contact_person"
              #contact_person="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Contact No</label>
            <input type="text" name="mobile" class="form-control" [(ngModel)]="locForm.mobile" #mobile="ngModel"
              required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Country</label>
            <select name="country" class="form-control" (change)="locForm.state=null; onCountryChange(locForm.country);"
              [(ngModel)]="locForm.country" required>
              <option *ngFor="let x of commonService.country_list | orderAsc: 'name';" [value]="x.name">{{x.name}}
              </option>
            </select>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>State</label>
            <input *ngIf="!state_list?.length" type="text" name="state" class="form-control" [(ngModel)]="locForm.state"
              #state="ngModel" required />
            <select *ngIf="state_list?.length" class="form-control" name="state" [(ngModel)]="locForm.state">
              <option *ngFor="let x of state_list | orderAsc: 'name';" [ngValue]="x.name">{{x.name}}</option>
            </select>
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>City</label>
            <input type="text" name="city" class="form-control" [(ngModel)]="locForm.city" #city="ngModel" />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Pincode</label>
            <input type="text" name="pincode" class="form-control" [(ngModel)]="locForm.pincode" #pincode="ngModel" />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Complete Address</label>
            <textarea name="completeAddress" [(ngModel)]="locForm.address" #completeAddress="ngModel"
              class="form-control" required></textarea>
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Landmark</label>
            <input type="text" name="landmark" class="form-control" [(ngModel)]="locForm.landmark"
              #landmark="ngModel" />
          </div>
          <div class="col-md-12 form-group mb-3">
            <label>Location Map URL</label>
            <input type="text" name="location_url" class="form-control" [(ngModel)]="locForm.location_url"
              #location_url="ngModel" required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Latitude</label>
            <input type="tel" name="latitude" class="form-control" [(ngModel)]="locForm.lat" #latitude="ngModel"
              appNumberOnly required />
          </div>
          <div class="col-md-6 form-group mb-3">
            <label>Longitude</label>
            <input type="tel" name="longitude" class="form-control" [(ngModel)]="locForm.lng" #longitude="ngModel"
              appNumberOnly required />
          </div>
        </div>
      </div>
      <div *ngIf="locForm.errorMsg">
        <p class="text-danger">{{ locForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
        (click)="modal.dismiss('Cross click')">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary">{{ locForm.form_type=='add'? 'Add': 'Update' }}</button>
    </div>
  </div></form>
</ng-template>

<!-- CHANGE PASSWORD -->
<ng-template #changePwdModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdatePwd()" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click')">arrow_back</span>
          <span class="popup_text">{{ pwdForm.name }}</span>
        </h4>
      </div>
      <div class="modal-body px-0">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 form-group mb-3">
              <label>New Password</label>
              <input type="text" name="new_pwd" class="form-control" [(ngModel)]="pwdForm.new_pwd" (input)="pwdForm.errorMsg = null" #new_pwd="ngModel" required />
            </div>
            <div class="col-md-12 form-group mb-0">
              <label>Confirm New Password</label>
              <input type="text" name="confirm_pwd" class="form-control" [(ngModel)]="pwdForm.confirm_pwd" (input)="pwdForm.errorMsg = null" #confirm_pwd="ngModel" required />
            </div>
          </div>
        </div>
        <div *ngIf="pwdForm.errorMsg">
          <p class="text-danger">{{ pwdForm.errorMsg }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"(click)="modal.dismiss('Cross click')">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" [disabled]="pwdForm.confirm_pwd && pwdForm.new_pwd != pwdForm.confirm_pwd" class="btn btn-wide btn-primary">
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>

<!-- STATUS MODAL -->
<ng-template #statusModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to {{ (locForm.status=='active')? 'Disable': 'Enable' }} the <span
          class="txt-grdint-highlight">"{{locForm.name}}"</span> location?</strong></p>
    <div *ngIf="locForm.errorMsg">
      <p class="text-danger">{{ locForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onUpdateStatus();" class="btn btn-wide btn-primary">Yes</button>
  </div>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to permanently delete the <span
          class="txt-grdint-highlight">"{{deleteForm.name}}"</span> location?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('cancel')">
      <span class="black-outline-txt">Cancel</span>
    </button>
    <button type="button" class="btn btn-wide orng-outline-btn" (click)="onDelete();">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>