@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
      <div class="row">
        <div class="col-md-12 col-12">
          <div class="row justify-content-center">
            <!-- <p>Photo Resolution: 900x600</p> -->
            <div class="col-md-12 col-12 mb-4" align="center">
              <div class="col-md-6">
                <div class="card p-3">
                  @if (storyForm.image || storyForm.temp_img) {
                    <div>
                      <span (click)="storyForm.img_change=null; storyForm.image=null; storyForm.temp_img=null; storyForm.img_file=null" class="material-icons round-img-icon ab-item-close float-right top5" aria-hidden="true">close</span>
                      @if (storyForm.img_change) {
                        <img [src]="storyForm.temp_img" height="100px;" width="auto;">
                      }
                      @if (!storyForm.img_change) {
                        <img [src]="imgBaseUrl+storyForm.image" height="100px;" width="auto;">
                      }
                      @if (commonService.ys_features.indexOf('advanced_seo')!=-1) {
                        <div class="mt-3">
                          <label>Image Alt Name</label>
                          <input type="text" name="img_alt" class="form-control" [(ngModel)]="storyForm.img_alt" #img_alt="ngModel" />
                        </div>
                      }
                    </div>
                  }
                  @if (!storyForm.image && !storyForm.temp_img) {
                    <div>
                      <label>
                        <div>
                          <i class="material-icons add-img">add_photo_alternate</i>
                          <p>Click to upload image</p>
                        </div>
                        <input type="file" name="image" style="display: none;" (change)="fileChangeListener($event, null);" accept="image/jpeg, image/png, image/webp" />
                      </label>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 form-group mb-3">
          <label>Title</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="storyForm.name" (input)="onChangeTitle();" #name="ngModel" required />
        </div>
        <div class="col-md-12 form-group mb-3 quill-mb-5">
          <label>Description</label>
          <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="storyForm.description" (focusout)="onChangeDesc();" [ngModelOptions]="{standalone: true}"></quill-editor>
        </div>
      </div>
      <!-- Stroy Details -->
      <div class="col-md-12 form-group mb-3 mt-3">
        <b>Stories</b>
      </div>
      <div class="col-md-12">
        <div class="row">
          @for (x of storyForm.list; track x; let i = $index) {
            <div class="col-md-6 form-group mb-3">
              <div class=" card p-3">
                <div class="row poss-rel">
                  <span (click)="storyForm.list.splice(i, 1);" class="material-icons float-right round-btn-icon ab-item-close right15" aria-hidden="true" style="right: -12px; top: -25px;">close</span>
                  <div class="col-md-12 col-12">
                    <div class="row justify-content-center">
                      <!-- <p>Photo Resolution: 900x600</p> -->
                      <div class="col-md-12 col-12 mb-4" align="center">
                        <div class="col-md-6">
                          <div class="card p-3">
                            @if (x.image || x.temp_img) {
                              <div>
                                <span (click)="x.img_change=null; x.image=null; x.temp_img=null; x.img_file=null;" class="material-icons round-img-icon ab-item-close float-right top5" aria-hidden="true">close</span>
                                @if (x.img_change) {
                                  <img [src]="x.temp_img" height="100px;" width="auto;">
                                }
                                @if (!x.img_change) {
                                  <img [src]="imgBaseUrl+x.image" height="100px;" width="auto;">
                                }
                                @if (commonService.ys_features.indexOf('advanced_seo')!=-1) {
                                  <div class="mt-3">
                                    <label>Image Alt Name</label>
                                    <input type="text" name="img_alt" class="form-control" [(ngModel)]="x.img_alt" #img_alt="ngModel" />
                                  </div>
                                }
                              </div>
                            }
                            @if (!x.image && !x.temp_img) {
                              <div>
                                <label>
                                  <div>
                                    <i class="material-icons add-img">add_photo_alternate</i>
                                    <p>Click to upload image</p>
                                  </div>
                                  <input type="file" name="image" style="display: none;" (change)="fileChangeListener($event, i);" accept="image/jpeg, image/png, image/webp" />
                                </label>
                              </div>
                            }
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Heading</label>
                    <input type="text" name="name{{i}}" class="form-control" [(ngModel)]="x.name" #name="ngModel" />
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Description</label>
                    <textarea class="form-control" aria-label="With textarea" name="description{{i}}" [(ngModel)]="x.description" #description="ngModel"></textarea>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label class="checkbox checkbox-primary">
                      <input class="form-check-input" type="checkbox" name="btn_status{{i}}" [(ngModel)]="x.btn_status" #btn_status="ngModel">
                      <span>Enable Button</span>
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  @if (x.btn_status) {
                    <div class="col-md-12 form-group mb-3">
                      <label>Button Name</label>
                      <input type="text" name="btn_name{{i}}" class="form-control" [(ngModel)]="x.btn_name" #btn_name="ngModel" required />
                    </div>
                  }
                  @if (x.btn_status) {
                    <div class="col-md-12 form-group mb-3">
                      <label>Button URL</label>
                      <input type="text" name="link{{i}}" class="form-control" [(ngModel)]="x.link" #link="ngModel" required />
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <button class="light-button" (click)="storyForm.list.push({});" type="button">
          <span class="material-symbols-rounded ">add</span>New Story
        </button>
      </div>
      <!-- SEO -->
      <div class="data-list-card-wrapper p-0 col-md-8 col-12 col-md-12">
        <div class="data-list-card-inner p-3">
          <div class="col-md-12 col-12 d-flex justify-content-between add_but align-items-center px-0 mb-3">
            <p class="m-b-0 dark-font medium-font">SEO Listing Preview
              <span class="light-font mt-0 font-10 d-block">This is how your web story looks on Google, Bing, Yahoo and other search engines</span>
            </p>
            @if (storyForm.name && commonService.ys_features.indexOf('advanced_seo')!=-1) {
              @if (!storyForm.seo_disp) {
                <span class="material-icons float-right round-btn-icon ab-item-close"
                (click)="storyForm.seo_disp=true" aria-hidden="true">edit</span>
              }
              @if (storyForm.seo_disp && storyForm.seo_details.page_url && storyForm.seo_details.h1_tag && storyForm.seo_details.page_title && storyForm.seo_details.meta_desc) {
                <span
                (click)="storyForm.seo_disp=false" class="material-icons float-right round-btn-icon ab-item-close" aria-hidden="true">done</span>
              }
            }
          </div>
          @if (!storyForm.seo_disp) {
            @if (!storyForm.name) {
              <p class="light-font font-10">
                Add a Title And Description To See How This Web Story Might Appear In A Search Engine Listing
              </p>
            }
            @if (storyForm.name) {
              <p class="light-font font-10 mb-1">{{commonService.store_details?.base_url}}/web-stories/{{storyForm.seo_details?.page_url}}</p>
              <h6 class="sec-desc mb-1 mt-2 seo-color">{{storyForm.seo_details.page_title}}</h6>
              <p class="light-font font-10">{{storyForm.seo_details.meta_desc}}</p>
            }
          }
          @if (storyForm.seo_disp) {
            <div class="col-md-12 form-group mb-3">
              <label>Page URL</label>
              <input type="text" name="page_url" class="form-control" [(ngModel)]="storyForm.seo_details.page_url" appNoSplChar required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>H1 Tag</label>
              @if (storyForm.seo_details?.h1_tag?.length) {
                <span class="label_hint">
                  {{storyForm.seo_details.h1_tag.length}} of 70 characters used
                </span>
              }
              <input type="text" name="h1_tag" class="form-control" [(ngModel)]="storyForm.seo_details.h1_tag" maxlength="70" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Page Title</label>
              @if (storyForm.seo_details?.page_title?.length) {
                <span class="label_hint">
                  {{storyForm.seo_details.page_title.length}} of 70 characters used
                </span>
              }
              <input type="text" name="page_title" class="form-control" [(ngModel)]="storyForm.seo_details.page_title" maxlength="70" required />
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Meta Description</label>
              @if (storyForm.seo_details?.meta_desc?.length) {
                <span class="label_hint">
                {{storyForm.seo_details.meta_desc.length}} of 320 characters used</span>
              }
              <textarea class="form-control" aria-label="With textarea" name="meta_desc" [(ngModel)]="storyForm.seo_details.meta_desc" maxlength="320" ></textarea>
            </div>
            <div class="col-md-12 form-group mb-3">
              <label>Meta Keywords</label>
              <tag-input class="w-100" name="meta_keyword_list" [(ngModel)]="storyForm.seo_details.meta_keyword_list" placeholder=""
              [secondaryPlaceholder]="'Enter options'" [separatorKeyCodes]="[188]"></tag-input>
              <p class="pt-3 mb-0" style="font-size:12px;opacity:0.8;">Hint: Separate each option by adding a comma, between them or press enter</p>
            </div>
          }
        </div>
      </div>
      <div class="separator-breadcrumb border-top mt-5"></div>
      <div class="row">
        @if (storyForm.errorMsg) {
          <div class="col-md-12 mt-3 mb-3">
            <p class="text-danger" align="center">{{ storyForm.errorMsg }}</p>
          </div>
        }
        <div align="center" class="col-md-12 z-i-0">
          <button type="button" routerLink="/features/web-stories" class="btn btn-wide black-outline-btn">
            <span class="black-outline-txt">Cancel</span>
          </button>&nbsp; &nbsp; &nbsp;
          <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="storyForm.submit" [ladda]="storyForm.submit">
            {{ (storyForm?.form_type=='add')? 'Add': 'Update' }}
          </button>
        </div>
      </div>
    </form>
  </div>
}