<section class="payment-alert-section">
  <div class="payment-alert-vector-top">
    <img src="assets/images/payment-gateway/payment-failure-top.png" alt="payment-image-top">
  </div>
  <div class="payment-center-section">
    <div class="row">
      <div class="col-md-12">
        <div class="payment-center-section-inner">
          <img src="assets/images/payment-gateway/payment-failure.png" alt="payment-img">
          <div class="payment-message">
            <h2>Ooooops!</h2>
            <h6>Someting went wrong.<br>
              We couldn't process your payment</h6>
            <button type="button" routerLink="/session/signin" class="btn orng-outline-btn w-100">
              <span class="orng-outline-txt">Try again</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="payment-alert-vector-bottom">
    <img src="assets/images/payment-gateway/payment-failure-bottom.png" alt="payment-image-bottom">
  </div>
</section>