@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}
@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="add_but mr-3" (click)="exportAsXLSX();">
      <span class="material-symbols-rounded">file_upload</span>
    </div>
    <div class="add_but" (click)="addForm = { rank: maxRank+1, option_list: [{}] }; modalService.open(addModal, { size: 'xl', windowClass: 'scroll-modal-xl', scrollable : true});">
      <span class="material-symbols-rounded">add</span>
    </div>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-6 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
            @if (!commonService.desktop_device && commonService.ys_features.indexOf('vendors')!=-1 && commonService.store_details?.login_type!='vendor') {
              <div class="filter_icon" (click)="onOpenFilterModal(filterModal);"><span
              class="material-symbols-rounded cursor">filter_alt</span></div>
            }
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 list-button d-flex justify-content-end">
            @if (commonService.ys_features.indexOf('vendors')!=-1 && commonService.store_details?.login_type!='vendor') {
              <button type="button" class="mr-3" (click)="onOpenFilterModal(filterModal);">
                <span class="material-symbols-rounded">filter_alt</span>Filter
              </button>
            }
            <button type="button" (click)="exportAsXLSX();" class="mr-3">
              <span class="material-symbols-rounded">file_upload</span> Export
            </button>
            <button type="button" class="highbutton" (click)="addForm = { rank: maxRank+1, option_list: [{}] }; modalService.open(addModal, { size: 'xl', windowClass: 'scroll-modal-xl', scrollable : true});">
              <span class="material-symbols-rounded">add</span>Add Footnote
            </button>
          </div>
        }
      </div>
    </div>
    <!-- DATA LIST -->
    @if ((list | fieldSearch:'name':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-8 col-8 first_col px-0 header-font">
                  <p class="w-30 w-sm-100">Name</p>
                  <p class="w-30 w-sm-100 m-b-0">Options</p>
                  <!-- <p class="w-30 w-sm-100 m-b-0 dark-font">Options</p> -->
                </div>
              </div>
            }
            @for (x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="col-md-8 col-8 first_col px-0">
                  <p class="w-30 w-sm-100 m-b-0 dark-font">{{x.name}}</p>
                  <p class="w-30 w-sm-100 m-b-0 light-font">{{x.option_list?.length}} Options</p>
                </div>
                <div class="col-md-4 col-4">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <button [ngClass]="commonService.desktop_device? 'light-button  mr-3': 'iconbutton'" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                      <span class="material-symbols-rounded">delete</span> {{commonService.desktop_device? 'Remove': ''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button ': 'iconbutton'" (click)="onEdit(x, editModal);">
                      <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'visibility': 'chevron_right'}}</span> {{commonService.desktop_device? 'View': ''}}
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | fieldSearch:'name':search_bar)?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- ADD MODAL -->
<ng-template #addModal let-modal>
  <form autocomplete="off" (ngSubmit)="onAdd();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
        <h4 class="modal-title popup_text">New Note</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row ">
            <div class="col-md-12 d-flex">
              <div class="col-md-8 form-group mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="addForm.name" #name="ngModel" required />
              </div>
              <div class="col-md-4 form-group mb-3">
                <label>Rank</label>
                <input type="number" (wheel)="commonService.handleWheel($event)" name="rank" class="form-control" [(ngModel)]="addForm.rank" #rank="ngModel" min="1"
                  max="{{maxRank+1}}" appNumberOnly required />
                </div>
              </div>
            </div>
            <div class="row">
              @for (x of addForm.option_list; track x; let i = $index) {
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-12 form-group mb-3">
                      <!-- <div class="card p-2"> -->
                      <label>Description {{i+1}}</label>
                      @if (addForm.option_list.length > 1) {
                        <span (click)="addForm.option_list.splice(i, 1);"
                        class="material-icons float-right round-btn-icon ab-item-close right15" aria-hidden="true">close</span>
                      }
                      <textarea class="form-control" aria-label="With textarea" name="description{{i}}"
                      [(ngModel)]="x.description" #description="ngModel" required></textarea>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
            }
            <div class="col-md-12 form-group px-4">
              <button class="light-button" (click)="addForm.option_list.push({});" type="button">
                <span class="material-symbols-rounded "
                >add</span>ADD OPTION
              </button>
            </div>
          </div>
        </div>
        @if (addForm.errorMsg) {
          <div>
            <p class="text-danger">{{ addForm.errorMsg }}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
          (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="addForm.submit"
        [ladda]="addForm.submit">Add</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- EDIT MODAL -->
<ng-template #editModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
        <h4 class="modal-title popup_text">{{ editForm.name }}</h4>
      </div>
      @if (popupLoader) {
        <div class="modal-body">
          <app-popup-spinner></app-popup-spinner>
        </div>
      }
      @if (!popupLoader) {
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 d-flex">
                <div class="col-md-8 form-group mb-3">
                  <label>Title</label>
                  <input type="text" name="name" class="form-control" [(ngModel)]="editForm.name" #name="ngModel" required />
                </div>
                <div class="col-md-4 form-group mb-3">
                  <label>Rank</label>
                  <input type="number" (wheel)="commonService.handleWheel($event)" name="rank" class="form-control" [(ngModel)]="editForm.rank" #rank="ngModel" min="1"
                    max="{{maxRank}}" appNumberOnly required />
                  </div>
                </div>
              </div>
              <div class="row">
                @for (x of editForm.option_list; track x; let i = $index) {
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-12 form-group mb-3">
                        <!-- <div class="card p-2"> -->
                        <label>Description {{i+1}}</label>
                        @if (editForm.option_list.length > 1) {
                          <span (click)="editForm.option_list.splice(i, 1);"
                          class="material-icons float-right round-btn-icon ab-item-close right15" aria-hidden="true">close</span>
                        }
                        <textarea class="form-control" aria-label="With textarea" name="description{{i}}"
                        [(ngModel)]="x.description" #description="ngModel" required></textarea>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>
              }
              <div class="col-md-12 form-group px-4">
                <button class="light-button" (click)="editForm.option_list.push({});" type="button">
                  <span class="material-symbols-rounded "
                  >add</span>OPTION
                </button>
              </div>
            </div>
          </div>
          @if (editForm.errorMsg) {
            <div>
              <p class="text-danger">{{ editForm.errorMsg }}</p>
            </div>
          }
        </div>
      }
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
          (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="editForm.submit"
        [ladda]="editForm.submit">Update</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
  note?</strong></p>
  @if (deleteForm.errorMsg) {
    <div>
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  }
</div>
<div class="modal-footer">
  <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
    (click)="modal.dismiss('Cross click');">
    <span class="black-outline-txt">No</span>
  </button>
  <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn ladda-button m-1"
    [disabled]="deleteForm.submit" [ladda]="deleteForm.submit">
    <span class="orng-outline-txt">Yes</span>
  </button>
</div>
</ng-template>

<!-- filter Modal -->
<ng-template #filterModal let-modal>
  <form autocomplete="off" ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="vendor_id=tempFilter; modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">Filter</span>
        </h4>
      </div>
      <div class="modal-body filtersec">
        <div class="row m-0">
          <div class="carosal w-100">
            <ul class="px-3">
              <li>
                <a class="hz_carosal carosal_button">
                  By Vendor
                </a>
              </li>
            </ul>
          </div>
        </div>


        <div class="row m-0 p-3">
          <div class="modal-card col-md-12">

            <div class="radio_buttons col-12">
              <input type="radio" id="all" value="" name="vendor_id" [(ngModel)]="vendor_id">
              <label for="all">All Vendors</label>
            </div>
            <div class="col-md-12 border-top"></div>
            @for (x of commonService.vendor_list; track x) {
              <div class="radio_buttons col-12">
                <input type="radio" id="{{x._id}}" [value]="x._id" name="vendor_id" [(ngModel)]="vendor_id">
                <label for="{{x._id}}">{{x.company_details.brand}}</label>
              </div>
              <div class="col-md-12 border-top"></div>
            }
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" id="closeModal" class="d-none" (click)="modal.dismiss('cancel');"></button>
        <button type="button" class="btn btn-wide black-outline-btn" (click)="vendor_id=tempFilter; modal.dismiss('cancel');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="button" class="btn btn-wide orng-outline-btn m-1" (click)="ngOnInit();">
          <span class="orng-outline-txt">Apply</span>
        </button>
      </div>

    </div>
  </form>
</ng-template>