<div class="help-content">
    <div class="help-section">
        <h2>Profile</h2>
        <p>Here you can perform various actions related to your account
        </p>
        <ol>
            <li>Go to <a routerLink="/vendor-account/vendor-profile">My Account → Profile</a></li>
            <li>Click on the Pencil icon to edit the changes (consult with the platform admin and update them on any changes made here)</li>
            <li>Each vendor gets their own page in the website, you get your own URL with all your products listed. You can find your URL under your website in the Dashboard. You can use this URL to share with anyone to buy your products.</li>
            <li>The change banner button found on the top of the profile page is used to change the banner image that appears on your URL.</li>
            <li>The change password button is used to update the password to your account.</li>
            <li>Wallet is used to top-up credits for ads purposes, you can add balance to it. (consult your platform admin)</li>
            <li>SEO listing preview found at the bottom of the profile page is used to update your page with SEO friendly title and meta description.</li>
        </ol>
        
    </div>
</div>
