<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Design Website</a>
        </li>
        <li>Design Homepage</li>
    </ol> -->
    <div class="help-section">
        <h2>Designing Home Page</h2>
        <ol>
            <li>Go to your <a routerLink="/dashboard">Yourstore Dashboard</a> and Go
                to <a routerLink="/setup/layouts/home">Website → Home Page</a>
            </li>
            <li>By default you would have the current segments of your website.</li>
            <li>Edit → Details to make changes to the Heading and Sub Heading in the Homepage of
                the relavent segments.</li>
            <li> Edit → Images to make changes to the Images in the Homepage of the relavent
                segments.</li>


            <p class="note"  id="yellow-note">
                If you're editing your homepage for the first time, you'll see sample segments with
                a few options to get started. Edit, delete, rearrange or add new segments to design
                your page.
            </p>
            <li>Click the <strong>"Add Segment"</strong> button to add a new segment below</li>
            <li>Use the Rank to set the position this new segment appears on the website.</li>
            <li>Click "View Website" button on top to have look at the changes made.</li>
            <li>Clicking on "Reset Layout" will delete all the segments, content, images uploaded
                and reset the webiste to the base template.</li>
        </ol>
    </div>
</div>