<div class="inner-dots" *ngIf="!commonService.desktop_device">
  <div class="help_mobile_button" routerLink="/support/domain">
    <img src="assets/icons/help.svg" title="help">
  </div>
</div>
<div>
  <ng-container *ngIf="commonService.desktop_device">
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center">
            <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
            <h1>{{commonService.secondary_header}}</h1>           
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
          <button class="help-button" routerLink="/support/domain">
            <span class="material-symbols-rounded mb-0">help</span>Need Help?
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <div *ngIf="!validate_conn" class="row">
    <div class="col-md-10 d-flex" *ngIf="commonService.store_details?.base_url?.indexOf('yourstore.io')!=-1">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
          <div class="">
            <h3>Connect a domain</h3>
            <p>Make you site more professional, memorable and easy to find with your own custom domain</p>
            <div class="form-group">
              <div class="domain-select-option row">
                <div class="col-md-6">
                <label class="radio radio-primary">
                  <input type="radio" name="form_type" class="form-control" value="buy_domain" [(ngModel)]="domainForm.form_type">
                  <span>Buy a new domain</span>
                  <span class="checkmark"></span>
                </label>
                </div>
    
                <div class="col-md-6">
                  <label class="radio radio-primary">
                  <input type="radio" name="form_type" class="form-control" value="connect_domain" [(ngModel)]="domainForm.form_type">
                  <span>Link Existing Domain</span>
                  <span class="checkmark"></span>
                </label>
                </div>
              </div>
            </div>
            <!-- Link Existing Domain -->
            <ng-container *ngIf="domainForm.form_type=='connect_domain'">
              <div class="form-group">
                <select name="provider" class="form-control" [(ngModel)]="domainForm.provider" [disabled]="domainForm.success" required>
                  <option *ngIf="!domainForm.provider" value="">-- Select Provider --</option>
                  <option *ngFor="let x of providerList;" [ngValue]="x.name">{{x.name}}</option>
                </select>
              </div>

              <div *ngIf="domainForm.provider=='Others'" class="form-group">
                <input type="text" name="other_provider" class="form-control" [(ngModel)]="domainForm.other_provider" placeholder="Provider Name" [disabled]="domainForm.success" required />
              </div>
            </ng-container>

            <div class="connect-domain-sec">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <div class="domain-connect-status domain-connected"></div>
                    www.
                  </span>
                </div>
                <input type="text" name="domain" class="form-control" [(ngModel)]="domainForm.domain" placeholder="example.in" [disabled]="domainForm.success" required />
              </div>
            </div>

            <div *ngIf="domainForm.success" class="badge-alert success-badge-alert mb-3">
              <div class="badge-alert-inner">
                <i class="material-icons"></i>
                <span>Our support team will contact shortly to help you with the setup. Please give us upto 24hrs to reach out due to the high volume of requests.</span>
              </div>
            </div>

            <div class="domain-select-option">
              <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="commonService.store_details?.package_details?.package_id==configData.free_package_id || domainForm.submit" [ladda]="domainForm.submit">
                {{ domainForm.success? 'Request Submitted': 'Connect your domain' }}
              </button>
              <b *ngIf="commonService.store_details?.package_info?.category=='genie'" class="pull-right mt-2">
                Linking Charges - INR {{ (domainForm.form_type=='buy_domain')? '189': '489' }}
              </b>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-10 d-flex" *ngIf="commonService.store_details?.base_url?.indexOf('yourstore.io')==-1">
      <div class="card setting-card w-100 p-3 mb-4 cursor">
        <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
          <div class="">
            <h3>Domain</h3>
            <p class="mb-1">This is the domain linked to your website.</p>
            <div class="form-group">
              <div class="domain-select-option row">
                <div class="col-12 mb-1 mt-1">                  
                  <div class="connect-domain-sec">
                    <div class="input-group mb-1">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="border:none;">
                          <div class="domain-connect-status domain-connected"></div>
                          {{commonService.store_details?.base_url}}
                        </span>
                      </div>
                     </div>
                  </div>
                </div>
                <div class="col-12 mt-2 mb-2"><h5>Change Domain</h5></div>
                <div class="col-md-6">
                <label class="radio radio-primary">
                  <input type="radio" name="form_type" class="form-control" value="buy_domain" [(ngModel)]="domainForm.form_type">
                  <span>Buy a new domain</span>
                  <span class="checkmark"></span>
                </label>
                </div>
    
                <div class="col-md-6">
                  <label class="radio radio-primary">
                  <input type="radio" name="form_type" class="form-control" value="connect_domain" [(ngModel)]="domainForm.form_type">
                  <span>Link Existing Domain</span>
                  <span class="checkmark"></span>
                </label>
                </div>
              </div>
            </div>
            
            <!-- Link Existing Domain -->
            <ng-container *ngIf="domainForm.form_type=='connect_domain'">
              <div class="form-group">
                <select name="provider" class="form-control" [(ngModel)]="domainForm.provider" [disabled]="domainForm.success" required>
                  <option *ngIf="!domainForm.provider" value="">-- Select Provider --</option>
                  <option *ngFor="let x of providerList;" [ngValue]="x.name">{{x.name}}</option>
                </select>
              </div>

              <div *ngIf="domainForm.provider=='Others'" class="form-group">
                <input type="text" name="other_provider" class="form-control" [(ngModel)]="domainForm.other_provider" placeholder="Provider Name" [disabled]="domainForm.success" required />
              </div>
            </ng-container>

            <div class="connect-domain-sec">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <!-- <div class="domain-connect-status domain-connected"></div> -->
                    www.
                  </span>
                </div>
                <input type="text" name="domain" class="form-control" [(ngModel)]="domainForm.domain" placeholder="example.in" [disabled]="domainForm.success" required />
              </div>
            </div>

            <div *ngIf="domainForm.success" class="badge-alert success-badge-alert mb-3">
              <div class="badge-alert-inner">
                <i class="material-icons"></i>
                <span>Our support team will contact shortly to help you with the setup. Please give us upto 24hrs to reach out due to the high volume of requests.</span>
              </div>
            </div>

            <div class="domain-select-option">
              <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="commonService.store_details?.package_details?.package_id==configData.free_package_id || domainForm.submit" [ladda]="domainForm.submit">
                {{ domainForm.success? 'Request Submitted': 'Request Domain Change' }}
              </button>
              <b *ngIf="commonService.store_details?.package_info?.category=='genie'" class="pull-right mt-2">
                Linking Charges - INR {{ (domainForm.form_type=='buy_domain')? '189': '489' }}
              </b>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div *ngIf="validate_conn" class="row">
    <div class="col-md-10">
      <div class="mt-3">
        <p>
          To add an A record and a CNAME record to your domain’s DNS records, you need to follow these steps:
        </p>
      </div>
      
      <ul class="mt-4">
        <li>
          Sign in to your domain host account and find where you manage your DNS settings. This may vary depending on your domain host provider.
        </li>
        <li>
          To add an A record, click Add Record and select A Record as the record type. Enter @ as the name and 151.106.7.18 as the value. Set the TTL (time to live) to 3600 or leave it as default. Please make sure that there are no other A Records apart from this. If so, please delete the other A records.
        </li>
        <li>
          To add a CNAME record, click Add Record and select CNAME Record as the record type. Enter www as the name and {{domainForm.domain}}. as the value. Set the TTL to 3600 or leave it as default. (Add the dot as shown above in the end of your domain name)
        </li>
        <li>Save the changes.</li>
        <li>
          Once the above steps are complete click on the <b>“Validate Connection”</b> button below and your domain will be linked within 24-48 hours.
        </li>
        <div *ngIf="vRequested" class="badge-alert success-badge-alert mb-3">
          <div class="badge-alert-inner">
            <i class="material-icons"></i>
            <span>We have received your request for domain linking, your domain will be mapped to your website. Please give us upto 48hrs time for linking, due to the high volume of requests.</span>
          </div>
        </div>
        <div>
          <button type="button" (click)="validateConn();" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="domainForm.submit" [ladda]="domainForm.submit">
            Validate Connection
          </button>
        </div>
      </ul>
    </div>
  </div>
</div>

