@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!commonService.desktop_device) {
  <div class="inner-dots">
    <div class="add_but" (click)="galForm = { form_type: 'add', seo_details: { page_url: '', h1_tag: '', page_title: '', meta_desc: '' } }; modalService.open(galleryModal, {windowClass: 'scroll-modal-xl', scrollable : true});">
      <span class="material-symbols-rounded">add</span>
    </div>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-12">
            <h1>{{commonService.secondary_header}}</h1>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-12 col-md-6">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-6 list-button d-flex justify-content-end">
            <button type="button" class="highbutton" (click)="galForm = { form_type: 'add', seo_details: { page_url: '', h1_tag: '', page_title: '', meta_desc: '' } }; modalService.open(galleryModal, {windowClass: 'scroll-modal-xl', scrollable : true});">
              <span class="material-symbols-rounded">add</span>Add
            </button>
          </div>
        }
      </div>
    </div>
    <!-- DATA LIST -->
    @if ((list | fieldSearch:'name':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-7 col-6 first_col px-0 header-font">
                  <p class="w-30 w-sm-100">Name</p>
                  <p class="w-30 w-sm-100 m-b-0">Images</p>
                  <p class="w-30 w-sm-100 m-b-0">Status</p>
                </div>
              </div>
            }
            @for (x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                @if (!commonService.desktop_device) {
                  <div class="ribbon-band"
                    [ngClass]="x.active_status? 'green-band': 'red-band'">
                    {{x.active_status? 'Enabled': 'Disabled'}}
                  </div>
                }
                <div class="col-md-7 col-6 first_col px-0 cursor">
                  <p class="w-30 w-sm-100 dark-font">{{x.name}}</p>
                  <p class="w-30 w-sm-100 light-font">{{x.image_list.length}} images</p>
                  @if (commonService.desktop_device) {
                    <p class="w-30 w-sm-100 m-b-0">
                      <span class="badge" [ngClass]="x.active_status? 'badge-green-background': 'badge-red-background'">
                        {{x.active_status? 'Enabled': 'Disabled'}}
                      </span>
                    </p>
                  }
                </div>
                <div class="col-md-5 col-6">
                  <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                    <button (click)="onEdit(x); modalService.open(galleryModal, {windowClass: 'scroll-modal-xl', scrollable : true});" [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'">
                      <span class="material-symbols-rounded" >edit</span> {{commonService.desktop_device? 'Edit': ''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'" (click)="deleteForm=x; modalService.open(deleteModal, { centered: true });">
                      <span class="material-symbols-rounded" >delete</span> {{commonService.desktop_device? 'Remove': ''}}
                    </button>
                    <button [ngClass]="commonService.desktop_device? 'light-button ': 'iconbutton'" (click)="goViewPage(x);">
                      <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'visibility': 'chevron_right'}}</span> {{commonService.desktop_device? 'View': ''}}
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | fieldSearch:'name':search_bar)?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- GALLERY MODAL -->
<ng-template #galleryModal let-modal>
  <form autocomplete="off" (ngSubmit)="galForm.form_type === 'add' ? onAdd() : onUpdate();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
        <h4 class="modal-title popup_text">{{ galForm.form_type === 'add' ? 'Add New' : 'update' }}</h4>
      </div>
      @if (popupLoader) {
        <div class="modal-body">
          <app-popup-spinner></app-popup-spinner>
        </div>
      }
      @if (!popupLoader) {
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              @if (galForm.form_type !== 'add') {
                <div class="col-md-12 mb-3">
                  <label class="checkbox checkbox-primary">
                    <input class="form-check-input" type="checkbox" name="active_status" [(ngModel)]="galForm.active_status">
                    <span>Enable</span>
                    <span class="checkmark"></span>
                  </label>
                </div>
              }
              <div class="col-md-12 form-group mb-3">
                <label>Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="galForm.name" required />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Heading</label>
                <input type="text" name="heading" class="form-control" [(ngModel)]="galForm.heading" />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Sub Heading</label>
                <input type="text" name="sub_heading" class="form-control" [(ngModel)]="galForm.sub_heading" />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Icon Name</label>
                <input type="text" name="icon_name" class="form-control" [(ngModel)]="galForm.icon_name" placeholder="e.g. photo_library" />
              </div>
              @if (galForm.form_type !== 'add') {
                <div class="col-md-12 form-group mb-3">
                  <label>Rank</label>
                  <input type="number" (wheel)="commonService.handleWheel($event)" name="rank"  max="{{listCount}}" min="1" class="form-control" [(ngModel)]="galForm.rank" required appNumberOnly />
                </div>
              }
              <div class="col-md-12 mt-3 mb-2">
                <p><b>SEO Details</b></p>
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Page URL</label>
                <input type="text" name="page_url" class="form-control" [(ngModel)]="galForm.seo_details.page_url" required />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>H1 Tag</label>
                <input type="text" name="h1_tag" class="form-control" [(ngModel)]="galForm.seo_details.h1_tag" required />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Page Title</label>
                <input type="text" name="page_title" class="form-control" [(ngModel)]="galForm.seo_details.page_title" required />
              </div>
              <div class="col-md-12 form-group mb-3">
                <label>Meta Description</label>
                <textarea class="form-control" name="meta_desc" [(ngModel)]="galForm.seo_details.meta_desc"></textarea>
              </div>
            </div>
          </div>
          @if (galForm.errorMsg) {
            <div>
              <p class="text-danger">{{ galForm.errorMsg }}</p>
            </div>
          }
        </div>
      }
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="galForm.submit"
        [ladda]="galForm.submit">{{ galForm.form_type === 'add' ? 'Add' : 'Update' }}</button>
      </div>
    </div>
  </form>
</ng-template>

<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p>
      <strong>
        Deleting this <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span> will remove the images linked with the gallery.
        Are you sure you want to proceed?
      </strong>
    </p>
    @if (deleteForm.errorMsg) {
      <div>
        <p class="text-danger">{{ deleteForm.errorMsg }}</p>
      </div>
    }
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn ladda-button m-1"
      [disabled]="deleteForm.submit" [ladda]="deleteForm.submit">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>