@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    <div class="breadcrumb">
      <h1>DiNAMIC Offer Details</h1>
      <ul>
        <li>{{params.id? 'Edit': 'Enter'}} offer details</li>
      </ul>
    </div>
    <div class="separator-breadcrumb border-top"></div>
    <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <label>SKU</label>
          <input type="text" name="sku" class="form-control" [(ngModel)]="offerForm.sku" #sku="ngModel" required />
        </div>
        <div class="col-md-6 form-group mb-3">
          <label>Name</label>
          <input type="text" name="name" class="form-control" [(ngModel)]="offerForm.name" #name="ngModel" required />
        </div>
        <div class="col-md-4 form-group mb-3">
          <label>Purchase Amount</label>
          <input type="tel" name="purchase_amount" class="form-control" [(ngModel)]="offerForm.purchase_amount" #purchase_amount="ngModel" appNumberOnly required />
        </div>
        <div class="col-md-4 form-group mb-3">
          <label>Redeem Amount</label>
          <input type="tel" name="redeem_amount" class="form-control" [(ngModel)]="offerForm.redeem_amount" #redeem_amount="ngModel" appNumberOnly required />
        </div>
        <div class="col-md-4 form-group mb-3">
          <label>Validity in days</label>
          <input type="tel" name="valid_in_days" class="form-control" [(ngModel)]="offerForm.valid_in_days" #valid_in_days="ngModel" appNumberOnly required />
        </div>
        <div class="col-md-12 form-group mb-3 quill-mb-5">
          <label>Description</label>
          <quill-editor class="rounded" [placeholder]="null" [(ngModel)]="offerForm.description" [ngModelOptions]="{standalone: true}"></quill-editor>
        </div>
        @for (x of offerForm.image_list; track x; let i = $index) {
          <div align="center" class="col-md-6 col-lg-4 form-group mb-3">
            <div class="card p-3 mt-3 mb-3">
              @if (offerForm.image_list.length>1) {
                <span (click)="offerForm.image_list.splice(i, 1);" class="material-icons item-close absolute-item-close float-right " aria-hidden="true">close</span>
              }
              <label>
                @if (!x.image) {
                  <div>
                    <i class="material-icons add-img">add_photo_alternate</i>
                    <p>Click to upload image</p>
                  </div>
                }
                @if (x.image && x.img_change) {
                  <img [src]="x.image" height="150" width="auto">
                }
                @if (x.image && !x.img_change) {
                  <img [src]="imgBaseUrl+x.image" height="150" width="auto">
                }
                <input type="file" name="image{{i}}" style="display: none;" (change)="fileChangeListener(i, $event);" accept="image/jpeg, image/png, image/webp" />
              </label>
            </div>
          </div>
        }
        @if (image_count > offerForm.image_list.length) {
          <div align="center" class="col-md-6 col-lg-4 d-flex align-items-center form-group mb-3 z-i-0">
            <div class="add-another-opt w-100" (click)="offerForm.image_list.push({});">
              <p>ADD IMAGE</p>
            </div>
          </div>
        }
      </div>
      <div class="separator-breadcrumb border-top mt-5"></div>
      <div class="row">
        @if (offerForm.errorMsg) {
          <div class="col-md-12 mt-3 mb-3">
            <p class="text-danger" align="center">{{ offerForm.errorMsg }}</p>
          </div>
        }
        <div align="center" class="col-md-12 z-i-0">
          <button type="button" routerLink="/features/dinamic-offers" class="btn btn-wide black-outline-btn">
            <span class="black-outline-txt">Cancel</span>
          </button>&nbsp; &nbsp; &nbsp;
          <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="offerForm.btnLoader" [ladda]="offerForm.btnLoader">
            {{params.id? 'Update': 'Add'}}
          </button>
        </div>
      </div>
    </form>
  </div>
}