<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Navigation</a>
        </li>
        <li>Footer Links</li>
    </ol> -->
    <div class="help-section">
        <h2>Website Footer</h2>
        <p>
            A footer is that part of your website that is placed at the bottom of the website. They
            often contain various things like copyright, site map, business logo, contact
            information, social media links and useful links that direct visitors through your
            website and help them find the information they're looking for. Useful links include
            internal page links, such as terms, returns, exchange, shipping, contact us, etc. </p>
        <h2>How to Edit Website Footer?</h2>
        <ol>
            <li>
                Go to your <a routerLink="/dashboard">Yourstore
                    Dashboard</a> and Go to <a routerLink="/setup/footer-content">Website → Footer
                    Configuration </a>
            </li>
        </ol>
        <h2>Adding Items the Footer</h2>
        <ol>
            <li>
                Update the default Address and Contact information by clicking on "Edit"
            </li>
            <li>
                Alternatively you choose to repurpose the address and contact field by changing the
                tile or by removing the title to hide it completely.
            </li>
            <li>
                Use Social Media and Payment Methods to update with your social handles and
                supported payment methods by your payment gateway respectively by clicking on
                "Edit".
            </li>
            <li>
                Use Footer Links to update the shortcuts or links that appear on the bottom of your
                footer by clicking on "Edit", use the existing sample data for your reference .
            </li>
        </ol>
    </div>
</div>