<div class="help-content">
    <div class="help-section">
        <h2>Settlements</h2>
        <ol>
            <li>Go to <a routerLink="/vendors/settlement">Managements → Settlements</a></li>

<li>Here you can find the list of the orders that are due settlement or have been settled.</li>

<li>Here you can find the date when the amount will be settled to your account for the respective orders.</li>

<li>Under value you would find two amounts Example: 105/110. Here 110 is the original value of the order and 105 is the settlement amount to you after the charges are deducted.</li>

<li>Status Paid denotes you have been settled and Pending denotes the amount is yet to be settled.</li>

<li>Click on View to get more details about the settlement charges.</li>
        </ol>
        
    </div>
</div>
