@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="top-filter-sec list-button">
      <div class="row mb-4">
        <div class="col-md-5 col-12">
          <div class="form-group search_bar m-0">
            <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
            <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
          </div>
        </div>
        @if (commonService.desktop_device) {
          <div class="col-md-7 list-button d-flex justify-content-end">
            <p class="mr-3 mt-2 mb-0  fw-500">
              Available Points: {{customerData.reward_pts}}
            </p>
            <button class="highbutton" type="button" (click)="pointForm={type: ''}; modalService.open(addPointsModal);">
              <span class="material-symbols-rounded">add</span> Add Points
            </button>
          </div>
        }
      </div>
    </div>
    @if ((list | fieldSearch:'order_number':search_bar)?.length) {
      <div class="list-horizontal">
        <div class="data-list-card-wrapper">
          <div class="data-list-card-inner">
            @if (commonService.desktop_device) {
              <div class="list-item data-list-card">
                <div class="col-md-12 first_col px-0 header-font">
                  <p class="w-40 w-sm-100">Details</p>
                  <p class="w-20 w-sm-100 m-b-0">Date</p>
                  <p class="w-20 w-sm-100 m-b-0">Points</p>
                  <p class="w-20 w-sm-100 m-b-0">Expiry Date</p>
                </div>
              </div>
            }
            @for (x of list | numOrderDesc:'_id' | fieldSearch:'order_number':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; track x; let i = $index) {
              <div class="list-item data-list-card" [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
                <div class="col-md-12 first_col px-0 cursor">
                  <p class="w-40 w-sm-100 dark-font">
                    @if (x.order_number) {
                      {{ (x.order_number.indexOf('Manual')!=-1)? x.order_number: 'Placed Order #'+x.order_number }}
                    }
                    @if (x.coupon_code) {
                      {{ x.coupon_percentage }}% Discount Coupon ({{ x.coupon_code }})
                    }
                    @if (!x.order_number && !x.coupon_code) {
                      Expired
                    }
                  </p>
                  <p class="w-20 w-sm-100 m-b-0 light-font">{{x.createdAt | date: "dd MMM y"}}</p>
                  <p class="w-20 w-sm-100 m-b-0 light-font extra_text">{{(x.order_type=='debit')? '-': '&nbsp;' }} {{x.points}}</p>
                  <p class="w-20 w-sm-100 m-b-0 light-font">{{(x.expiry_on)? (x.expiry_on | date: "dd MMM y"): '-'}}</p>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- PAGINATION CONTROL -->
        <div class="row">
          <div class="col-md-12 mt-3">
            <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
          </div>
        </div>
      </div>
    }
    @if (!(list | fieldSearch:'order_number':search_bar)?.length) {
      <div class="row">
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
          <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
          <p align="center">No data to display</p>
        </div>
      </div>
    }
  </div>
}

<!-- REWARD POINTS MODAL -->
<ng-template #addPointsModal let-modal>
  <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <span class="material-symbols-rounded cursor" (click)="modal.dismiss('Cross click');">arrow_back</span>
          <span class="popup_text">Add Points</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 form-group mb-3">
            <label>Type</label>
            <select name="type" class="form-control" [(ngModel)]="pointForm.type" required>
              <option value="">-- Select --</option>
              <option value="credit">Credit</option>
              <option value="debit">Debit</option>
            </select>
          </div>
          <div class="col-lg-12 form-group mb-3">
            <label>Points</label>
            <input type="number" (wheel)="commonService.handleWheel($event)" name="points" [(ngModel)]="pointForm.points" class="form-control" required min="1"/>
          </div>
          <div class="col-lg-12 form-group mb-3">
            <label>Reason</label>
            <textarea name="reason" class="form-control" [(ngModel)]="pointForm.reason"></textarea>
          </div>
        </div>
        @if (pointForm.error_msg) {
          <div class="mt-3" align="center">
            <p class="text-danger m-0">{{pointForm.error_msg}}</p>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide black-outline-btn" (click)="modal.dismiss('Cross click');">
          <span class="black-outline-txt">Cancel</span>
        </button>
        <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="pointForm.submit" [ladda]="pointForm.submit">
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>