<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <div class="breadcrumb">
    <h1>Promotions</h1>
  </div>
  <div class="top-filter-sec list-button mt-2">
    <div class="row mb-4">
      <div class="col-md-6 col-6">
        <div class="form-group search_bar m-0">
          <input type="text" name="search_bar" placeholder="Search" class="form-control" [(ngModel)]="search_bar" />
          <div class="search_icon"><span class="material-symbols-rounded">search</span></div>
        </div>
      </div>
      <div class="col-md-6 col-6 list-button d-flex justify-content-end">
        <button type="button" (click)="onAdd(promotionModal);">
          <span class="material-symbols-rounded">add</span>Add New
        </button>
      </div>
    </div>
  </div>

     <!-- DATA LIST -->
     <div *ngIf="(list | fieldSearch:'name':search_bar)?.length" class="list-horizontal">
      <div class="data-list-card-wrapper">
        <div class="data-list-card-inner">
          <div class="list-item data-list-card"
          *ngFor="let x of list | numOrderAsc:'rank' | fieldSearch:'name':search_bar | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index;"
            [@animate]="{value:'*',params:{delay: (i*100)+'ms', y:'50px'}}">
            <div class="col-md-2 col-2 first_col px-0 cursor">
              <div class="list-thumb d-flex align-self-center">
                <img [src]="imgBaseUrl+x.image" alt="">
              </div>
            </div>
            <div class="col-md-6 col-6 first_col align-items-center">
              <p class="w-50 w-sm-100 m-b-0 light-font">{{x.name}}</p>              
              <p class="w-50 w-sm-100 m-b-0 light-font"><span class="badge" [ngClass]="(x.active_status)? 'badge-success badge-green': 'badge-danger badge-red'">
                {{(x.active_status)? 'Enabled': 'Disabled'}}</span></p>
            </div>
            <div class="col-md-4 col-4">
              <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
                <button [ngClass]="commonService.desktop_device? 'light-button mr-3': 'iconbutton'" (click)="deleteForm = x; modalService.open(deleteModal, { centered: true });">
                  <span class="material-symbols-rounded" title="Share">delete</span> {{commonService.desktop_device? 'Remove': ''}}
                </button>
                <button [ngClass]="commonService.desktop_device? 'dark-button': 'iconbutton'" (click)="onEdit(x, promotionModal);">
                  <span class="material-symbols-rounded right_arrow transicon" title="Edit">{{commonService.desktop_device? 'edit': 'chevron_right'}}</span> {{commonService.desktop_device? 'Edit': ''}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- PAGINATION CONTROL -->
      <div class="row">
        <div class="col-md-12 mt-3">
          <pagination-controls (pageChange)="page=$event; commonService.pageTop(0);" autoHide="true" responsive="true"
            maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
        </div>
      </div>
    </div>
  


  <div *ngIf="!(list | fieldSearch:'name':search_bar)?.length" class="row">
    <div class="col-md-12 d-flex flex-column align-items-center justify-content-center no-rec-found-wrapper">
      <img class="no-rec-found" src="assets/images/no_records_found.png" alt="no-records">
      <p align="center">No data to display</p>
    </div>
  </div>
</div>

<!-- PROMOTION MODAL -->
<ng-template #promotionModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ (proForm.form_type=='add')? 'Add': 'Update' }} Promotion</h4>
  </div>
  <form autocomplete="off" (ngSubmit)="onSubmit()" ngNativeValidate ngbAutofocus>
    <div class="modal-body">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="active_status" [(ngModel)]="proForm.active_status">
              <span>Enable</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="col-md-12" align="center">
            <p>Photo Resolution: 450x300</p>
            <div *ngIf="proForm.image">
              <span (click)="proForm.img_change=null; proForm.image=null" class="material-icons item-close float-right" aria-hidden="true">close</span>
              <img *ngIf="proForm.img_change" [src]="proForm.image" height="100px;" width="auto;">
              <img *ngIf="!proForm.img_change" [src]="imgBaseUrl+proForm.image" height="100px;" width="auto;">
            </div>
            <div *ngIf="!proForm.image">
              <label>
                <div>
                  <i class="material-icons add-img">add_photo_alternate</i>
                  <p>Click to upload image</p>
                </div>
                <input type="file" name="image" style="display: none;" (change)="fileChangeListener($event);" accept="image/jpeg, image/png, image/webp" />
              </label>
            </div>
          </div>
          <div class="col-md-8 form-group mb-3">
            <label>Name</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="proForm.name" #name="ngModel" required />
          </div>
          <div class="col-md-4 form-group mb-3">
            <label>Rank</label>
            <input type="number" (wheel)="commonService.handleWheel($event)" name="rank" class="form-control" [(ngModel)]="proForm.rank" appNumberOnly
            min="1" max="{{(proForm?.form_type == 'add')? list.length+1: list.length}}"  required />
          </div>
          <!-- device type -->
          <div class="row mb-3 mt-3 form-group">
            <div class="col-md-3" *ngFor="let x of deviceTypes; let i=index;">
              <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="device_type{{i}}" [(ngModel)]="x.status">
              <span>{{x.disp}}</span>
              <span class="checkmark"></span>
              </label> 
            </div>
          </div>
          <!-- link -->
          <div class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="link_status" (change)="!proForm.link_type? proForm.link_type='category': ''" [(ngModel)]="proForm.link_status" >
              <span>Enable Link</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container *ngIf="proForm.link_status">
            <div class="col-md-4 form-group mb-3">
              <label class="radio radio-primary">
                <input type="radio" name="link_type" [(ngModel)]="proForm.link_type" value="category">
                <span>Link to Category</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-4 form-group mb-3">
              <label class="radio radio-primary">
                <input type="radio" name="link_type" [(ngModel)]="proForm.link_type" value="service">
                <span>Link to Service</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-4 form-group mb-3">
              <label class="radio radio-primary">
                <input type="radio" name="link_type" [(ngModel)]="proForm.link_type" value="package">
                <span>Link to Package</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div *ngIf="proForm.link_type=='category'" class="col-md-12 form-group mb-3">
              <label>Category</label>
              <select name="link_id" class="form-control select-arrow" [(ngModel)]="proForm.link_id" required>
                <option [ngValue]="x.name" *ngFor="let x of commonService.package_categories;">{{x.display}}</option>
              </select>
            </div>
            <div *ngIf="proForm.link_type=='service'" class="col-md-12 form-group mb-3">
              <label>Service</label>
              <select name="link_id" class="form-control select-arrow" [(ngModel)]="proForm.link_id" required>
                <option [ngValue]="x.name" *ngFor="let x of commonService.admin_ys_services;">{{x.display}}</option>
              </select>
            </div>
            <div *ngIf="proForm.link_type=='package'" class="col-md-12 form-group mb-3">
              <label>Package</label>
              <select name="link_id" class="form-control select-arrow" [(ngModel)]="proForm.link_id" required>
                <option [ngValue]="x._id" *ngFor="let x of commonService.admin_packages;">{{x.name}}</option>
              </select>
            </div>
          </ng-container>
          <!-- redirection -->
          <div class="col-md-12 form-group mb-3">
            <label class="checkbox checkbox-primary">
              <input class="form-check-input" type="checkbox" name="rd_status" (change)="!proForm.rd_type? proForm.rd_type='internal': ''" [(ngModel)]="proForm.rd_status" >
              <span>Enable Redirection</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <ng-container *ngIf="proForm.rd_status">
            <div class="col-md-4 form-group mb-3">
              <label class="radio radio-primary">
                <input type="radio" name="rd_type" [(ngModel)]="proForm.rd_type" value="internal">
                <span>Internal</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-4 form-group mb-3">
              <label class="radio radio-primary">
                <input type="radio" name="rd_type" [(ngModel)]="proForm.rd_type" value="external">
                <span>External</span>
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="col-md-12 form-group mb-3">
              <label *ngIf="proForm.rd_type=='internal'">{{baseUrl+proForm.rd_to}}</label>
              <label *ngIf="proForm.rd_type=='external'">Redirect To</label>
              <input type="text" name="rd_to" class="form-control" [(ngModel)]="proForm.rd_to" required />
            </div>
          </ng-container>
        </div>
      </div>
      <div *ngIf="proForm.errorMsg">
        <p class="text-danger">{{ proForm.errorMsg }}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-wide black-outline-btn" id="closeModal" (click)="modal.dismiss('Cross click');">
        <span class="black-outline-txt">Cancel</span>
      </button>
      <button type="submit" class="btn btn-wide btn-primary ladda-button m-1">
        {{ (proForm?.form_type == 'add')? 'Add' : 'Update' }}
      </button>
    </div>
  </form>
</ng-template>


<!-- DELETE MODAL -->
<ng-template #deleteModal let-modal>
  <div class="modal-body">
    <p><strong>Are you sure you want to permanently delete the <span class="txt-grdint-highlight">"{{deleteForm.name}}"</span>
        promotion?</strong></p>
    <div *ngIf="deleteForm.errorMsg">
      <p class="text-danger">{{ deleteForm.errorMsg }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="closeModal" class="btn btn-wide black-outline-btn"
      (click)="modal.dismiss('Cross click');">
      <span class="black-outline-txt">No</span>
    </button>
    <button type="button" (click)="onDelete();" class="btn btn-wide orng-outline-btn">
      <span class="orng-outline-txt">Yes</span>
    </button>
  </div>
</ng-template>