<div *ngIf="pageLoader" class="row">
  <app-spinner></app-spinner>
</div>

<div *ngIf="!pageLoader">
  <ng-container *ngIf="commonService.desktop_device">
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-8">
          <div class="d-flex align-items-center">
            <span *ngIf="params?.type" class="material-symbols-rounded pr-2 cursor" routerLink="/setting/shop-assistant">arrow_back</span>
            <h1>Shop Assistant</h1>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <!-- <ng-container *ngIf="commonService.desktop_device">
    <div class="breadcrumb with-back-btn">
      <div class="row">
        <div class="col-md-8">
          <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
          <h1>Shop Assistant</h1>
        </div>
      </div>
    </div>
  </ng-container> -->

  <div class="data-list-card-wrapper" *ngIf="!params?.type">
    <div class="data-list-card-inner">
      <div class="list-item data-list-card" *ngIf="commonService.desktop_device">
        <div class="col-md-10 col-10 first_col px-0 header-font">
          <p class="w-50 w-sm-100">Name</p>
          <p class="w-50 w-sm-100 m-b-0">Options</p>
        </div>
      </div>
      <div class="list-item data-list-card">       
        <div class="col-md-10 col-10 first_col px-0 cursor">
          <p class="w-50 w-sm-100 dark-font">Shop Assistant</p>
          <p class="w-50 w-sm-100 m-b-0 light-font">{{list?.length}} {{list?.length>1? 'Sections': 'Section'}}, {{totalOptions}} {{totalOptions>1? 'Options':
            'Option'}}</p>
        </div>
        <div class="col-md-2 col-2">
          <div class="row justify-content-end" [ngClass]="commonService.desktop_device? '': 'more_icons'">
            <button [ngClass]="commonService.desktop_device? 'dark-button': 'iconbutton'" type="button" routerLink="/setting/shop-assistant/edit">
              <span class="material-symbols-rounded right_arrow transicon">{{commonService.desktop_device? 'visibility':
                'chevron_right'}} </span> {{commonService.desktop_device? 'View': ''}}
            </button>        
          </div>            
        </div>
      </div>
    </div>      
  </div>

   
  <div class="row m-0"> 
    <form *ngIf="params?.type" autocomplete="off" (ngSubmit)="onUpdate();" ngNativeValidate ngbAutofocus>
      <div class="card mb-4 p-4 poss-rel" *ngFor="let x of list; let i=index;">
        <div>
          <span (click)="list.splice(i, 1);" class="material-icons float-right round-btn-icon ab-item-close top5"
            aria-hidden="true">delete</span>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mb-3">
            <label>Section Heading</label>
            <input type="text" name="section_heading{{i+1}}" class="form-control" [(ngModel)]="x.heading"
              #section_heading="ngModel" required />
          </div>
          <div class="col-md-4 form-group mb-3">
            <label>Section Sub-heading</label>
            <input type="text" name="section_sub_heading{{i+1}}" class="form-control" [(ngModel)]="x.sub_heading"
              #sub_heading="ngModel" />
          </div>
          <div class="col-md-4 form-group mb-3">
            <label>Choice Type</label>
            <select name="type{{i+1}}" id="type" class="form-control" [(ngModel)]="x.type" #type="ngModel" required>
              <option value="either_or">Choose One</option>
              <option value="multiple">Unlimited Choice</option>
            </select>
          </div>
          <!-- Option List -->
          <div class="col-md-6 col-lg-4 d-flex" *ngFor="let y of x.option_list; let j=index;">
            <div class="card card-in-card p-3 mb-4 w-100">

              <ng-container *ngIf="x.option_list.length > 1">
                <span (click)="x.option_list.splice(j, 1);"
                class="material-icons float-right round-btn-icon ab-item-close top5" aria-hidden="true">close</span>
              </ng-container>

              <div class="mb-2" align="center">
                <label>
                  <div *ngIf="!y.image">
                    <i class="material-icons add-img">add_photo_alternate</i>
                    <p>Click to upload image <br> (Resolution: 150 x 150px)</p>
                  </div>
                  <img *ngIf="y.image && y?.img_change" [src]="y.image" height="100px;" width="auto;">
                  <img *ngIf="y.image && !y?.img_change" [src]="imgBaseUrl+y.image" height="100px;" width="auto;">
                  <input type="file" name="y.image{{i+1}}{{j+1}}" style="display: none;"
                    (change)="fileChangeListener(i, j, $event)" accept="image/jpeg, image/png, image/webp" />
                </label>
              </div>
              <div *ngIf="i>0" class="form-group">
                <label>Option Link To</label>
                <select name="link_to{{i+1}}{{j+1}}" id="link_to" class="form-control" [(ngModel)]="y.link_to"
                  #link_to="ngModel" required>
                  <option value="all">All</option>
                  <option *ngFor="let z of list[i-1].option_list; let k=index;" [ngValue]="z.heading">{{z.heading}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Option Name</label>
                <input type="text" name="option_heading{{i+1}}{{j+1}}" placeholder="Title your option here"
                  class="form-control" [(ngModel)]="y.heading" #option_heading="ngModel" required />
              </div>
              <div class="form-group">
                <label>Option Hint</label>
                <input type="text" name="option_sub_heading{{i+1}}{{j+1}}" placeholder="Enter the hint for this option"
                  class="form-control" [(ngModel)]="y.sub_heading" #option_sub_heading="ngModel" />
              </div>
            </div>
          </div>
          <div class="col-md-12 p-0">
            <div class="col-md-6 col-lg-4">
              <button class="light-button" (click)="x.option_list.push({});">
                <span class="material-symbols-rounded">add</span> ADD OPTION
              </button>
              </div>
            <!-- <div class="col-md-6 col-lg-4 z-i-0">
              <div class="add-another-opt" (click)="x.option_list.push({});">
                <p class="w-100 x-close">ADD OPTION</p>
              </div>
            </div> -->
          </div>
          <!-- #Option List -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4">
          <button class="light-button" (click)="list.push({ option_list: [{}] });">
            <span class="material-symbols-rounded">add</span>ADD SECTION
          </button>
          </div>
        <!-- <div class="col-md-12">
          <span class="add-another  x-close" (click)="list.push({ option_list: [{}] });">
            <b>{{ list?.length? 'ADD SECTION': 'ADD SECTION' }}</b>
          </span>
        </div> -->
      </div>
      <!-- #Customization List -->

      <div class="separator-breadcrumb border-top mt-5"></div>
      <div class="row">
        <div *ngIf="errorMsg" class="col-md-12 mt-3 mb-3">
          <p class="text-danger" align="center">{{ errorMsg }}</p>
        </div>
        <div align="center" class="col-md-12 z-i-0">
          <button type="button" routerLink="/setting/shop-assistant" class="btn btn-wide black-outline-btn">
            <span class="black-outline-txt">Cancel</span>
          </button>&nbsp; &nbsp; &nbsp;
          <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader"
            [ladda]="btnLoader">Update</button>
        </div>
      </div>
    </form>
  </div>

</div>