@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>{{commonService.secondary_header}}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <form autocomplete="off" (ngSubmit)="onSubmit();" ngNativeValidate ngbAutofocus>
      <div class="row">
        <div class="col-md-6 form-group mb-3">
          <label>Name</label>
          <input type="text" name="addon_name" class="form-control" [(ngModel)]="collectionForm.name" #name="ngModel" required />
        </div>
        <div class="col-md-6 form-group mb-3">
          <label>Rank</label>
          <input type="number" (wheel)="commonService.handleWheel($event)" name="rank" class="form-control" [(ngModel)]="collectionForm.rank" #rank="ngModel" min="1" max="{{maxRank}}" appNumberOnly required />
        </div>
        <!-- Link List -->
        @for (x of collectionForm.links; track x; let i = $index) {
          <div class="col-md-6 mb-3">
            <div class="card p-3">
              <div class="row">
                @if (collectionForm.links?.length>1) {
                  <div>
                    <span (click)="collectionForm.links.splice(i, 1);" class="material-icons float-right round-btn-icon ab-item-close top5" aria-hidden="true">close</span>
                  </div>
                }
                <div class="col-md-12 form-group mb-3">
                  <label>{{i+1}}) Link Name</label>
                  <input type="text" name="custom_name{{i}}" class="form-control" [(ngModel)]="x.name" required />
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label class="radio radio-primary">
                    <input type="radio" name="type{{i}}" [(ngModel)]="x.link_type" value="category">
                    <span>Link to Catalog</span>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label class="radio radio-primary">
                    <input type="radio" name="type{{i}}" [(ngModel)]="x.link_type" value="product">
                    <span>Link to Product</span>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label class="radio radio-primary">
                    <input type="radio" name="type{{i}}" [(ngModel)]="x.link_type" value="internal">
                    <span>Link to Internal Link</span>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label class="radio radio-primary">
                    <input type="radio" name="type{{i}}" [(ngModel)]="x.link_type" value="external">
                    <span>Link to External Link</span>
                    <span class="checkmark"></span>
                  </label>
                </div>
                @if (x.link_type=='category' || x.link_type=='product') {
                  <div class="col-md-12 form-group mb-3">
                    <label>{{x.link_type=='category'? 'Link to Catalog': 'Catalogs'}}</label>
                    <select name="category_id{{i}}" class="form-control select-arrow" [(ngModel)]="x.category_id"
                      (change)="x.productList=[]" #category_id="ngModel" required>
                      @for (x of commonService.catalog_list | orderAsc: 'name'; track x) {
                        <option [ngValue]="x._id">{{x.name}}</option>
                      }
                    </select>
                  </div>
                }
                @if (x.link_type=='product') {
                  <div class="col-md-9 form-group mb-3">
                    <input type="text" name="search_bar{{i}}" placeholder="Search" (input)="x.productList=[]" class="form-control" [(ngModel)]="x.search_bar" />
                  </div>
                  <div class="col-md-3 form-group mb-3 d-flex justify-content-end">
                    <button [disabled]="!x.category_id || x.search_bar?.length<3" type="button"
                    (click)="searchProduct(x.category_id, x.search_bar, i);" class="btn search-btn btn-wide btn-primary">Search</button>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Link to Product
                      @if (x.searchLoader) {
                        <i class="ml-1 fa fa-circle-o-notch fa-spin search-spin"></i>
                      }
                      @if (!x.searchLoader && x.category_id && x.search_bar?.length>=3) {
                        ({{x.productList.length}} products found)
                      }
                    </label>
                    <select name="product_id{{i}}" class="form-control select-arrow" [(ngModel)]="x.product_id" required>
                      @for (y of x.productList; track y) {
                        <option [ngValue]="y._id">{{y.name}}</option>
                      }
                    </select>
                  </div>
                }
                @if (x.link_type=='internal' || x.link_type=='external') {
                  <div class="col-md-12 form-group mb-3">
                    @if (x.link_type=='internal') {
                      <label>{{commonService.store_details?.base_url}}{{x.link}}</label>
                    }
                    @if (x.link_type=='external') {
                      <label>External Link</label>
                    }
                    <input type="text" name="link{{i}}" class="form-control" [(ngModel)]="x.link" required />
                  </div>
                }
              </div>
            </div>
          </div>
        }
        <!-- #Link List -->
      </div>
      <div class="row m-0">
        <button type="button" class="light-button" (click)="collectionForm.links.push({ link_type: 'category' });">
          <span class="material-symbols-rounded">add</span> ADD LINK
        </button>
      </div>
      <div class="separator-breadcrumb border-top mt-5"></div>
      <div class="row">
        @if (collectionForm.errorMsg) {
          <div class="col-md-12 mt-3 mb-3">
            <p class="text-danger" align="center">{{ collectionForm.errorMsg }}</p>
          </div>
        }
        <div align="center" class="col-md-12 z-i-0">
          <button type="button" routerLink="/setup/footer-seo-links" class="btn btn-wide black-outline-btn">
            <span class="black-outline-txt">Cancel</span>
          </button>&nbsp; &nbsp; &nbsp;
          <button type="submit" class="btn btn-wide btn-primary ladda-button m-1" [disabled]="btnLoader" [ladda]="btnLoader">{{ params.id? 'Update': 'Save' }}</button>
        </div>
      </div>
    </form>
  </div>
}