@if (pageLoader) {
  <div class="row">
    <app-spinner></app-spinner>
  </div>
}

@if (!pageLoader) {
  <div>
    @if (commonService.desktop_device) {
      <div class="breadcrumb with-back-btn">
        <div class="row">
          <div class="col-md-8">
            <div class="d-flex align-items-center">
              <span class="material-symbols-rounded pr-2 cursor" [routerLink]="commonService.redirect">arrow_back</span>
              <h1>#{{ order_details.quot_number }}</h1>
            </div>
          </div>
        </div>
      </div>
    }
    <div class="row">
      <div class="col-lg-9">
        <!-- customer details -->
        <div class="order-section mtb-10">
          <p class="sec-desc">Customer Details</p>
          <div class="col-md-12 list-item p-0 mtb-10">
            <div class="card o-hidden mb-4 d-flex flex-row">
              <div class="flex-grow-1 pl-2 d-flex">
                <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                  <p class="w-35 w-sm-100 m-b-0">{{ order_details.customer_name }}</p>
                  <p class="w-35 w-sm-100 m-b-0">
                    {{ (order_details.customerDetails?.length)? order_details.customerDetails[0].email: order_details.guest_email }}
                  </p>
                  <p class="w-30 w-sm-100 m-b-0">
                    @if (order_details.customerDetails[0]?.mobile) {
                      {{order_details.customerDetails[0].dial_code}} {{order_details.customerDetails[0].mobile}}
                    }
                    @if (!order_details.customerDetails[0]?.mobile) {
                      {{order_details.company_address?.dial_code}} {{order_details.company_address?.mobile}}
                    }
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- product details -->
        <div class="order-section">
          <div class="pb-2 d-flex justify-content-between">
            <p class="sec-desc" style="display: inline-block;">Product Details</p>
            @if (params?.type!='confirmed' && params?.type!='cancelled') {
              <span class="material-icons edit-icon-span " aria-hidden="true" (click)="onEdit('product', productModal);">edit</span>
            }
          </div>
          <div class="col-md-12 list-item p-0">
            @for (x of order_details.item_list; track x; let i = $index) {
              <div class="card o-hidden mb-4 d-flex flex-row">
                <div class="list-thumb d-flex mtb-20">
                  <img [src]="imgBaseUrl+x.image" alt="">
                </div>
                <div class="flex-grow-1 pl-2 d-flex mtb-20">
                  <div class="card-body row">
                    <div class="col-md-7 d-flex justify-content-center flex-column">
                      <span>{{x.name}}</span>
                      @if (x.variant_status) {
                        @for (y of x.variant_types; track y) {
                          <span class="w-100">
                            <b>{{y.name}}: </b>{{y.value}}
                          </span>
                        }
                      }
                      @if (x.addon_status && x.selected_addon) {
                        <span class="w-100">
                          <b>Addon: </b>{{x.selected_addon?.name}}
                        </span>
                      }
                      @if (x.customization_status) {
                        <p (click)="commonService.custom_model=x.customized_model; modalService.open(customizationModal, { size: 'lg'});" class="w-100 text-primary cursor">
                          {{x.customized_model?.name}}
                        </p>
                      }
                    </div>
                    <div class="col-md-2 flex-center">{{x.quantity}} {{x.unit? x.unit: 'Qty'}}</div>
                    @if (x.unit=='Pcs') {
                      <div class="col-md-2 flex-center flex-column justify-content-center">
                        @if (x.final_price != x.revised_final_price) {
                          <span style="text-decoration: line-through;">
                            {{ (x.final_price*x.quantity) | currency: commonService.store_currency?.country_code}}<br>
                          </span>
                        }
                        {{ (x.revised_final_price*x.quantity) | currency: commonService.store_currency?.country_code}}
                      </div>
                    }
                    @if (x.unit!='Pcs') {
                      <div class="col-md-2 flex-center flex-column justify-content-center">
                        @if (x.final_price != x.revised_final_price) {
                          <span>
                            {{ ((x.final_price*x.quantity)+x.revised_addon_price) | currency: commonService.store_currency?.country_code}}<br>
                          </span>
                        }
                        {{ ((x.revised_final_price*x.quantity)+x.revised_addon_price) | currency: commonService.store_currency?.country_code}}
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
        <!-- order note -->
        @if (commonService.ys_features.indexOf('order_note')!=-1) {
          <div class="order-section">
            <div class="pb-2 d-flex justify-content-between">
              <p class="sec-desc" style="display: inline-block;">Note</p>
              <span (click)="onEdit('note', orderNoteModal);" class="material-icons edit-icon-span " aria-hidden="true">edit</span>
              <!-- <i style="float:right;"  class="material-icons edit-icon">edit</i> -->
            </div>
            <div class="col-md-12 list-item p-0">
              <div class="card o-hidden mb-4 d-flex flex-row">
                <div class="flex-grow-1 pl-2 d-flex">
                  <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    @if (order_details?.order_note) {
                      <p class="w-30 w-sm-100 m-b-0" [innerHTML]="transformHtml(order_details.order_note)"></p>
                    }
                    @if (!order_details?.order_note) {
                      <p class="w-30 w-sm-100 m-b-0">NA</p>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        <!-- gst details -->
        @if (order_details.gst?.company || order_details.gst?.number) {
          <div class="order-section">
            <div class="pb-2 d-flex justify-content-between">
              <p class="sec-desc" style="display: inline-block;">GST Details</p>
              <!-- <span class="material-icons edit-icon-span " aria-hidden="true">edit</span> -->
            </div>
            <div class="col-md-12 list-item p-0">
              <div class="card o-hidden mb-4 d-flex flex-row">
                <div class="flex-grow-1 pl-2 d-flex">
                  <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center flex-lg-row">
                    <p class="w-50 w-sm-100 m-b-0">{{ (order_details.gst?.company)? order_details.gst?.company: 'NA' }}</p>
                    <p class="w-50 w-sm-100 m-b-0">{{ (order_details.gst?.number)? order_details.gst?.number: 'NA' }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
        <!-- company address -->
        <div class="order-section">
          <div class="row">
            <!-- shipping address -->
            <div class="col-md-6">
              <div class="summary-section mtb-10">
                <div class="order-summary-header pb-2 d-flex justify-content-between">
                  <p class="sec-desc" style="display: inline-block;">Shipping Address</p>
                  @if (params?.type!='confirmed' && params?.type!='cancelled') {
                    <span class="material-icons edit-icon-span"
                    (click)="addressType='shipping'; onEdit('address', addressModal);" aria-hidden="true">edit</span>
                  }
                </div>
                <div class="card order-summary-details h-100">
                  <div class="row mtb-20">
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Name</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.name}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Mobile No</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.dial_code}} {{order_details.company_address?.mobile}}
                        </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Country</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.country}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>State</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.state}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>City</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.city}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Pincode</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.company_address?.pincode}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Address</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right" align="end">{{order_details.company_address?.address}}</p>
                      </div>
                    </div>
                    @if (order_details?.company_address?.landmark) {
                      <div class="col-6">
                        <div class="box-card card-head">
                          <p>Landmark</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="box-card">
                          <p class="pull-right text-right">{{order_details.company_address?.landmark}}</p>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
            <!-- billing address -->
            <div class="col-md-6">
              <div class="summary-section mtb-10">
                <div class="order-summary-header pb-2 d-flex justify-content-between">
                  <p class="sec-desc" style="display: inline-block;">Billing Address</p>
                  @if (params?.type!='confirmed' && params?.type!='cancelled') {
                    <span class="material-icons edit-icon-span"
                    (click)="addressType='billing'; onEdit('address', addressModal);" aria-hidden="true">edit</span>
                  }
                </div>
                <div class="card order-summary-details h-100">
                  <div class="row mtb-20">
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Name</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.name}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Mobile No</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.dial_code}} {{order_details.billing_address?.mobile}}
                        </p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Country</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.country}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>State</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.state}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>City</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.city}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Pincode</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right">{{order_details.billing_address?.pincode}}</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card card-head">
                        <p>Address</p>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="box-card">
                        <p class="pull-right text-right" align="end">{{order_details.billing_address?.address}}</p>
                      </div>
                    </div>
                    @if (order_details?.billing_address?.landmark) {
                      <div class="col-6">
                        <div class="box-card card-head">
                          <p>Landmark</p>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="box-card">
                          <p class="pull-right text-right">{{order_details.billing_address?.landmark}}</p>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <!-- quotation summary -->
        <div class="summary-section mtb-10">
          <div class="order-summary-header">
            <p class="sec-desc">Quotation Summary</p>
          </div>
          <div class="card order-summary-details mtb-10">
            <div class="row mtb-10">
              <div class="col-6">
                <div class="box-card card-head">
                  <p>Sub Total</p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-card">
                  <p class="pull-right text-right">{{order_details.sub_total | currency: commonService.store_currency?.country_code}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-card card-head">
                  <p>Shipping Cost</p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-card">
                  <p class="pull-right text-right">{{order_details.shipping_cost | currency: commonService.store_currency?.country_code}}</p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-card card-head">
                  <p>Grand Total</p>
                </div>
              </div>
              <div class="col-6">
                <div class="box-card">
                  <p class="pull-right text-right">{{order_details.final_price | currency: commonService.store_currency?.country_code}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- order status -->
        <div class="order-summary-header">
          <p class="sec-desc">Quotation Status</p>
        </div>
        <div class="card order-summary-details mtb-10">
          <div class="row mtb-10">
            @if (order_details?.created_on) {
              <div class="col-5">
                <div class="box-card card-head">
                  <p>Placed on</p>
                </div>
              </div>
              <div class="col-7">
                <div class="box-card">
                  <p class="pull-right text-right">{{ order_details.created_on | date: "dd MMM y hh:mm a" }}</p>
                </div>
              </div>
              <div class="col-5">
                <div class="box-card card-head">
                  <p>Processed on</p>
                </div>
              </div>
              <div class="col-7">
                <div class="box-card">
                  <p class="pull-right text-right">{{ order_details.modified_on | date: "dd MMM y hh:mm a" }}</p>
                </div>
              </div>
              @if (params?.type=='confirmed' || params?.type=='cancelled') {
                <div class="col-5">
                  <div class="box-card card-head">
                    <p>{{ (params?.type=='confirmed')? 'Confirmed': 'Cancelled' }} on</p>
                  </div>
                </div>
                <div class="col-7">
                  <div class="box-card">
                    @if (params?.type=='confirmed') {
                      <p class="pull-right text-right">{{ order_details.confirmed_on | date: "dd MMM y hh:mm a" }}</p>
                    }
                    @if (params?.type=='cancelled') {
                      <p class="pull-right text-right">{{ order_details.cancelled_on | date: "dd MMM y hh:mm a" }}</p>
                    }
                  </div>
                </div>
              }
            }
            @if (params?.type!='confirmed' && params?.type!='cancelled') {
              <div class="col-md-12 px-0">
                <button type="button" (click)="quotForm = { _id: order_details._id, email: order_details.customer_email }; modalService.open(sendQuotationModal);"
                class="btn btn-primary ladda-button w-100">Send Revised Quotation</button>
              </div>
            }
          </div>
        </div>
        <!-- # order status -->
        @if (params?.type!='confirmed' && params?.type!='cancelled') {
          <button type="button" (click)="errorMsg=null; btnLoader=false; modalService.open(confirmModal, { centered: true });" class="btn btn-success w-100 mtb-10">Finalize Quotation</button>
          <button type="button" (click)="errorMsg=null; btnLoader=false; modalService.open(cancelModal, { centered: true });" class="btn btn-info w-100 mtb-10">Cancel Quotation</button>
        }
        @if (params?.type=='confirmed') {
          @if (!order_details.order_id) {
            <button (click)="orderForm={}; modalService.open(createOrderModal);"
            type="button" class="btn btn-success w-100 mtb-10">Create Order</button>
          }
          <!-- <button *ngIf="order_details.order_id" routerLink="/orders/product/view/all/{{order_details.order_id}}"
        type="button" class="btn btn-success w-100 mtb-10">View Order</button> -->
      }
    </div>
  </div>
</div>
}

<!-- customization modal -->
<ng-template #customizationModal let-modal>
  <div class="main-header-div">
    <div class="m-header">
      <h5 class="modal-title">
        <strong>{{commonService.custom_model?.name}}</strong><br>
        <span>These are the details of this customization</span>
      </h5>
    </div>
    <p class="m-close-btn m-1">
      <a (click)="modal.dismiss('Cross click');">CLOSE</a>
    </p>
  </div>
  <div class="modal-body modal-scroll slim-scroll ml-3 mr-3" id="customizationPdf">
    <app-customization-details></app-customization-details>
  </div>
</ng-template>

<!-- update product -->
<ng-template #productModal let-modal>
  <form autocomplete="off" (ngSubmit)="onUpdateProduct();" ngNativeValidate ngbAutofocus>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Product Price</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-6 form-group mb-3">
          <label>Shipping Cost</label>
          <input type="tel" name="shipping_cost" [(ngModel)]="editForm.shipping_cost" #shipping_cost="ngModel" class="form-control" appNumberOnly required />
        </div>
        <!-- item list -->
        @for (x of editForm.item_list; track x; let i = $index) {
          <div class="col-md-12">
            <div class="card card-in-card m-10 d-flex flex-row">
              @if (x.image) {
                <div class="list-thumb d-flex p-2 align-self-center">
                  <img width="100px" height="100px" [src]="imgBaseUrl+x.image" alt="">
                </div>
              }
              <div class="flex-grow-1 pl-2 d-flex">
                <div class="card-body row">
                  <div class="col-md-9 d-flex justify-content-center flex-column">
                    <span>{{x.name}}</span>
                    @if (x.variant_status) {
                      @for (y of x.variant_types; track y) {
                        <span class="w-100 w-sm-100 m-b-0 light-font"><b>{{y.name}}: </b>{{y.value}}</span>
                      }
                    }
                    @if (x.addon_status && x.selected_addon) {
                      <span class="w-100 w-sm-100 m-b-0 light-font">
                        <b>Addon: </b>{{x.selected_addon?.name}}
                      </span>
                    }
                    <span class="w-100 w-sm-100 m-b-0 light-font">
                      {{x.quantity}} {{x.unit}}
                    </span>
                    @if (x.unit=='Pcs') {
                      <span class="w-35 w-sm-100 mb-2 light-font">
                        {{ x.final_price | currency: commonService.store_currency?.country_code}}
                      </span>
                    }
                    @if (x.unit!='Pcs') {
                      <span class="w-35 w-sm-100 mb-2 light-font">
                        {{ (x.final_price+x.addon_price) | currency: commonService.store_currency?.country_code}}
                      </span>
                    }
                  </div>
                  <div class="col-md-3 d-flex justify-content-center align-items-end flex-column">
                    <div class="form-group mb-3">
                      <label class="light-font"><b> Discounted Price</b></label>
                      <input type="tel" name="revised_final_price{{i}}" [(ngModel)]="x.revised_final_price" #revised_final_price="ngModel" class="form-control" appNumberOnly required />
                    </div>
                    @if (x.unit!='Pcs' && x.revised_addon_price>0) {
                      <div class="form-group mb-3">
                        <label>Addon Price</label>
                        <input type="tel" name="revised_addon_price{{i}}" [(ngModel)]="x.revised_addon_price" #revised_addon_price="ngModel" class="form-control" appNumberOnly required />
                      </div>
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
      <div class="modal-footer">
        <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel');">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div></form>
  </ng-template>

  <!-- update order note -->
  <ng-template #orderNoteModal let-modal>
    <form autocomplete="off" (ngSubmit)="onUpdate({_id: order_details._id, order_note: editForm.order_note });" ngNativeValidate ngbAutofocus>
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Update Note</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="row">
              <div class="col-md-12 form-group mb-3">
                <label>Order Note</label>
                <textarea class="form-control" rows="5" aria-label="With textarea" name="order_note" [(ngModel)]="editForm.order_note"
                required></textarea>
              </div>
            </div>
          </div>
          @if (editForm.errorMsg) {
            <div>
              <p class="text-danger">{{ editForm.errorMsg }}</p>
            </div>
          }
        </div>
        <div class="modal-footer">
          <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel');">Cancel</button>
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div></form>
    </ng-template>

    <!-- update address -->
    <ng-template #addressModal let-modal>
      <form autocomplete="off" (ngSubmit)="onUpdateAddress();" ngNativeValidate ngbAutofocus>
        <div class="modal-content">
          <div class="modal-header">
            @if (addressType=='shipping') {
              <h4 class="modal-title" id="modal-basic-title">Update Shipping Address</h4>
            }
            @if (addressType=='billing') {
              <h4 class="modal-title" id="modal-basic-title">Update Billing Address</h4>
            }
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label>Name</label>
                  <input type="text" name="name" [(ngModel)]="addressForm.name" #name="ngModel" class="form-control" required />
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Country</label>
                  <select name="country" [(ngModel)]="addressForm.country" (change)="addressForm.state=null; onCountryChange(addressForm.country);"
                    class="form-control select-arrow" required>
                    @for (x of country_list | orderAsc: 'name'; track x) {
                      <option [ngValue]="x.name">{{x.name}}</option>
                    }
                  </select>
                </div>
                <!-- if state list exist -->
                @if (state_list?.length) {
                  <div class="col-md-6 form-group mb-3">
                    <label>State</label>
                    <select name="state" [(ngModel)]="addressForm.state" class="form-control select-arrow" required>
                      @for (x of state_list | orderAsc: 'name'; track x) {
                        <option [ngValue]="x.name">{{x.name}}</option>
                      }
                    </select>
                  </div>
                }
                <!-- if not state list exist -->
                @if (!state_list?.length) {
                  <div class="col-md-6 form-group mb-3">
                    <label>State</label>
                    <input type="text" name="state" [(ngModel)]="addressForm.state" #state="ngModel" class="form-control" required />
                  </div>
                }
                <div class="col-md-6 form-group mb-3">
                  <div class="modal-input">
                    <div class="input-group mobile-no">
                      <div class="dial-code input-group-prepend d-flex flex-column">
                        <label>Dial Code</label>
                        <select name="dial_code" [(ngModel)]="addressForm.dial_code" #dial_code="ngModel" class="form-control" required>
                          @for (x of country_list | orderAsc: 'name'; track x) {
                            <option [ngValue]="x.dial_code">{{x.dial_code}} ({{x.code}})
                            </option>
                          }
                        </select>
                      </div>
                      <div class="enter-no d-flex flex-column">
                        <label>Mobile</label>
                        <input type="text" name="mobile" [(ngModel)]="addressForm.mobile" #mobile="ngModel" class="form-control" required />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>City</label>
                  <input type="text" name="city" [(ngModel)]="addressForm.city" #city="ngModel" class="form-control" required />
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label>Pincode</label>
                  <input type="text" name="pincode" [(ngModel)]="addressForm.pincode" #pincode="ngModel" class="form-control" [readonly]="addressType=='shipping' && order_details?.cp_orders?.length"
                    required />
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Complete Address</label>
                    <textarea class="form-control" rows="3" aria-label="With textarea" name="address" [(ngModel)]="addressForm.address" #address="ngModel"
                    required></textarea>
                  </div>
                  <div class="col-md-12 form-group mb-3">
                    <label>Landmark</label>
                    <input type="text" name="landmark" [(ngModel)]="addressForm.landmark" #landmark="ngModel" class="form-control" />
                  </div>
                </div>
              </div>
              @if (addressForm.errorMsg) {
                <div>
                  <p class="text-danger">{{ addressForm.errorMsg }}</p>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel');">Cancel</button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </ng-template>

      <!-- send quotation -->
      <ng-template #sendQuotationModal let-modal>
        <form autocomplete="off" (ngSubmit)="onSendQuotation(quotForm);" ngNativeValidate ngbAutofocus>
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Send Revised Quotation</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 form-group mb-3">
                    <label>Email</label>
                    <input type="email" name="email" [(ngModel)]="quotForm.email" #email="ngModel" class="form-control" required />
                  </div>
                </div>
              </div>
              @if (quotForm.errorMsg) {
                <div>
                  <p class="text-danger">{{ quotForm.errorMsg }}</p>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel');">Cancel</button>
              <button type="submit" class="btn btn-wide btn-primary ladda-button" [disabled]="quotForm.submit"
              [ladda]="quotForm.submit">Send</button>
            </div>
          </div></form>
        </ng-template>

        <!-- Confirm Quotation -->
        <ng-template #confirmModal let-modal>
          <div class="modal-body">
            <p>
              <strong>Are you sure you want to finalize the
                <span class="text-danger">"#{{order_details.quot_number}}"</span> quotation?</strong>
              </p>
              @if (errorMsg) {
                <div>
                  <p class="text-danger">{{ errorMsg }}</p>
                </div>
              }
            </div>
            <div class="modal-footer">
              <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel')">No</button>
              <button type="button" (click)="onConfirmOrder();" class="btn btn-primary ladda-button" [disabled]="btnLoader" [ladda]="btnLoader">Yes</button>
            </div>
          </ng-template>

          <!-- Cancel Quotation -->
          <ng-template #cancelModal let-modal>
            <div class="modal-body">
              <p>
                <strong>Are you sure you want to cancel the
                  <span class="text-danger">"#{{order_details.quot_number}}"</span> quotation?</strong>
                </p>
                @if (errorMsg) {
                  <div>
                    <p class="text-danger">{{ errorMsg }}</p>
                  </div>
                }
              </div>
              <div class="modal-footer">
                <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel')">No</button>
                <button type="button" (click)="onCancelOrder();" class="btn btn-primary ladda-button" [disabled]="btnLoader" [ladda]="btnLoader">Yes</button>
              </div>
            </ng-template>

            <!-- create order -->
            <ng-template #createOrderModal let-modal>
              <form autocomplete="off" (ngSubmit)="onCreateOrder();" ngNativeValidate ngbAutofocus>
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Create Order</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-12 form-group mb-3">
                          <label>Shipping Name</label>
                          <input type="text" name="shipping_name" [(ngModel)]="orderForm.shipping_name" class="form-control" required />
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>Delivery Time</label>
                          <select name="delivery_time" class="form-control" [(ngModel)]="orderForm.delivery_time" required>
                            <option value="Same day">Same day</option>
                            <option value="Next day">Next day</option>
                            <option value="1 to 2 days">1 to 2 days</option>
                            <option value="2 to 5 days">2 to 5 days</option>
                            <option value="More than 5 days">More than 5 days</option>
                          </select>
                        </div>
                        <div class="col-md-12 form-group mb-3">
                          <label>Payment Method</label>
                          <select name="payment_type" class="form-control" [(ngModel)]="orderForm.payment_type" required>
                            @for (x of commonService.payment_list | numOrderAsc: 'rank'; track x) {
                              <option [ngValue]="x.name">{{x.name}}</option>
                            }
                          </select>
                        </div>
                        @if (orderForm.payment_type && orderForm.payment_type!='COD') {
                          <div class="col-md-12 form-group mb-3">
                            <label>Payment ID</label>
                            <input type="text" name="payment_id" [(ngModel)]="orderForm.payment_id" class="form-control" required />
                          </div>
                        }
                      </div>
                    </div>
                    @if (orderForm.errorMsg) {
                      <div>
                        <p class="text-danger">{{ orderForm.errorMsg }}</p>
                      </div>
                    }
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-wide btn-outline-secondary" (click)="modal.dismiss('cancel');">Cancel</button>
                    <button type="submit" class="btn btn-wide btn-primary ladda-button" [disabled]="orderForm.submit"
                    [ladda]="orderForm.submit">Submit</button>
                  </div>
                </div></form>
              </ng-template>