<div class="help-content">
    <!-- <ol class="breadcrumbs">
        <li><a routerLink="/support">Support</a></li>
        <li>
            <a routerLink="/support">Navigation</a>
        </li>
        <li>Footer Links</li>
    </ol> -->
    <div class="help-section">
        <h2 class="mb-2">Dashboard</h2>
        <p>Your dashboard shows you an overview of your sales data & inventory.
        </p>
        <p>
            <b>Filter</b><br>
            The Filter allows you to select from different data ranges all the data displayed below are based on the duration or date range selected here. By default it is set to the current date.
            </p>
            <p>
            <b>Uploads</b><br>
            Shows the number of products uploaded to the store during the selected period in the filter.
            </p>
            <p>
            <b>Item Sold</b><br>
            Displays a count of sold items.
            </p>
            <p>
            <b>Total Orders</b><br>
            Displays a count of your received orders.
            </p>
            <p>
            <b>Average Order Value</b><br>
            The average value of the orders received.
            </p>
            <p>
            <b>Total Sale</b><br>
            Displays the total amount of your order.
            </p>
            <p>
            <b>Net Sale</b><br>
            Displays the total amount after order cancellations.
            </p>
            
            <p>
            <b>Amount Banked</b><br>
            After delivery of the order, the banked amount will be settled on the next settlement.
            </p>
            <p>
            <b>Next Settlement</b><br>
            Displays the date and amount of the next settlement to your account.
            </p>
    </div>
</div>